<template>
  <CSidebar 
    fixed 
    :minimize="minimize"
    :show="show"
    @update:show="(value) => $store.commit('set', ['sidebarShow', value])"
  >
    <CSidebarBrand class="d-md-down-none" to="/">
    <!-- <CIcon name="cil-swap-vertical" class="c-sidebar-brand-full" :height="35" /> -->
    <h3 class="c-sidebar-brand-full" :height="30">{{appName}}</h3>
    <CIcon name="cil-transfer" class="c-sidebar-brand-minimized" :height="35" />
      <!-- <CIcon 
        class="c-sidebar-brand-full" 
        name="logo" 
        size="custom-size" 
        :height="35" 
        viewBox="0 0 556 134"
      />
      <CIcon 
        class="c-sidebar-brand-minimized" 
        name="logo" 
        size="custom-size" 
        :height="35" 
        viewBox="0 0 110 134"
      /> -->
    </CSidebarBrand>
    <CSidebarNav flat>
    <CSidebarNavItem name="Dashboard" to="/dashboard" icon='cil-speedometer'></CSidebarNavItem>
    <CSidebarNavItem name="Notifications" to="/notifications" icon='cil-bell' :badge="{
          color: 'primary',
          text: $store.state.user.notifications_count?$store.state.user.notifications_count:'loading...'
      }"></CSidebarNavItem>
    <CSidebarNavDropdown v-for="(modul, modulIndex) in sidebar" :icon='modul.icon' :name="modul.text" :key="modulIndex">
        <CSidebarNavDropdown v-for="(submodul, submodulIndex) in modul.children" :icon='submodul.icon' :name="submodul.text" :key="submodulIndex" style="padding-left:5px;">
            <CSidebarNavItem v-for="(page,pageIndex) in submodul.children"  
              :icon='page.icon' 
              :name="page.text" 
              :key="pageIndex" 
              :to="page.path"
              style="padding-left:5px;">
            </CSidebarNavItem>
        </CSidebarNavDropdown>
    </CSidebarNavDropdown>
    </CSidebarNav>
    <!-- <CSidebarNavDropdown icon='cil-star' name="Modul">
      <CSidebarNavDropdown icon='cil-star' name="SubModul" style="padding-left:11px;">
      </CSidebarNavDropdown>
    </CSidebarNavDropdown> -->
    <!-- <CRenderFunction flat :content-to-render="$options.nav"/> -->
    <CSidebarMinimizer
      class="d-md-down-none"
      @click.native="$store.commit('set', ['sidebarMinimize', !minimize])"
    />
  </CSidebar>
</template>

<script>
export default {
  name: 'TheSidebar',
  computed: {
    sidebar(){
      return this.$store.state.sidebar;
    },
    show () {
      return this.$store.state.sidebarShow 
    },
    minimize () {
      return this.$store.state.sidebarMinimize 
    }
  }
}
</script>
<style>
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
</style>
