// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";
.ul-column{
  padding-left:16px;
}
.ul-column li{
  margin-bottom:8px;
}
.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.c-sidebar{
  width: 300px;
}
.form-control{
  height:38px !important;
}
.input-group-text{
  height: 38px !important;
}
textarea.form-control {
    height: auto !important;
}
.input-group-append button{
  height: 38px !important;
}
.vs__selected-options{
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.modal .vs__selected-options{
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
}
.vs__actions{
  position: absolute;
  right:0;
  margin-right:3px;
  background-color: #fff;
  padding: 4px 6px 0 3px;
  height: 24px;
  margin-top: 3px;
}
.vs__selected-options .vs__actions{
  padding: 10px 6px 0 3px;
}
.modal .vs__dropdown-toggle{
  overflow: hidden !important;
}
.modal{
  z-index: 99 !important;
}
.modal-backdrop.show{
  z-index: 80 !important;
}
.c-header.c-header-fixed {
  z-ndex: 70 !important;
}
.c-header.c-header-fixed{
  z-index: 71 !important;
}

@media (min-width: 1200px){
  .container, .container-sm, .container-md, .container-lg, .container-xl{
    max-width: 100% !important;
  }
}
@media (min-width: 576px){
  .container, .container-sm {
    max-width: 100% !important;
  }
}
@media (min-width: 992px){
  .c-sidebar.c-sidebar-fixed{
    z-index: 75 !important;
  }
  .container, .container-sm, .container-md, .container-lg {
    max-width: 100% !important;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper, html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper{
    margin-left: 300px;
}
html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-wrapper, html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-wrapper{
    margin-left:56px;
  }
html:not([dir="rtl"]) .c-sidebar:not(.c-sidebar-right){
    margin-left:-300px;
  }
.c-sidebar-nav-link, .c-sidebar-nav-dropdown-toggle{
  padding:0.65rem 0.6rem;
  }
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link, html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle{
    padding-left:60px;
  }
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link, html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle{
    padding-left:60px;
  }
html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-wrapper, html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-wrapper{
    margin-left:46px; 
}
.c-sidebar-nav{
    font-size:14px;
  }
.c-sidebar-minimized.c-sidebar-fixed{
    width:46px;
  }
}
@media (min-width: 768px){
.container, .container-sm, .container-md {
    max-width:100% !important;
  }
}
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link, html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle{
  padding-left: 56px ;
}
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link, html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle{
  padding-left: 56px ;
}
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link, html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle{
  padding-left: 56px;
}
html:not([dir="rtl"]) .c-sidebar:not(.c-sidebar-right){
  margin-left: -300px;
}
.myDatatableDepan input, select{
  height:calc(1.1em + 0.75rem + 2px) !important;
  font-size:unset !important;
  padding:0.2rem 0.75rem !important;
}
.myDatatableDepan .my-2{
  margin-top:0px !important;
}
.datatableMultiModal input, select{
  height:calc(1.1em + 0.75rem + 2px) !important;
  font-size:unset !important;
  padding:0.2rem 0.75rem !important;
}

// DATATABLE 
.myDatatableDepan>.responsive, .myDatatableDepan>.table-responsive{
  overflow-x:auto;
  width:100%;
}
.myDatatableDepan>.responsive>.table tr, .myDatatableDepan>.table-responsive>.table tr{
  margin-bottom:-2px;
}
.myDatatableDepan>.table-responsive>.table thead, .myDatatableDepan > .responsive > .table thead{
  width: calc(100% - 0.5rem) !important;
}
.myDatatableDepan>.table-responsive> .table tbody::-webkit-scrollbar, .myDatatableDepan>.responsive> .table tbody::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
.myDatatableDepan > .responsive> .table tbody, .myDatatableDepan > .table-responsive> .table tbody{
  overflow-y:scroll !important;
  scrollbar-width: thin;
  max-height:290px;
}
.myDatatableDepan > .table-responsive> .table tbody::-webkit-scrollbar-track,
.myDatatableDepan > .responsive> .table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 1px;
}
.myDatatableDepan > .table-responsive> .table tbody::-webkit-scrollbar-thumb,
.myDatatableDepan > .responsive> .table tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
.myDatatableDepan>.table-responsive-sm>.table tbody {
  height:100%;
}
#popup-table>tbody{
  max-height:250px !important;
}
.table th, .table td {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}
.myDatatableDepan > .table-responsive >.table-striped {
  height:250px;
}




@media (max-width: 992px){
  .card-custom{
    min-height:150px;
    overflow-y:auto;
    overflow-x:auto;
  }
}
.custom-table{
  display: inline-grid;
}
.myDatatableDepan > .table-responsive > .table tbody{
    overflow-x:hidden;
    overflow-y:scroll;
    height:100%;
    scrollbar-width: thin;
}
.myDatatableDepan > .table-responsive > .table thead{
  width: calc(100% - 0.5rem) !important;
}
.myDatatableDepan >.table-responsive{
  overflow-x:scroll;
}
.myDatatableDepan > .table-responsive> .table tbody::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.myDatatableDepan > .table-responsive> .table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 1px;
}

.myDatatableDepan > .table-responsive> .table tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
.card-custom{
  overflow-x:auto;
}
.card-custom::-webkit-scrollbar {
    width: 0.3rem;
}
.card-custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
.card-custom::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.table th, .table td {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}
.custom-table th, .custom-td td{
  padding: 0.2rem !important
}
.center{
  text-align:center;
}
.right{
  text-align:right;
}
.myDatatableDepan tr{
  margin-bottom:-2px;
}
.card-custom{
  margin-left: -0.2rem;
  margin-bottom: 0px;
}
.myDatatableDepan > .table-responsive > .table th:last-child {
    padding-right: 0.2rem !important; 
}





.myDatatableMulti>.table-responsive>.table th, .myDatatableMulti>.table-responsive>.table td {
    padding: 0.1rem 0.2rem !important;
    font-size:small !important;
    /* vertical-align: top;
    border-top: 1px solid #dee2e6; */
}
.myDatatableMulti>.table-responsive>.table tbody{
    display:block;
    overflow-y: auto;
    overflow-x:hidden;
    height: 280px !important;
    width: 100%;
}
.myDatatableDepan>.table-responsive>.table tbody tr, .myDatatableDepan>.table-responsive>.table tfoot, .myDatatableDepan>.table-responsive>.table thead{
  display:table;
  width:100%;
  table-layout:fixed;
}
.myDatatableDepan>.responsive>.table tbody, .myDatatableDepan>.table-responsive>.table tbody{
  display: block;
  overflow-y: auto;
  width: 100%;
}
.myDatatableMulti>.table-responsive>.table thead, .myDatatableMulti>.table-responsive>.table tbody tr, .myDatatableMulti>.table-responsive>.table tfoot {
  display:table;
  width:100%;
  table-layout:fixed;
}
.myDatatableMulti>.table-responsive>.table th:last-child {
  padding-right: 0px !important;
}
.myDatatableMulti>.table-responsive{
  overflow-x:hidden;
}