<template>
  <div class="c-app flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm>
                  <p class="text-center">
                  <img src="/factory_logo.png" alt="" class="img-logo">  
                  </p>
                  <!-- <h1>Login</h1> -->
                  <!-- <p class="text-muted">Sign In to your account</p> -->
                  
                  <CInput
                    placeholder="Username"
                    autocomplete="username email"
                    v-model="m_user_login"
                    @keydown="keydown"
                  >
                    <template #prepend-content><CIcon name="cil-user"/></template>
                  </CInput>
                  <CInput
                    placeholder="Password"
                    type="password"
                    autocomplete="curent-password"
                    v-model="m_user_password"
                    @keydown="keydown"
                  >
                    <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                  </CInput>
                  <CRow>
                    <CCol col="6" class="text-left">
                      <!-- <CButton color="link" class="px-0">Forgot password?</CButton> -->
                      <CButton color="link" class="d-lg-none" @click="register">Register now!</CButton>
                    </CCol>
                    <CCol col="6" class="text-right">
                      <CButton color="dark" class="px-4" @click="login" :disabled="islogging">
                        <CRow><span>Login</span> <CSpinner v-if="islogging" color="success" size="sm" style="margin-top:5px;margint-left:2px;"/></CRow>
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard
              color="dark"
              text-color="white"
              class="text-center py-5 d-md-down-none"
              body-wrapper
            >
              <CCardBody>
                
                <h2>Sign up</h2>
                <p>Don't Have Any Account?</p>
                <CButton
                  color="light"
                  variant="outline"
                  size="lg"
                  @click="register"
                >
                  Register Now!
                </CButton>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data(){
      return {
          islogging:false,
          m_user_password:"",
          m_user_login:""
      }
  },
  methods:{
    keydown(evt){
        if(evt.key=='Enter'){
            this.login();
        }
    },
    login(){
        let me = this;
        me.islogging=true;
        this.apiLogin({
            m_user_login:this.m_user_login,
            m_user_password:this.m_user_password
        },function(response){
            let currentHeader = me.$store.state.apiHeader;
            currentHeader['Authorization'] = response.model.userToken;
            currentHeader['UserToken'] = response.model.userToken;
            me.$store.commit("set",["apiHeader",currentHeader]);
            me.apiAfterLogin();
            window.localStorage.token=response.model.userToken;
            me.$router.push({ name: 'Home' });
        },function(error){
            vm.$alertify.alertWithTitle('Failed!',error);
            me.islogging=false;
        })
    },
    register(){
      vm.$alertify.alertWithTitle('Sorry!',"Registration is currently disabled!");
    }
  }
}
</script>
<style scoped>
.img-logo{
  width:180px;
}
.text-center{
  text-align: center;
}
</style>