<template>
  <div class="d-flex align-items-center custom-bg min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm v-if="openRegister">
                <h3>Register</h3>
                <p class="text-muted">Create your account</p>
                <CInput
                  placeholder="Name"
                  autocomplete="username"
                  v-model="values.name"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="Email"
                  autocomplete="email"
                  prepend="@"
                  v-model="values.email"
                />
                <CInput
                  placeholder="Password"
                  type="password"
                  autocomplete="new-password"
                  v-model="values.password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CInput
                  placeholder="Repeat password"
                  type="password"
                  autocomplete="new-password"
                  class="mb-4"
                  v-model="values.password_confirmation"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CCol class="text-center mt-4">
                    <CButton color="success" @click="submit" :disabled="values.name==''||values.email==''||values.password==''||values.password_confirmation==''">Submit Registration</CButton>
                </CCol>
              </CForm>
              <CForm v-else><strong>Registration is currently disabled!</strong> </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data(){
      return {
          values:{
            name:"",
            email:"",
            password:"",
            password_confirmation:""
          },
          openRegister:false
      }
  },
  created(){
    if(this.$route.query.ref===undefined || this.$route.query.ref!='cGNpc3Vrc2Vz'){
      this.openRegister=false;        
      this.$router.push({name:'Login'});
    }else{
      this.openRegister=true;
    }
  },
  methods:{
      submit:function(){
          let me = this;
            this.apiRegister(me.values,
            function(response){
                me.$alertify.alertWithTitle('Verify your Account!',"We have sent to your email for verification!");
                me.$router.push({ name: 'Login' })
            },function(error){
                try{
                    for(let key in error){
                        vm.$alertify.error(error[key].join(","));                        
                    }
                    vm.$alertify.alertWithTitle('Failed!','Data Tidak Valid');
                }catch(e){
                    vm.$alertify.alertWithTitle('Failed!',error);
                }
            })
      }
  }
}
</script>
<style scoped>
.custom-bg{
  background-color:#ebedef;
}
.card-body{
  padding:30px !Important;
  /* border-radius:15px; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(207,207,207,1);
  box-shadow: 0px 0px 5px 0px rgba(207,207,207,1);
}
</style>