<template>
  <ValidationProvider :rules="required ? 'required' : ''" :name="label">
    <b-form-group
      label-cols="4"
      label-cols-lg="3"
      slot-scope="{ valid, errors }"
    >
      <template v-slot:label
        >{{ label }}
        <span v-if="required" class="text-danger">*</span></template
      >
      <b-input-group>
        <b-form-select
          v-model="newValue"
          :options="options"
          :state="errors[0] ? false : null"
          :disabled="disabled"
          @change="change"
        ></b-form-select>
        <slot />
        <b-form-invalid-feedback>
          {{ errors[0] }}
        </b-form-invalid-feedback>
      </b-input-group>
    </b-form-group>
  </ValidationProvider>
</template>

<script>
import InputMixin from "./InputMixin";

export default {
  mixins: [InputMixin],
  props: {
    options: {
      type: Array,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      newValue: this.value,
    };
  },
  watch: {
    newValue(val) {
      this.$emit("input", val);
    },
    value(val) {
      this.newValue = val;
    },
  },
  methods: {
    change(val) {
      this.$emit("change", val);
    },
  },
};
</script>
