<template>
  <ValidationProvider :rules="required ? 'required' : ''" :name="label">
    <b-form-group
      label-cols="4"
      label-cols-lg="3"
      slot-scope="{ valid, errors }"
    >
      <template v-slot:label
        >{{ label }}
        <span v-if="required" class="text-danger">*</span></template
      >
      <b-form-textarea
        v-model="newValue"
        :readonly="readonly"
        :rows="rows"
        :disabled="disabled"
        :state="errors[0] ? false : null"
      />
      <b-form-invalid-feedback>
        {{ errors[0] }}
      </b-form-invalid-feedback>
    </b-form-group>
  </ValidationProvider>
</template>

<script>
import InputMixin from "./InputMixin";

export default {
  mixins: [InputMixin],
  props: {
    rows: {
      type: Number,
      default: 3,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      newValue: this.value,
    };
  },
  watch: {
    newValue(val) {
      this.$emit("input", val);
    },
    value(val) {
      this.newValue = val;
    },
  },
};
</script>
