<template>
  <ValidationProvider :rules="required ? 'required' : ''" :name="label">
    <b-form-group
      label-cols="4"
      label-cols-lg="3"
      slot-scope="{ valid, errors }"
    >
      <template v-slot:label
        >{{ label }}
        <span v-if="required" class="text-danger">*</span></template
      >
      <b-input-group>
        <b-form-input
          v-model="newValue"
          :readonly="readonly"
          :type="type"
          :state="errors[0] ? false : null"
          :max="max"
          step="any"
        />
        <slot />
        <b-form-invalid-feedback>
          {{ errors[0] }}
        </b-form-invalid-feedback>
      </b-input-group>
    </b-form-group>
  </ValidationProvider>
</template>

<script>
import InputMixin from "./InputMixin";

export default {
  props: {
    type: {
      type: String,
      default: "text",
    },
    max: [Number, String],
    min: [Number, String],
  },
  mixins: [InputMixin],
  data() {
    return {
      newValue: this.value,
    };
  },
  watch: {
    newValue(val) {
      this.$emit("input", val);
    },
    value(val) {
      this.newValue = val;
    },
  },
};
</script>
