<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
        >
          <CIcon name="cil-check-circle" /> Clear
        </CButton>
        <!-- <CButton style="margin-right:5px" type="reset" size="sm" color="danger" @click="reset">
          <CIcon name="cil-ban"/> Reset</CButton> -->
      </CCol>
    </CRow>
  </div>
</template>
<script>
import rawData from "./data.json";
import DecoderPdf from "@/elements/DecoderPdf";
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },
  data() {
    return {
      title: "Master Warehouse", //gantilah
      apiEndpoint: "/setup/warehouse", //gantilah
      routeEndpoint: "/setup/master_warehouse", //gantilah
      values: {
        //gantilah
        active_flag: "ACTIVE",
      },
      // isDetailUpdate: false,
      id: null,
      rowSpaces:[
        {
          id: "m_warehouse_phone",
          position: "after",
          total:1
        }
      ],
      properties: {
        m_company_id:{
          displayField: `m_company_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_company_id: row.id, m_company: row.m_company_name };
          },
          api: {
            autoLoad: false,
            model: "/setup/businessunit",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              console.log(element.$parent.$parent)
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                m_depo_id:null,
                m_depo:null
              })
              me.values.m_company_id = value.m_company_id;
              me.values.m_company = value.m_company;
              me.$refs.header.getFields("m_depo_id").load()
            }
          }
        },
        m_depo_id:{
          displayField: `m_depo_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_depo_id: row.id, m_depo: row.m_depo_name };
          },
          api: {
            model: "/setup/depo",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
              // companyID: 35
            },
            overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let values = me.$refs.header?.getValues();
                let cek_user = me.$store.state.user;
                let companyID = 0;
                if(me.id == null){
                  if(values == null || values == undefined){
                    companyID = cek_user.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }else{ 
                  companyID = me.values.m_company_id
                  // if(values == null || values == undefined){
                  // }else{
                  //   companyID = values.m_company_id;
                  // }
                }
                Object.assign(oldParams, {
                  companyID: `${companyID}`
                })
              } catch (error) {console.log(error)}
              return oldParams;
            },
            root: "model",
          },
        },
        m_warehouse_city_id:{
          displayField: `m_general_desc`,
          valueField:"id",
          reduce: (row) => {
            return { m_warehouse_city_id: row.id, m_warehouse_city: row.m_general_desc };
          },
          api: {
            autoLoad: false,
            model: "/setup/general",
            parameters: {
              filterField: "m_general_group",
              filterText: "CITY",
              pageSize: 10000
            },
            root: "model",
          },
        },
        m_warehouse_type:{
          displayField: `o_type_name`,
          valueField:"o_type_name",
          reduce: (row) => {
            return { m_warehouse_type: row.o_type_name, m_warehouse_type: row.o_type_name };
          },
          api: {
            autoLoad: false,
            model: "/setup/itemtype",
            parameters: {
              filterField: "o_type_group",
              filterText: "WAREHOUSE",
              pageSize: 10000
            },
            root: "model",
          },
        },
        active_flag: {
          options: ["ACTIVE","INACTIVE"],
        },
        
      },
      key: 0,
      detailKey: 0,
      hideHeader: true,
    };
  },
  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.apiRead(
        {
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },
        function(response) {
          console.log(me);
          me.$refs.header.setValues(response.model);
          me.$refs.header.getFields("m_depo_id").load();
          // console.log(response.model);
          // console.log(me.$refs.header.getValues());
        },
        function(error) {
          console.log(error);
        }
      );
    }else{
      console.log("create", me);
    }
  },
  mounted() {
     let me = this;
     if (this.$route.params.id == undefined) {
      console.log('mounted',me);
      let cek_user = this.$store.state.user;
      me.$refs.header.setValues(
        { 
          m_company_id : cek_user.m_company_id, 
          m_depo_id : cek_user.m_depo_id
          }
      );
      // me.$refs.header.setValues({ m_depo_id : cek_user.m_depo_id});
     }
  },
  methods: {
    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "Warehouse" });
      }
    },
    transaction_detail_on_change(data) {
      console.log(data);
    },
    onSelect(data) {
      //this.transaction_detail = this.transaction_detail.concat(data);
    },
    // beforeSubmit() {
    //   //gantilah isinya
    //   // let is_primary = false;
    //   // for (let index in this.transaction_detail) {
    //   //   is_primary = this.transaction_detail[index].is_primary;
    //   //   if (is_primary) {
    //   //     return true;
    //   //   }
    //   // }
    //   // if (!is_primary) {
    //   //   vm.$alertify.alertWithTitle(
    //   //     "Warning!",
    //   //     "Maaf, Silahkan pilih salah satu Primary Responsibility"
    //   //   );
    //   //   return false;
    //   // }
    // },
    submit() {
      let me = this;
      if (!this.$refs["header"].getValid()) {
        return;
      }
      let val = this.values;
      let values = me.$refs["header"].getValues();
      //console.log("CROTTT", values);
      //values["status"] = "ACTIVE" ? true : false;
      //console.log("CROOTT2", values);
      if (me.id === null) {
        me.apiCreate(
          {
            model: me.apiEndpoint,
            data: values,
          },
          function(response) {
            me.$parent.setCreating(false);
            //me.$router.push({ name: "Warehouse" });
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiUpdate(
          {
            model: me.apiEndpoint,
            id: me.id,
            data: values,
          },
          function(response) {
            me.$router.push({ name: "Warehouse" });
          },
          function(error) {
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
<style></style>