<template>
  <div>
    <CRow>
      <CCol>
        <transition name="fade">
          <Formulir v-if="isCreating" />
          <Datatable
            v-else
            ref="landing"
            :api="{
              model: apiEndpoint,
              parameters: {
                paginate: 25,
                countDetail: 1,
                filterField:'id,t_os_no,t_os_h_status,m_company_code,m_company_name,m_division_name,m_depo_name,m_subcon_name',
              },
              transform: function(dt) {
                dt['text'] = dt['nama'];
                return dt;
              },
            }"
            :fields="fields"
            :paginate="25"
          >
            <template #header>
              <CIcon name="cil-grid" /> {{ title }}
              <div class="card-header-actions">
                <CCol>
                  <CRow>
                    <CButton
                      color="success"
                      variant="outline"
                      size="sm"
                      style="margin-right:5px"
                      @click="isCreating = true"
                    >
                      &nbsp;New Data&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-playlist-add"
                      />
                    </CButton>
                    <!-- <CButton color="secondary" variant="outline">
                        &nbsp;Print&nbsp;&nbsp;<CIcon name="cil-print"/>
                    </CButton> -->
                    <CButton color="warning" variant="outline" size="sm">
                      &nbsp;Export&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-arrow-thick-to-bottom"
                      />
                    </CButton>
                  </CRow>
                </CCol>
              </div>
            </template>

            <template
              v-for="(fieldData, fieldIndex) in fields"
              v-slot:[fieldData.key]="{ item }"
            >
              <td
                :style="getWidth(fieldData.key, fields)"
                :key="fieldIndex"
                :class="fieldData._classes"
              >
                <p
                  class="text-center"
                  style="margin:0px"
                  v-if="fieldData.key == 'active_flag'"
                >
                  <CBadge
                    :color="
                      item[fieldData.key] == 'ACTIVE' ? 'primary' : 'danger'
                    "
                  >
                    {{ item[fieldData.key] }}
                  </CBadge>
                </p>
                <span v-else>{{ item[fieldData.key] }}</span>
              </td>
            </template>

            <template #action="{item}">
              <td :style="getWidth('action', fields)">
                <p class="text-center" style="margin:0px">
                  <CButton
                    color="success"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :to="$route.path + '/' + item.id"  
                  >
                  <CIcon name="cil-pencil" size="sm" /></CButton>
                  <CButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    @click="
                      apiDelete(
                        {
                          model: '/Production/OrderSubcondetail',
                          id: item.id,
                        },
                        function(dt) {
                          $refs.landing.load();
                        }
                      )"
                  >
                  <CIcon name="cil-trash" size="sm" />
                  </CButton> 
                </p>
              </td>
            </template>
          </Datatable>
        </transition>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import Formulir from "./Form";
export default {
  components: { Formulir },
  data() {
    return {
      title: "Order Subcon", //gantilah
      apiEndpoint: "/Production/OrderSubcon", //gantilah
      isCreating: false,
      fields: [
        {key: "no",_style: "text-align:center;width:10%",width: 10,filter: false,sorter: false},
        {key: "t_os_no",label: "No.OS",_style: "text-align:left;width:20%",width: 20,filter: true,sorter: true},
        {key: "t_os_date",label: "OS Date",_style: "text-align:left;width:10%",width: 10,filter: true,sorter: true},
        {key: "m_subcon_name",label: "OS Name",_style: "text-align:left;width:20%",width: 20,filter: true,sorter: true},
        {key: "t_os_h_note",label: "OS Note",_style: "text-align:left;width:20%",width: 20,filter: true,sorter: true},
        {key: "t_os_h_status",label: "Status",_style: "text-align:left;width:10%",width: 10,filter: true,sorter: true},
        {key: "action",_classes: "text-center",_style: "text-align:center;width:10%",width: 10}
      ],
    };
  },
  activated() {
    this.$refs.landing.load();
  },
  methods: {
    action(item){
      let me = this;
      this.$modal.show(
          Preview,
          { row: item,parent:me },
          { height: 'auto',modal:true }
        )
    },
  },
};
</script>
