<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>
      <CCol md="12" style="margin-top:0px">
        <Form 
            ref="detail" 
            :rawData="formData" 
            :index="1"
            :cols="2"   
            :props.sync="propertiesDetail" 
            :formWidth="'100%'" 
            :fieldWidth="'100%'"
            :values.sync="values"
            >
            <template #footer>                            
                <CCol class="text-center" style="margin-bottom:12px">
                    <CButton ref="butonadd" v-if="!isDetailUpdate" color="warning" @click="addToDetail('shipment_detail')">
                      &nbsp;Add to List&nbsp;&nbsp;<CIcon
                        name="cil-list-low-priority"
                        size="sm"
                      />
                    </CButton>
                    <CButton ref="butonupdate" v-else color="success" @click="addToDetail('shipment_detail')">
                      &nbsp;Update&nbsp;&nbsp;<CIcon
                        name="cil-pencil"
                        size="sm"
                      />
                    </CButton>
                    &nbsp;&nbsp;
                    <CButton style="margin-right:5px" type="reset" color="danger" @click="ClearForm">&nbsp;Reset&nbsp;&nbsp;
                    <CIcon name="cil-ban" size="sm"/></CButton>
                </CCol>
            </template>
        </Form>
        <Detail
            ref="mar_tra_shipment_panel"
            :pagination="false"
            :table-filter="false"
            btn_class='text-right'
            title=''
            :key="detailKey"
        >
            <template #table>
                <QDataTable
                    :border="true"
                    :fields="multiSelectFields"
                    :items.sync="shipment_detail"
                    :items-per-page="10"
                    :key="key2"
                    :pagination="{
                    size: 'sm',
                    align: 'end',
                    }"
                    :responsive="true"
                    small
                >
                    
                    
                <template #no='{index}'>
                    <td class="text-center" style="text-align:center;width:5%">
                        <span>{{(index+1) }}</span>
                    </td>
                </template>
                <template #choose="{index}">
                  <td class="text-center">
                      <p class="text-center" style="margin:0px">
                      <CButton
                          color="info"
                          variant="outline"
                          size="sm"
                          style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                          @click="updateDetail('shipment_detail',index)"
                      >
                          <CIcon name="cil-pencil" size="sm" />
                      </CButton>
                      </p>
                      <p class="text-center" style="margin:0px">
                      <CButton
                          color="danger"
                          variant="outline"
                          size="sm"
                          style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                          @click="removeDetail('shipment_detail',index)"
                      >
                          <CIcon name="cil-trash" size="sm" />
                      </CButton>
                      </p>
                  </td>
                </template>
                </QDataTable>
            </template>
        </Detail>
        
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
          ref="butonsubmit"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
          ref="butonclear"
        >
          <CIcon name="cil-check-circle" /> Clear
        </CButton>
        <!-- <CButton style="margin-right:5px" type="reset" size="sm" color="danger" @click="reset">
          <CIcon name="cil-ban"/> Reset</CButton> -->
      </CCol>
    </CRow>
  </div>
</template>
<script>
import rawData from "./data.json";
import DecoderPdf from "@/elements/DecoderPdf";
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },
  data() {
    return {
      title: "Shipment/Surat Jalan", //gantilah
      apiEndpoint: "/marketing/shipment", //gantilah
      routeEndpoint: "/marketing/transaction_shipment", //gantilah
      values: {
        //gantilah
        active_flag: "ACTIVE",
        shipment_id: 0,
        do_d_id : null,
        t_ship_d_unit_id : null,
      },
      values2:{},
      isDetailUpdate: false,
      shipment_detail: [],
      id: null,
      created_at: null,
      rowSpaces:[
        {
          id: "seal_no",
          position: "before",
          total:1
        },
        // {
        //   id: "depo",
        //   position: "before",
        //   total:1
        // }
      ],
      valuesFlying:{},
      propertiesDetail:{
        item:{
          title : "Item",
          reduce:(row)=>{ return { 
              item:row["item_desc"] ,
              item_id:row["m_item_id"], 
              warehouse: row["gudang_desc"],
              warehouse_id: row["t_do_d_wh_id"],
              qty_satuan: row["satuan_desc"],
              qty_satuan_id: row["t_do_d_unit_id"],
              stock_qty: row["qty_stock"],
              os_qty: row["sisaqty"],
              do_qty: row["t_do_d_qty"],
              detail_note: row["t_do_d_note"],
              rounding_qty: row["rounding_qty"],
              do_d_id : row["id"],
              bonus_flag : row["t_so_d_bonusflag"],
              all_row_detail_item: row,
            }; 
          },
          valueField: "item",
          api:{
            autoLoad:false,
            model:'/marketing/DeliveryOrderDetail',
            parameters:{
                paginate:25,
                activeFlag: "ACTIVE",
                isNotComplete: 1,
                //companyID: this.$refs.header.getFields('business_unit_id').getValue()
                
            },
          },
          overrideParams(element, oldParams){
            //console.log("coba");
            try {
              let me = element.$parent.$parent
              let values = me.$refs.header?.getValues();
              let doID = values.t_do_h_id == undefined ?  me.values.t_do_h_id : values.t_do_h_id ; 
              let shipmentID = me.values.shipment_id;
              
              Object.assign(oldParams, {
                doID: `${doID}`,
                shipmentID: `${shipmentID}`
              })
            } catch (error) {console.log(error)}
            return oldParams;
          },
          listener(element,type,value,event){
            if(['change'].includes(type) ){
              try{
                
                //element, cek struktur parent-child
                let me = element.$parent.$parent;
                let formDetail = me.$refs.detail;
                console.log(me);
                let form = formDetail.getValues();
                console.log(form);
                formDetail.setValues({
                  stock_qty: form.stock_qty,
                  do_qty: form.do_qty,
                  os_qty: form.os_qty,
                  rounding_qty: form.rounding_qty,
                  qty_satuan: form.qty_satuan,
                  // warehouse_id: form.warehouse_id,
                  warehouse_id : form.all_row_detail_item.t_do_d_wh_id,
                  // warehouse: form.warehouse,
                  warehouse : form.all_row_detail_item.gudang_desc
                });

                // formDetail.getFields("warehouse").setValue({
                //   warehouse_id : form.all_row_detail_item.t_do_d_wh_id,
                //   warehouse: form.all_row_detail_item.gudang_desc,
                // });
                // formDetail.getFields('warehouse').setValue({
                //   warehouse_id :formDetail.getValues().warehouse_id,
                //   warehouse: formDetail.getValues().warehouse
                // });
                //set value note
                // formDetail.setValues({
                //   warehouse_id : null,
                //   warehouse : null,
                //   qty_satuan: null,
                //   qty_satuan_id: null,
                //   qty: 0,
                //   os_qty: 0,
                //   do_qty: 0,
                //   item_id : null,
                //   item : null,
                //   do_no_id : null,
                //   do_d_id : null,
                //   detail_note : null,
                //   stock_qty : null,
                //   rounding_qty : null,
                //   bonus_flag : null,

                // })
              }catch(e){}
            }
          },
          fields:[
              { key:'no',_style:"text-align:left;width:5%", width:5, filter:false,sorter:false},
              { key:'item_desc',label:'Item',_style:"text-align:left;width:30%", width:30, filter:true,sorter:true}, 
              { key:'sisaqty',label:'O/S Qty',_style:"text-align:right;width:10%", width:10, filter:true,sorter:true}, 
              { key:'satuan_desc',label:'Satuan',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
              { key:'gudang_desc',label:'Gudang',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true}, 
              { label: "Note", key:'t_do_d_note',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ]
        },
        warehouse:{
          displayField: `m_warehouse_name`,
          valueField:"id",
          reduce: (row) => {
            return { warehouse_id: row.id, warehouse: row.m_warehouse_name };
          },
          api: {
            autoLoad: false,
            model: "/setup/warehouse",
            parameters: {
                activeFlag: "ACTIVE",
                pageSize: 10000
            },
            root: "model",
          },
        },
      },
      properties: {
        business_unit:{
          displayField: `m_company_code_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_company_id: row.id, m_company: row.m_company_code_name };
          },
          api: {
            autoLoad: false,
            model: "/setup/businessunit",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
            },
            transform: function(dt) {
              dt['m_company_code_name'] = dt['m_company_code']+" - "+ dt['m_company_name'];
              return dt;
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent;
              console.log(me.id)
              me.$refs.header.setValues({
                depo_id:null,
                depo:null,
                do_no_id: null,
                t_do_h_id: null,
                do_no: null,
                customer_id: null,
                customer: null,
                m_vehicle_id: null,
                m_vehicle: null,
                vehicle_id: null,
                vehicle: null,
                vehicle_police_no: null,
                m_driver_id: null,
                m_driver: null,
                driver_id: null,
                driver: null,
                m_expedition_id: null,
                m_expedition: null,
                m_employee_name: null,
                deliver_to: null,
                deliver_address: null,
                item_type: null,
              })
              
              me.values.m_company_id = value.m_company_id;
              me.values.m_company = value.m_company;
              me.$refs.header.getFields("depo").load();
              me.$refs.header.getFields("driver").load();
              me.$refs.header.getFields("vehicle").load();
              me.shipment_detail = [];
              let formHeader = element.$parent.$parent.$refs['header'];
            }
          }
        },
        depo:{
          displayField: `m_depo_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_depo_id: row.id, m_depo: row.m_depo_name };
          },
          api: {
            model: "/setup/depo",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
              // companyID: 35
            },
            overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let values = me.$refs.header?.getValues();
                let cek_user = me.$store.state.user;
                //let buID = me.$refs.header.getFields("business_unit").getValue();
                let companyID = 0;
                console.log(me.id, values?.m_company_id, me.values);
                if(me.id == null){
                  if(values == null || values == undefined){
                    companyID = cek_user.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }else{ 
                  if(values?.m_company_id == null || values?.m_company_id == undefined){
                    companyID = me.values?.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }
                Object.assign(oldParams, {
                  companyID: `${companyID}`
                })
              } catch (error) {console.log(error)}
              return oldParams;
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              console.log(element.$parent.$parent)
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                do_no_id: null,
                do_no: null,
                ekspedisi_no_id: null,
                ekspedisi_no: null,
                customer_id: null,
                customer: null,
                m_employee_name: null,
                deliver_to: null,
                deliver_address: null,
                item_type: null,
              });
              //me.$refs.header.getFields("customer").api.parameters.depoID = value.m_depo_id;
              me.values.m_depo_id = value.m_depo_id;
              me.values.m_depo = value.m_depo;
              me.shipment_detail = [];
              let formHeader = element.$parent.$parent.$refs['header'];
              
            }
          }
        },
        division:{
          displayField: `m_division_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_division_id: row.id, m_division: row.m_division_name };
          },
          api: {
            model: "/setup/division",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
              // companyID: 35
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                do_no_id: null,
                do_no: null,
                customer_id: null,
                customer: null,
                m_employee_name: null,
                deliver_to: null,
                deliver_address: null,
                item_type: null,
              })
              me.values.m_division_id = value.m_division_id;
              me.values.m_division = value.m_division;
              me.shipment_detail = [];
              let formHeader = element.$parent.$parent.$refs['header'];
            }
          }
        },
        customer_type:{
          displayField: `o_type_name`,
          valueField:"o_type_name",
          reduce: (row) => {
            return { customer_type_id: row.o_type_name, customer_type: row.o_type_name };
          },
          api: {
            model: "/setup/itemtype",
            parameters: {
                pageSize: 1000,
                filterField: "o_type_group",
                filterText: "CUSTOMER",
              // companyID: 35
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                do_no_id: null,
                t_do_h_id: null,
                do_no: null,
                customer_id: null,
                customer: null,
                m_employee_name: null,
                deliver_to: null,
                deliver_address: null,
                item_type: null,
              })
              me.values.customer_type_id = value.customer_type_id;
              me.values.customer_type = value.customer_type;
              me.shipment_detail = [];
              let formHeader = element.$parent.$parent.$refs['header'];
            }
          }
        },
        customer:{
          title : "Customer List",
          reduce:(row)=>{ return { 
              customer_id:row.m_cust_id, 
              m_customer_id:row.m_cust_id, 
              customer:row.m_cust_name,//#penting-01  
              m_customer:row.m_cust_name,//#penting-01  
            }; 
          },
          valueField:"m_cust_id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:false,
            model:'/marketing/shipment/customerindelivorder',
            parameters:{
                paginate:25,
                activeFlag: "ACTIVE",
                //companyID: this.$refs.header.getFields('business_unit_id').getValue()
                
            },
          },
          overrideParams(element, oldParams){
            //console.log("coba");
            try {
              let me = element.$parent.$parent
              let values = me.$refs.header?.getValues();
              let companyID = values.m_company_id;
              let customerType= values.customer_type_id;
              let depoID= values.m_depo_id;
              let divisionID= values.m_division_id;
              
              Object.assign(oldParams, {
                companyID: `${companyID}`,
                CustType: `${customerType}`,
                depoID: `${depoID}`,
                divisionID: `${divisionID}`,
              })
            } catch (error) {console.log(error)}
            return oldParams;
          },
          listener(element,type,value,event){
            if(['change'].includes(type) ){
              try{
                
                //element, cek struktur parent-child
                let me = element.$parent.$parent;
                let formHeader = element.$parent.$parent.$refs['header'];
                // cek value note
                //formHeader.getFields('sales').setValue();
                //set value note
                // formHeader.getFields('sales_name_1').setValue(null);
                // formHeader.getFields('deliver_to').setValue(null);
                // formHeader.getFields('deliver_address').setValue(null);
                // formHeader.getFields('item_type').setValue(null);
                // formHeader.getFields('header_note').setValue(null);
                // formHeader.getFields('do_no').setValue(null);
                me.$refs.header.setValues({
                  do_no: null,
                  m_employee_name: null,
                  deliver_to: null,
                  deliver_address: null,
                  item_type: null,
                })
              }catch(e){}
            }
          },
          fields:[
              { key:'no',_style:"text-align:left;width:5%", width:5, filter:false,sorter:false},
              { key:'m_cust_code',label:'Customer Code',_style:"text-align:left;width:14%", width:14, filter:true,sorter:true}, 
              { key:'m_cust_name',label:'Customer Name',_style:"text-align:left;width:23%", width:23, filter:true,sorter:true}, 
              { key:'m_cust_type',label:'Customer Type',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
              { key:'m_cust_addr',label:'Customer Address',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true}, 
              { label: "Tax", key:'m_cust_taxable',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true}, 
              { key:"m_cust_active_flag",label:"Status",_style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ]
        },
        do_no:{
          title : "DO List",
          reduce:(row)=>{ return { 
              do_no_id:row["id"], 
              t_do_h_id:row["id"], 
              do_no:row["t_do_h_no"],//#penting-01  
              t_do_h_no:row["t_do_h_no"],//#penting-01 
              m_employee_name: row["employee_name"],
              m_employee_id: row["m_employee_id"],
              deliver_to: row["deliveryto_name"],
              deliver_address: row["deliveryto_addr"],
              item_type: row["t_do_h_type"],
              header_note: row["t_do_h_note"],
              m_curr_id: row["m_curr_id"],
              all_row_do: row,
            }; 
          },
          valueField:"id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:false,
            model:'/marketing/deliveryorder',
            parameters:{
                paginate:25,
                doStatus: "POST",
                
            },
          },
          overrideParams(element, oldParams){
            //console.log("coba");
            try {
              let me = element.$parent.$parent
              let values = me.$refs.header?.getValues();
              let companyID = values.m_company_id;
              let customerID= values.m_customer_id == undefined ? me.values.customer_id : values.m_customer_id;
              let depoID= values.m_depo_id;
              let divisionID= values.m_division_id;
              
              Object.assign(oldParams, {
                companyID: `${companyID}`,
                customerID: `${customerID}`,
                depoID: `${depoID}`,
                divisionID: `${divisionID}`,
              })
            } catch (error) {console.log(error)}
            return oldParams;
          },
          listener(element,type,value,event){
            if(['change'].includes(type) ){
              try{
                let me = element.$parent.$parent;
                let formHeader = element.$parent.$parent.$refs['header'];
                let form = formHeader.getValues();
                window.cobaPop = element;
                console.log(!value.t_do_h_id);
                console.log(me.values);
                if(!value.t_do_h_id && me?.values?.do_no == undefined){
                    formHeader.setValues({
                      deliver_to : null,
                      deliver_address : null,
                      item_type : null,
                      header_note : null,
                      m_employee_name : null,
                    });
                    //formHeader.getFields('m_employee_name').setValue(null);
                    me.shipment_detail = [];
                }else{
                    formHeader.setValues({
                      m_employee_name : form.m_employee_name,
                      deliver_to : form.deliver_to,
                      deliver_address : form.deliver_address,
                      item_type : form.item_type,
                      header_note : form.header_note,
                    });

                    let ship = element.$parent.$parent.id;
                    if(ship == null){
                      ship = 0;
                    }
                    let parameters = {
                      "doID": form.all_row_do.id,
                      "pageSize": 100000,
                      "isNotComplete": 1,
                      "shipmentID": ship
                    }
                    me.apiRequest(
                      {
                        model: '/marketing/deliveryorderdetail?'+ me.getQueryString(parameters),
                        data : {},
                        loading: false,
                        
                      },
                      function(response) {
                        console.log(me);
                        for (let index = 0; index < response.model.length; index++) {
                            response.model[index].nomor= index;
                            response.model[index].business_unit_id= response.model[index].m_company_id;
                            response.model[index].seq= response.model[index].t_do_d_seq;
                            response.model[index].do_no_id= response.model[index].t_do_h_id;
                            response.model[index].do_d_id= response.model[index].id;
                            response.model[index].item_id= response.model[index].m_item_id;
                            response.model[index].item= response.model[index].item_desc;
                            response.model[index].qty= response.model[index].sisaqty;
                            response.model[index].do_qty= response.model[index].t_do_d_qty;
                            response.model[index].os_qty= response.model[index].sisaqty;
                            response.model[index].qty_satuan_id= response.model[index].t_do_d_unit_id;
                            response.model[index].qty_satuan= response.model[index].satuan_desc;
                            response.model[index].warehouse_id= response.model[index].t_do_d_wh_id;
                            response.model[index].warehouse= response.model[index].gudang_desc;
                            response.model[index].detail_note= response.model[index].t_do_d_note;
                            response.model[index].stock_qty= response.model[index].qty_stock;
                            response.model[index].rounding_qty= response.model[index].rounding_qty;
                            response.model[index].bonus_flag= response.model[index].t_so_d_bonusflag;
                        }
                        me.shipment_detail = response.model;
                        me.detailKey++;
                      },
                      function(error) {
                        console.log(error);
                      }
                    );
                   
                }
              }catch(e){}
            }
          },
          fields:[
              { key:'no',_style:"text-align:left;width:5%", width:5, filter:false,sorter:false},
              { key:'t_do_h_no',label:'DO No.',_style:"text-align:left;width:15%", width:15, filter:true,sorter:true}, 
              { key:'t_do_h_date',label:'DO Date.',_style:"text-align:left;width:15%", width:15, filter:true,sorter:true}, 
              { key:'t_do_h_etdreq',label:'Req. Delivery Date',_style:"text-align:left;width:15%", width:15, filter:true,sorter:true}, 
              { key:'so_no',label:'SO No.',_style:"text-align:left;width:15%", width:15, filter:true,sorter:true},
              { key:'cust_name',label:'Customer',_style:"text-align:left;width:15%", width:15, filter:true,sorter:true}, 
              { key:'t_do_h_note',label:'Note',_style:"text-align:left;width:15%", width:15, filter:true,sorter:true},
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ]
        },
        ekspedisi_no:{
          title : "Ekspedisi List",
          reduce:(row)=>{ return { 
              ekspedisi_no_id:row.id, 
              m_expedition_id:row.id, 
              ekspedisi_no:row.m_expedition_name,//#penting-01  
              m_expedition:row.m_expedition_name,//#penting-01  
            }; 
          },
          valueField:"id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:false,
            model:'/marketing/travelexpedition',
            parameters:{
                paginate:25,
                activeFlag: "ACTIVE",
                //companyID: this.$refs.header.getFields('business_unit_id').getValue()
                
            },
          },
          overrideParams(element, oldParams){
            //console.log("coba");
            try {
              let me = element.$parent.$parent
              let values = me.$refs.header?.getValues();
              let depoID= values.m_depo_id;
              
              Object.assign(oldParams, {
                depoID: `${depoID}`,
              })
            } catch (error) {console.log(error)}
            return oldParams;
          },
          listener(element,type,value,event){
            // if(['change'].includes(type) ){
            //   try{
                
            //     //element, cek struktur parent-child
            //     let formHeader = element.$parent.$parent.$refs['header'];
            //     // cek value note
            //     //formHeader.getFields('sales').setValue();
            //     //set value note
            //     formHeader.getFields('sales').setValue(null);
            //     formHeader.getFields('deliver_to').setValue(null);
            //     formHeader.getFields('deliver_address').setValue(null);
            //     formHeader.getFields('item_type').setValue(null);
            //     formHeader.getFields('header_note').setValue(null);
            //     formHeader.getFields('do_no').setValue(null);
            //   }catch(e){}
            // }
          },
          fields:[
              { key:'no',_style:"text-align:left;width:5%", width:5, filter:false,sorter:false},
              { key:'m_expedition_code',label:'Code',_style:"text-align:left;width:14%", width:15, filter:true,sorter:true}, 
              { key:'m_expedition_name',label:'Ekspedisi',_style:"text-align:left;width:23%", width:20, filter:true,sorter:true}, 
              { key:'m_expedition_type',label:'Type',_style:"text-align:left;width:10%", width:15, filter:true,sorter:true},
              { key:'m_expedition_addr_1',label:'Address',_style:"text-align:left;width:10%", width:15, filter:true,sorter:true}, 
              { label: "City", key:'city',_style:"text-align:left;width:10%", width:10, filter:true,sorter:true}, 
              { key:"m_expedition_active_flag",label:"Status",_style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ]
        },
        active_flag: {
          options: ["ACTIVE","INACTIVE"],
        },
        driver:{
          displayField: `m_driver_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_driver_id: row.id, m_driver: row.m_driver_name };
          },
          api: {
            autoLoad: false,
            model: "/Marketing/Driver",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
            },
            overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let values = me.$refs.header?.getValues();
                let cek_user = me.$store.state.user;
                let companyID = 0;
                if(me.id == null){
                  if(values == null || values == undefined){
                    companyID = cek_user.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }else{ 
                  if(values?.m_company_id == null || values?.m_company_id == undefined){
                    companyID = me.values.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }
                Object.assign(oldParams, {
                  companyID: `${companyID}`
                })
              } catch (error) {console.log(error)}
              return oldParams;
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              console.log(element.$parent.$parent)
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                m_vehicle_id: null,
                m_vehicle: null,
                vehicle_police_no: null
              })
              // let formHeader = element.$parent.$parent.$refs['header'];
              // formHeader.getFields("vehicle").setValue({
              //   m_vehicle : null, m_vehicle_id: null
              // })
              me.$refs.header.getFields("vehicle").load();
            }
          }
        },
        vehicle:{
          displayField: `m_vehicle_code_name`,
          valueField:"id",
          reduce: (row) => {
            return { 
              m_vehicle_id: row.id, 
              m_vehicle: row.m_vehicle_code_name,
              m_vehicle_no: row.m_vehicle_no
            };
          },
          api: {
            autoLoad: false,
            model       : "/Marketing/Vehicle",
            parameters  : {
                activeFlag: "ACTIVE",
                pageSize: 1000
            },
            transform: function(dt) {
              dt['m_vehicle_code_name'] = dt['m_vehicle_code']+" - "+ dt['m_vehicle_desc'];
              return dt;
            },
            overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let values = me.$refs.header?.getValues();
                let cek_user = me.$store.state.user;
                let driverID = 0;
                if(me.id == null){
                  if(values == null || values == undefined){
                    driverID = cek_user.m_driver_id;
                  }else{
                    driverID = values.m_driver_id;
                  }
                }else{ 
                  if(values?.m_driver_id == null || values?.m_driver_id == undefined){
                    driverID = me.values.m_driver_id;
                  }else{
                    driverID = values.m_driver_id;
                  }
                }
                Object.assign(oldParams, {
                  driverID: `${driverID}`
                })
              } catch (error) {console.log(error)}
              return oldParams;
            },
            root: "model",
          },
          listener(element, type, value, event){
            if(["change"].includes(type)){
              console.log(element.$parent.$parent)
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                vehicle_police_no: value.m_vehicle_no,
              })
              let formHeader = element.$parent.$parent.$refs['header'];
              formHeader.getFields("vehicle_police_no").setValue(value.m_vehicle_no)
              //console.log(value, formHeader.getValues);
            }
          }
        },
        vehicle_type:{
          displayField: `m_general_desc`,
          valueField:"id",
          reduce: (row) => {
            return { m_vehicle_type_id: row.id, m_vehicle_type: row.m_general_desc };
          },
          api: {
            autoLoad: false,
            model       : "/setup/general",
            parameters  : {
                filterField: "m_general_group",
                filterText: "VEHICLE TYPE",
                pageSize: 1000
            },
            root: "model",
          },
        },
      },
      multiSelectFields: [
        { key:"no",
         _style:"text-align:left;width:3%", 
         width:4
        }, 
        {
          key: "item",
          _style:"text-align:left;width:35%",
          width:30 
        },
        {
          key: "stock_qty",
          label: "Stock Qty",
          _style:"text-align:right;width:7%",
          width:7 
        },
        {
          key: "do_qty",
          label: "DO Qty",
          _style:"text-align:right;width:7%",
          width:7 
        },
        {
          key: "os_qty",
          label: "O/S Qty",
          _style:"text-align:right;width:7%",
          width:7 
        }, 
        { 
          key:"qty",
         _style:"text-align:right;width:5%",
         width:5
        }, 
        { 
          key:"qty_satuan",
          label: "Satuan",
         _style:"text-align:right;width:5%",
         width:5
        }, 
        { 
          key:"warehouse",
          label: "Warehouse",
         _style:"text-align:left;width:12%",
         width:12
        }, 
        { 
          key:"detail_note",
          label: "Note",
         _style:"text-align:left;width:5%",
         width:5
        }, 
        { key:"choose",
         _style:"text-align:center;width:5%",
         width:5
        }, 
      ],
      key: 0,
      key2: 0,
      detailKey: 0,
      indexEditdetail: 0,
      hideHeader: true,
    };
  },
  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.apiRead(
        {
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },
        function(response) {
          var ship_date = response.model.t_ship_h_date.split("/");
          var ship_date1 = ship_date[2]+"-"+ship_date[0]+"-"+ship_date[1];
          var print_date = response.model.t_ship_h_printdate.split("/");
          var print_date1 = print_date[2]+"-"+print_date[0]+"-"+print_date[1];
          response.model.business_unit_id = response.model.m_company_id;
          response.model.business_unit = response.model.m_company_name;
          response.model.depo_id = response.model.m_depo_id;
          response.model.depo = response.model.m_depo_name;
          response.model.division_id = response.model.m_division_id;
          response.model.division = response.model.m_division_name;
          response.model.stuffing_date = ship_date1;
          response.model.print_date = print_date1;
          response.model.do_no = response.model.t_do_h_no;
          response.model.do_no_id = response.model.t_do_h_id;
          response.model.draft_no = response.model.t_ship_h_id;
          response.model.customer = response.model.m_cust_name;
          response.model.customer_id = response.model.m_cust_id;
          response.model.shipment_no = response.model.t_ship_h_no;
          response.model.customer_type = response.model.m_cust_type;
          response.model.customer_type_id = response.model.m_cust_type;
          response.model.deliver_to = response.model.deliver_to_name;
          response.model.deliver_address = response.model.deliver_to_addr;
          response.model.employee_name = response.model.m_employee_name;
          response.model.sales_name_1 = response.model.m_employee_name;
          response.model.status = response.model.t_ship_h_status;
          response.model.shipment_id = response.model.t_ship_h_id;
          response.model.driver_id = response.model.m_driver_id;
          response.model.driver = response.model.m_driver_name;
          response.model.vehicle_id = response.model.m_vehicle_id;
          response.model.vehicle = response.model.m_vehicle_name;
          response.model.ekspedisi_no_id = response.model.m_expedition_id;
          response.model.ekspedisi_no = response.model.m_expedition_name;
          response.model.header_note = response.model.t_ship_h_note;
          response.model.vehicle_police_no = response.model.t_ship_h_nopol;
          response.model.container_no = response.model.t_ship_h_contno;
          response.model.seal_no = response.model.t_ship_h_seal_no;
          response.model.item_type = response.model.t_ship_h_type;
          me.values = response.model;
          
          //response.model.m_depo_id = response.model.m_depo_id;
          
          //console.log(me.$refs.header);
          //console.log(response.model);
          let hasil = response.model;
          me.$refs.header.setValues(hasil);
          console.log(hasil);
          //console.log(me.$refs.header.getValues());
          me.$refs.header.getFields("business_unit").setValue(hasil.m_company_id);
          me.$refs.header.getFields("depo").setValue(hasil.m_depo_id);
          me.$refs.header.getFields("division").setValue(hasil.m_division_id);
          me.$refs.header.getFields("driver").setValue(hasil.m_driver_id);
          me.$refs.header.getFields("vehicle").setValue(hasil.m_vehicle_id);
          me.$refs.header.getFields("vehicle_type").setValue(hasil.m_vehicle_type);
          
          // me.$refs.header.setValues(
          //   { 
          //     m_employee_name :response.model.m_employee_name == undefined ? me.values.sales_name_1 : response.model.m_employee_name,

          //   }
          // );
          me.$refs.header.getFields("depo").load();
          me.$refs.header.getFields("driver").load();
          me.$refs.header.getFields("vehicle").load();
          for (let index = 0; index < response.model.detail.length; index++) {
            response.model.detail[index].nomor = index;
            response.model.detail[index].seq= response.model.detail[index].t_ship_d_seq;
            response.model.detail[index].do_no_id= response.model.t_do_h_id;
            response.model.detail[index].do_d_id= response.model.detail[index].t_do_d_id;
            response.model.detail[index].item_id= response.model.detail[index].m_item_id;
            response.model.detail[index].item= response.model.detail[index].m_item_short_desc;
            response.model.detail[index].qty= response.model.detail[index].t_ship_d_qty;
            response.model.detail[index].do_qty= response.model.detail[index].t_do_d_qty;
            response.model.detail[index].os_qty= response.model.detail[index].sisaqty;
            response.model.detail[index].qty_satuan_id= response.model.detail[index].t_ship_d_unit_id;
            response.model.detail[index].qty_satuan= response.model.detail[index].t_ship_d_unit;
            response.model.detail[index].warehouse_id= response.model.detail[index].t_ship_d_wh_id;
            response.model.detail[index].warehouse= response.model.detail[index].m_warehouse_name;
            response.model.detail[index].detail_note= response.model.detail[index].t_ship_d_note;
            response.model.detail[index].stock_qty= response.model.detail[index].stock_qty;
            response.model.detail[index].rounding_qty= response.model.detail[index].m_item_rounding_qty;
            response.model.detail[index].bonus_flag= response.model.detail[index].t_so_d_bonusflag;
            me.shipment_detail.push(response.model.detail[index]);
          }
          me.key2++;
          // console.log(response.model);
          // console.log(me.$refs.header.getValues());
          if(response.model.t_ship_h_status != "IN PROCESS" && response.model.t_ship_h_status != "REVISED"){
            me.$refs.butonsubmit.hidden = true;
            me.$refs.butonclear.hidden = true;
          }
        },
        function(error) {
          console.log(error);
        }
      );
    }else{
        //me.$refs.header.getFields("draft_no").setHidden(true);
        // console.log("abcdefghij", me);
    }
  },
  mounted() {
     let me = this;
     if (this.$route.params.id == undefined) {
      // console.log('mounted',me);
      let cek_user = this.$store.state.user;
      me.$refs.header.getFields("draft_no").setHidden(true);
      me.$refs.header.getFields("shipment_no").setHidden(true);
      me.$refs.header.getFields("business_unit").setValue(cek_user.m_company_id);
      me.$refs.header.getFields("depo").setValue(cek_user.m_depo_id);
      me.$refs.header.setValues(
        { 
          business_unit_id : cek_user.m_company_id, 
          m_company_id : cek_user.m_company_id, 
          depo_id : cek_user.m_depo_id,
          m_depo_id : cek_user.m_depo_id,
          }
      );
      // me.$refs.header.setValues({ m_depo_id : cek_user.m_depo_id});
     }
     this.created_at = this.mixin1().getCreatedAt();
  },
  methods: {
    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "Shipment" });
      }
    },
    transaction_detail_on_change(data) {
      console.log(data);
    },
    onSelect(data) {
      //this.transaction_detail = this.transaction_detail.concat(data);
    },

    removeDetail(label, index) {
      this.$alertify.confirmWithTitle(
              'Warning!',
              'Remove Row Number ' + (index + 1) + "?",
          () => {
              this[label] = this[label].filter((dt, i) => {
                  return i !== index
              });
              this.detailKey++;
              // this.setTotalAmount();
          },
      );
    },

    addToDetail(label) {
      if (this.$refs.detail.getValid()) {
        if (!this.isDetailUpdate) {
          let tamp = this.$refs.detail.getValues();
          console.log(tamp);
          var maxno = -1;
          let cek = 0;
          this[label].forEach(dt => {
            if (dt.nomor !== undefined) {
              if (dt.nomor > maxno) {
                maxno = dt.nomor;
              }
              if((tamp.item_id == dt.item_id) && (tamp.bonus_flag == dt.bonus_flag)){
                cek+=1;
              }
            }
          });
          if(cek == 0){
            tamp.nomor = maxno + 1;
            this[label] = this[label].concat(tamp);
            this.key2++;
            this.ClearForm();
            console.log(this[label].index);
          }else{
            this.$alertify.alertWithTitle(
              "Warning!",
              "Maaf, Item Sudah ada di Detail"
            );
          }
          //window.console.log(typeof(tamp),typeof(this.interface_detail))
        } else {
          var me = this;
          let tamp = me.$refs.detail.getValues();
          console.log(tamp);
          var newIndex = 0;
          this[label].forEach(dt => {
            if (dt.nomor == me.indexEditDetail) {
              tamp.nomor = dt.nomor;
              tamp.do_no_id = dt.do_no_id;
              tamp.do_d_id = dt.do_d_id;
              tamp.qty_satuan_id = dt.qty_satuan_id;
              tamp.seq = dt.seq;
              me[label][newIndex] = tamp;
            }
            newIndex++;
          });
          this.key2++;
          console.log(this[label]);
          this.ClearForm();
          // this.$refs.butonadd.textContent = " Add to List ";
          // this.$refs.butonadd.className = "btn btn-warning";
        }
      }
      this.isDetailUpdate = false;
    },
    ClearForm() {
      this.$refs.detail.setValues({
        item:null,
        item_id:null,
        warehouse: null,
        warehouse_id: null,
        qty_satuan: null,
        qty_satuan_id: null,
        stock_qty: null,
        qty: 0,
        os_qty: null,
        do_qty: null,
        detail_note: null,
        rounding_qty: null,
        do_d_id : null,
        bonus_flag : null,
      });
      // setTimeout(function() {
      //   me.$refs.detail_header.getFields("item").setReadOnly(false);
      // }, 100);
    },
    
    updateDetail(label, index) {
      window.cobaUpdate = this;
      this.indexEditDetail = this[label][index]["nomor"];
      this.isDetailUpdate = true;
      this.$refs.detail.setValues({
        item : this[label][index]["item"],
        item_id : this[label][index]["item_id"],
        stock_qty : this[label][index]["stock_qty"],
        qty: this[label][index]["qty"],
        qty_satuan: this[label][index]["qty_satuan"],
        warehouse: this[label][index]["warehouse"],
        warehouse_id: this[label][index]["warehouse_id"],
        do_qty: this[label][index]["do_qty"],
        os_qty: this[label][index]["os_qty"],
        rounding_qty: this[label][index]["rounding_qty"],
        detail_note: this[label][index]["detail_note"],
        do_d_id: this[label][index]["do_d_id"],
      });
      this.values = {
        do_d_id :  this[label][index]["do_d_id"],
        t_ship_d_unit_id :  this[label][index]["qty_satuan_id"],
      };
      
      this.$refs.detail.$refs.warehouse[0].setValue({
        warehouse_id :this[label][index].warehouse_id,
        warehouse: this[label][index].warehouse
      });
      // this.$refs.detail.$refs.item[0].setValue({
      //   item_id :this[label][index].item_id,
      //   item: this[label][index].item
      // });
       this.$refs.detail.getFields("item").setValue({
        item_id :this[label][index].item_id,
        item: this[label][index].item
      });
      // this.$refs.butonadd.textContent = " Update ";
      // this.$refs.butonadd.className = "btn btn-success";

      
      //console.log(this[label][index]);
    },
    
    // beforeSubmit() {
    //   //gantilah isinya
    //   // let is_primary = false;
    //   // for (let index in this.transaction_detail) {
    //   //   is_primary = this.transaction_detail[index].is_primary;
    //   //   if (is_primary) {
    //   //     return true;
    //   //   }
    //   // }
    //   // if (!is_primary) {
    //   //   vm.$alertify.alertWithTitle(
    //   //     "Warning!",
    //   //     "Maaf, Silahkan pilih salah satu Primary Responsibility"
    //   //   );
    //   //   return false;
    //   // }
    // },
    
    submit() {
      let me = this;
      if (!this.$refs["header"].getValid()) {
        return;
      }
      let val = this.values;
      let values = me.$refs["header"].getValues();
      let tanggal = values["stuffing_date"].split("-");
      let tanggal_print = values["print_date"].split("-");

      let stuffing_date = tanggal[1]+"/"+tanggal[2]+"/"+tanggal[0];
      let print_date = tanggal_print[1]+"/"+tanggal_print[2]+"/"+tanggal_print[0];
      // let driver = !values["m_driver_id"] ? values["m_driver_id"] : 0;
      // let vehicle = !values["m_vehicle_id"] ? values["m_vehicle_id"] : 0;
      // let ekspedisi = !values["m_expedition_id"] ? values["m_expedition_id"] : 0;
      // let vehicle_type = !values["m_vehicle_type_id"] ? values["m_vehicle_type_id"] : 0;
      //console.log("CROTTT", values);
      let processedData = {};
      if(me.id == null){
        processedData = {
              "m_company_id": values["m_company_id"] == undefined ? me.values.m_company_id : values["m_company_id"],
              "t_ship_h_referid": 0,
              "t_ship_h_type": values["item_type"],
              "m_division_id": values["m_division_id"]  == undefined ? me.values.m_division_id : values["m_division_id"],
              "m_depo_id": values["m_depo_id"]  == undefined ? me.values.m_depo_id : values["m_depo_id"],
              "t_ship_h_date": stuffing_date,
              "t_ship_h_printdate": print_date,
              "t_ship_h_seal_no": values["seal_no"] == undefined ? null : values["seal_no"],
              "m_cust_type": values["customer_type"],
              "m_cust_id": values["customer_id"] == undefined ? me.values.m_cust_id : values["customer_id"],
              "m_employee_id": values["m_employee_id"] == undefined ? me.values.m_employee_id : values["m_employee_id"],
              "t_do_h_id": values["do_no_id"] == undefined ? me.values.t_do_h_id : values["do_no_id"],
              "m_driver_id": values["m_driver_id"] == null ? 0 : values["m_driver_id"],
              "m_vehicle_id": values["m_vehicle_id"] == null ? 0 : values["m_vehicle_id"],
              "m_expedition_id": values["ekspedisi_no_id"] == undefined ? 0 : values["ekspedisi_no_id"],
              "t_ship_h_contno": values["container_no"] == undefined ? null : values["container_no"],
              "m_curr_id": values["m_curr_id"] == undefined ? me.values.m_curr_id : values["m_curr_id"],
              "t_ship_h_nopol": values["vehicle_police_no"] == undefined ? null : values["vehicle_police_no"],
              "t_ship_h_note": values["header_note"],
              "t_ship_h_status": values["status"],
              "m_vehicle_type": values["m_vehicle_type_id"] == null ? 0 : values["m_vehicle_type_id"],
              "created_at": me.id == this.created_at,
          };

      }else{
        processedData = {
              "m_company_id": values["m_company_id"] == undefined ? me.values.m_company_id : values["m_company_id"],
              "t_ship_h_referid": 0,
              "t_ship_h_type": values["item_type"],
              "m_division_id": values["m_division_id"]  == undefined ? me.values.m_division_id : values["m_division_id"],
              "m_depo_id": values["m_depo_id"]  == undefined ? me.values.m_depo_id : values["m_depo_id"],
              "t_ship_h_date": stuffing_date,
              "t_ship_h_printdate": print_date,
              "t_ship_h_seal_no": values["seal_no"] == undefined ? null : values["seal_no"],
              "m_cust_type": values["customer_type"],
              "m_cust_id": values["customer_id"] == undefined ? me.values.m_cust_id : values["customer_id"],
              "m_employee_id": values["m_employee_id"] == undefined ? me.values.m_employee_id : values["m_employee_id"],
              "t_do_h_id": values["do_no_id"] == undefined ? me.values.t_do_h_id : values["do_no_id"],
              "m_driver_id": values["m_driver_id"] == null ? 0 : values["m_driver_id"],
              "m_vehicle_id": values["m_vehicle_id"] == null ? 0 : values["m_vehicle_id"],
              "m_expedition_id": values["ekspedisi_no_id"] == undefined ? me.values.m_expedition_id : values["ekspedisi_no_id"],
              "t_ship_h_contno": values["container_no"] == undefined ? null : values["container_no"],
              "m_curr_id": values["m_curr_id"] == undefined ? me.values.m_curr_id : values["m_curr_id"],
              "t_ship_h_nopol": values["vehicle_police_no"] == undefined ? null : values["vehicle_police_no"],
              "t_ship_h_note": values["header_note"],
              "t_ship_h_status": values["status"],
              "m_vehicle_type": values["m_vehicle_type_id"] == null ? 0 : values["m_vehicle_type_id"],
              "created_at": null,
          };
      }
      let processedDetailData=[];
      if(this.shipment_detail.length > 0){
        this.shipment_detail.map((dt,index)=>{
          let cek = index + 1;
            processedDetailData.push({
                "m_company_id": values["m_company_id"] == undefined ? me.values.m_company_id : values["m_company_id"],
                "t_ship_d_seq": cek,
                "t_do_h_id": values["do_no_id"] == undefined ? me.values.t_do_h_id : values["do_no_id"],
                "t_do_d_id": dt["do_d_id"],
                "m_item_id": dt["item_id"],
                "t_ship_d_qty": dt["qty"],
                "t_ship_d_unit_id": dt["qty_satuan_id"],
                "t_ship_d_wh_id": dt["warehouse_id"],
                "t_ship_d_note": dt["detail_note"],
            });
        })
      }else{
            this.$alertify.alertWithTitle(
              "Warning!",
              "Maaf, Isi Detail Dulu"
            );
            return false;
        }
          // =========================================END
        processedData["detail"] = processedDetailData; //PENGGABUNGAN HEADER DAN DETAIL
        console.log(processedData);
      //values["status"] = "ACTIVE" ? true : false;
      //console.log("CROOTT2", values);
      if (me.id === null) {
        me.apiCreate(
          {
            model: me.apiEndpoint,
            data: processedData,
          },
          function(response) {
            me.$parent.setCreating(false);
            //me.$router.push({ name: "Warehouse" });
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiUpdate(
          {
            model: me.apiEndpoint,
            id: me.id,
            data: processedData,
          },
          function(response) {
            me.$router.push({ name: "Shipment" });
          },
          function(error) {
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
<style></style>