<template>
  <div>
    <CRow>
      <CCol>
        <transition name="fade">
          <Formulir v-if="isCreating" />
          <Datatable
            v-else
            ref="landing"
            :columnFilter="true"
            :api="{
              model: apiEndpoint,
              parameters: {
                paginate: 25,
                forIndex : true,
                orderField: 'id desc',
                //filterField: 'm_company_code,t_ship_h_no,m_company_name,division_name,depo_name,t_ship_h_date,t_ship_h_created_by,t_ship_h_note,t_ship_h_status'
            },
              transform: function(dt) {
                //dt['m_company_code_name'] = dt['m_company_code']+' - '+ dt['m_company_name'];
                return dt;
              },
            }"
            :fields="fields"
            :paginate="25"
          >
            <template #header>
              <CIcon name="cil-grid" /> {{ title }}
              <div class="card-header-actions">
                <CCol>
                  <CRow>
                    <CButton
                      color="success"
                      variant="outline"
                      size="sm"
                      style="margin-right:5px"
                      @click="isCreating = true"
                    >
                      &nbsp;Create&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-playlist-add"
                      />
                    </CButton>
                    <!-- <CButton color="secondary" variant="outline">
                        &nbsp;Print&nbsp;&nbsp;<CIcon name="cil-print"/>
                    </CButton> -->
                    <CButton color="warning" variant="outline" size="sm">
                      &nbsp;Export&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-arrow-thick-to-bottom"
                      />
                    </CButton>
                  </CRow>
                </CCol>
              </div>
            </template>
            <template
              v-for="(fieldData, fieldIndex) in fields"
              v-slot:[fieldData.key]="{ item }"
            >
              <td
                :style="getWidth(fieldData.key, fields)"
                :key="fieldIndex"
                :class="fieldData._classes"
              >
                <p
                  class="text-center"
                  style="margin:0px"
                  v-if="fieldData.key == 'active_flag'"
                >
                  <CBadge
                    :color="
                      item[fieldData.key] == 'ACTIVE' ? 'primary' : 'danger'
                    "
                  >
                    {{ item[fieldData.key] }}
                  </CBadge>
                </p>
                
                <span v-else>{{ item[fieldData.key] }}</span>
              </td>
            </template>
            <template #t_ship_h_date="{item}">
                <td :style="getWidth('t_ship_h_date', fields)">
                   <p class="text-left" style="margin:0px">
                     {{ item.t_ship_h_date.split("/")[1] }}/{{ item.t_ship_h_date.split("/")[0] }}/{{ item.t_ship_h_date.split("/")[2] }}
                    </p>
                </td>
             </template>
            <template #action="{item}">
              <td :style="getWidth('action', fields)">
                <p class="text-center" style="margin:0px">
                  <CButton
                    color="info"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :hidden="item.t_ship_h_status =='IN PROCESS' || item.t_ship_h_status == 'In Process' || item.t_ship_h_status == 'REVISED' || item.t_ship_h_status == 'Revised'? false: true"
                    @click="sendApproval(item)"
                  >
                    <CIcon name="cil-paper-plane" size="sm" />
                  </CButton>
                  <CButton
                    color="success"
                    :hidden="item.t_ship_h_status =='IN PROCESS' || item.t_ship_h_status == 'In Process' || item.t_ship_h_status == 'REVISED' || item.t_ship_h_status == 'Revised'? false: true"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :to="$route.path + '/' + item.id"
                  >
                    <CIcon name="cil-pencil" size="sm" />
                  </CButton>
                  <CButton
                    color="success"
                    :hidden="item.t_ship_h_status !='IN PROCESS' && item.t_ship_h_status != 'REVISED'? false: true"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :to="$route.path + '/' + item.id"
                  >
                    <CIcon name="cil-magnifying-glass" size="sm" />
                  </CButton>
                  <CButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :hidden="item.t_ship_h_status =='IN PROCESS' || item.t_ship_h_status == 'In Process' || item.t_ship_h_status == 'REVISED' || item.t_ship_h_status == 'Revised'? false: true"
                    @click="
                      apiDelete(
                        {
                          model: apiEndpoint,
                          id: item.id,
                        },
                        function(dt) {
                          $refs.landing.load();
                        }
                      )"
                  >
                    <CIcon name="cil-trash" size="sm" />
                  </CButton>
                </p>
              </td>
            </template>
          </Datatable>
        </transition>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import Formulir from "./Form";
export default {
  components: { Formulir },
  data() {
    return {
      title: "Shipment/Surat Jalan", //gantilah
      apiEndpoint: "/marketing/shipment", //gantilah
      isCreating: false,
      fields: [
        {
          key: "no",
          _style: "text-align:center;width:5%",
          width: 5,
          filter: false,
          sorter: false,
        },
        {
          key: "id",
          label: "Draft No",
          _style: "text-align:center;width:5%",
          width: 5,
          filter: true,
          sorter: true,
        },
        {
          key: "t_ship_h_no",
          label: "Shipment No",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "t_ship_h_date",
          label: "Shipment Date",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "do_no",
          label: "DO No",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "m_company_code_name",
          label: "Business Unit",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "depo_name",
          label: "Depo",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "division_name",
          label: "Product Line",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "cust_name",
          label: "Customer",
          _style: "text-align:left;width:20%",
          width: 20,
          filter: true,
          sorter: true,
        },
        {
          key: "t_ship_h_created_by",
          label: "Created By",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "t_ship_h_note",
          label: "Note",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "revised_reason",
          label: "Revised Reason",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "rejected_reason",
          label: "Rejected Reason",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        
        {
          key: "t_ship_h_status",
          label: "Status",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "action",
          _classes: "text-center",
          _style: "text-align:center;width:10%",
          width: 10,
        },
      ],
    };
  },
  activated() {
    this.$refs.landing.load();
  },
  created(){
    window.coba = this;
  },
  methods: {
    sendApproval(item){
      console.log(item);
       this.$alertify.confirmWithTitle(
              'SEND APPROVAL',
              'Send Approval Shipment Draft No ' + item.id  + " ?",
          () => {
               this.mixin1().apiChangeStatus(
                {
                  model: this.apiEndpoint,
                  id: item.id,
                  data: {
                    t_ship_h_status: "IN APPROVAL"
                  }
                },
                function(dt) {
                  this.$refs.landing.load();
                });
          },
      );
     
    }
  },
};
</script>
