<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>

      <CCol md="12" style="margin-top:0px">
        <CCard>          
          <CCardBody>            
            <CTabs>
              <CTab active>
              <Form 
                ref="detail" 
                :rawData="formData" 
                :index="1"
                :cols="2"   
                :props.sync="propertiesDetail" 
                :formWidth="'100%'" 
                :fieldWidth="'100%'"
                :values.sync="values"
                > 
              </Form>
                <template slot="title">
                  <CIcon name="cil-calculator" /> Detail <!--gantilah jika perlu -->
                </template>
                <Detail
                  ref="detail1Panel"
                  :pagination="false"
                  :table-filter="false"
                  btn_class='text-center'
                  title=''
                  :key="detailKey"
                  :items.sync="item_usage_for_aip_detail"
                  @update:items="item_usage_for_aip_detail_on_change"
                >
                
                <!-- tabel add to list -->
                  <template #multiselect>
                    <DatatableMulti
                      :columnFilter="false"
                      :api="{
                        model: '/FixedAsset/ItemUsageforAIP/_GetMaterial',//gantilah isinya jika perlu 
                        autoLoad: true,
                        unique:'t_aip_usage_ref_id',
                        parameters: {
                          paginate:25,
                          filterFieldExc: '_tercheck,t_aip_usage_qty,t_aip_usage_d_note,stock_qty',
                          filterField:'m_item_short_desc,m_item_code'
                        },    
                      }"
                      :overrideParams="overridePar"
                      :fields="multiSelectFields"
                      :data="item_usage_for_aip_detail"
                      @onSelect="onSelect"
                    >
                    
                    </DatatableMulti>
                  </template>
                <!-- tabel detail -->
                  <template #table>
                    <QDataTable
                      :key="detailKey"
                      :border="true"
                      :fields="multiSelectFieldsOnDetails"
                      :items.sync="item_usage_for_aip_detail"
                      :items-per-page="10"
                      :pagination="{
                        size: 'sm',
                        align: 'end',
                      }"
                      :responsive="true"
                      small
                    >

                    <template #no='{index}'>
                      <td class="text-center" style="text-align:center;width:5%">
                          <span>{{(index+1) }}</span>
                      </td>
                    </template>

                      <template #choose="{index}">
                        <td class="text-center">
                          <p class="text-center" style="margin:0px">
                            <CButton
                              color="danger"
                              variant="outline"
                              size="sm"
                              style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                              @click="item_usage_for_aip_detail = item_usage_for_aip_detail.filter( (dt,idx)=>idx!=index)"
                            >
                              <CIcon name="cil-trash" size="sm" />
                            </CButton>
                          </p>
                        </td>
                      </template>
                      <template #t_aip_usage_qty="{item}">
                        <td class="text-right" style="padding:0px">
                          <Numberfield2
                            :value.sync="item.t_aip_usage_qty"                         
                          />
                        </td>
                      </template>
                    </QDataTable>
                  </template>
                </Detail>
              </CTab>
            </CTabs>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
          ref="BtnHideByStatus"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
        >
        <CIcon name="cil-check-circle" /> Clear </CButton>
        <!-- <CButton style="margin-right:5px" type="reset" size="sm" color="danger" @click="reset">
          <CIcon name="cil-ban"/> Reset</CButton> -->
      </CCol>
    </CRow>
  </div>
</template>

<script>
import rawData from "./data.json";
import VueAlertify from 'vue-alertify';
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },

  data() {
    return {
      title: "Item Usage For AIP", //gantilah
      apiEndpoint: "/FixedAsset/ItemUsageforAIP", //gantilah
      routeEndpoint: "/Fixed Asset/transaction_itemusageforaip", //gantilah
      values: {
        // active_flag: "ACTIVE",
        draft_id: null,
      },
      isDetailUpdate: false,
      item_usage_for_aip_detail: [],
      show_filter:true,
      id: null,
      rowSpaces:[],
      created_at: null,
      //===== PROPS HEADER =====
      //========================
      properties: {
        //m_company_id
        m_company_id:{
          displayField: `m_company_code_name`,
          valueField:"id",
          reduce: (row) => {
            return { 
              m_company_id: row.id, 
              m_company: row.m_company_code_name 
            };
          },
          api: {
            autoLoad: false,
            model: "/setup/businessunit",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
            },
            transform: function(dt) {
              dt['m_company_code_name'] = dt['m_company_code']+" - "+ dt['m_company_name'];
              return dt;
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent;
              // console.log(me.id)
              me.$refs.header.setValues({
                m_depo_id:null,
                m_depo:null,
                m_warehouse_id:null,
                m_warehouse:null,
              })
              
              me.values.m_company_id = value.m_company_id;
              me.values.m_company = value.m_company;
              me.$refs.header.getFields("m_depo_id").load();               
              me.$refs.header.getFields("m_warehouse_id").load();               
            }
          }
        },

        //m_depo_id
        m_depo_id:{
          displayField: `m_depo_name`,
          valueField:"id",
          reduce: (row) => {
            return { 
              m_depo_id: row.id, 
              m_depo: row.m_depo_name 
            };
          },
          api: {
            model: "/setup/depo",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
              //companyID: 35
            },
           
            overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let values = me.$refs.header?.getValues();
                let cek_user = me.$store.state.user;
                //let buID = me.$refs.header.getFields("business_unit").getValue();
                let companyID = 0; 
                if(me.id == null){
                  if(values == null || values == undefined){
                    companyID = cek_user.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }else{ 
                  companyID = me.values?.m_company_id; 
                }
                Object.assign(oldParams, {
                  companyID: `${companyID}`
                })
              } catch (error) {console.log(error)}
              return oldParams;
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent; 
              me.$refs.header.setValues({
                m_warehouse_id:null,
                m_warehouse:null,
              })
              me.values.m_depo_id = value.m_depo_id;
              me.values.m_depo = value.m_depo;          
              me.$refs.header.getFields("m_warehouse_id").load();              
            }
          }
        },

        //m_division_id
        m_division_id:{
          displayField: `m_division_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_division_id: row.id, m_division: row.m_division_name };
          },
          api: {
            model: "/setup/division",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
              // companyID: 35
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent;
              me.values.m_division_id = value.m_division_id;
              me.values.m_division = value.m_division;              
            }
          }
        }, 

         //m_subcon_id
        t_aip_no:{
          title : "List Of AIP",
          reduce:(row)=>{ return {
            // t_aip_no_id:row.m_subcon_id,
            t_aip_no_id:row.m_subcon_id,  
            t_aip_no:row.m_subcon_name,//#penting-01              
            }; 
          },
          valueField:"m_subcon_id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:false,
            model:'/Production/OrderSubcon/_GetSubcon',
            parameters:{
              pageSize:25,
            },
          }, 
          listener(element,type,value,event){
            if(['change'].includes(type) ){
              try{ 
                let sForm = element.$parent.$parent.$refs['header']; 
                var sVal=coba.$refs.header.getValues();
                sForm.getFields('t_aip_id').setValue(sVal["t_aip_no_id"]);
              }catch(e){}
            }
          },

          fields:[
              { key:'no',_style:"text-align:center;width:10%", width:10, filter:false,sorter:false},
              { key:'m_subcon_id',label:'Draft',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { key:'m_subcon_name',label:'Subcon Name',_style:"text-align:center;width:30%", width:30, filter:true,sorter:true}, 
              { key:'m_subcon_addr_1',label:'Address',_style:"text-align:center;width:30%", width:30, filter:true,sorter:true},
              { key:'m_subcon_note',label:'Note',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true},
              { key:"action",_classes:"text-center",_style:"text-align:center;width:10%", width:10}
          ]
        }, 

        //m_warehouse_id
        m_warehouse_id:{
          displayField: `m_warehouse_name`,
          valueField:"id",
          reduce: (row) => {
            return { 
              m_warehouse_id:row.id, 
              m_warehouse   :row.m_warehouse_name 
            };
          },
          api: {
            model: "/Setup/Warehouse",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE", 
            },
           
            overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let values = me.$refs.header?.getValues();
                let cek_user = me.$store.state.user;
                //let buID = me.$refs.header.getFields("business_unit").getValue();
                let companyID = ""; 
                let depoID=me.values.m_depo_id;
                if(me.id == null){
                  if(values == null || values == undefined){
                    companyID = cek_user.m_company_id;
                  }else{
                    companyID = values.m_company_id;
                  }
                }else{ 
                  companyID = me.values?.m_company_id; 
                }

                if(depoID==null || depoID==undefined){
                  depoID=0; 
                }else{
                  depoID=me.values.m_depo_id;
                }
                Object.assign(oldParams, {
                  companyID : `${companyID}`,
                  depoID    : `${depoID}`
                })
              } 
              catch (error) 
              {
                console.log(error)
              }
              return oldParams;
            },
            root: "model",
          },

          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent; 
              me.values.m_warehouse_id = value.m_warehouse_id;
              me.values.m_warehouse = value.m_warehouse; 
            }
          }
        },
      },

      //===== PROPS DETAIL =====
      //========================
      propertiesDetail:{
        t_aip_usage_ref_type:{
          displayField:"o_type_name",
          valueField  :"o_type_name",
          reduce: (row) => {
            return {
              t_aip_usage_ref_type_id:row.o_type_name,
              t_aip_usage_ref_type   :row.o_type_name 
            };
          },
          api: {
            autoLoad: false,
            model: "/setup/itemtype",
            parameters: {
              filterField: "o_type_group",
              filterText: "ITEM",
              nameNotIn: "SERVICE",
              pageSize: 1000
            },
            root: "model",
          },
        },
      },

      //==== Table Detail ======
      multiSelectFieldsOnDetails: [
        { key:'no',_style:"text-align:center;width:10%", width:10, filter:false,sorter:false},
        { key:'m_item_code', label: 'Code', _style:"text-align:left;width:20%", width:20, filter:true,sorter:true},
        { key:"m_item_short_desc", label:'Material', _style:"text-align:left;width:20%",width:20,filter:true,sorter:true}, 
        { key:"t_aip_usage_ref_type", label:'Item Type', _style:"text-align:left;width:10%",width:10,filter:true,sorter:true}, 
        { key:"0",label:'Stok Qty',_style:"text-align:right;width:10%",width:10},
        { key:"t_aip_usage_qty",label:'Usage Qty',_style:"text-align:right;width:10%",width:10},
        { key:'t_aip_usage_unit', label: 'Unit', _style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
        { key:"choose",_classes :"text-center",_style:"text-align:center;width:10%",width:10 }
      ],

      //========= Table POPUP ========
      multiSelectFields: [
       { key:'no',_style:"text-align:center;width:10%", width:10, filter:false,sorter:false},
        { key:'m_item_code', label: 'Code', _style:"text-align:left;width:20%", width:20, filter:true,sorter:true},
        { key:"m_item_short_desc", label:'Material', _style:"text-align:left;width:20%",width:20,filter:true,sorter:true}, 
        { key:"t_aip_usage_ref_type", label:'Item Type', _style:"text-align:left;width:10%",width:10,filter:true,sorter:true}, 
        { key:"0",label:'Stok Qty',_style:"text-align:right;width:10%",width:10},
        { key:"t_aip_usage_qty",label:'Usage Qty',_style:"text-align:right;width:10%",width:10},
        { key:'t_aip_usage_unit', label: 'Unit', _style:"text-align:left;width:10%", width:10, filter:true,sorter:true},
        { key:"choose",_classes :"text-center", _style:"text-align:center;width:10%",width:10 } 
      ],
      key: 0,
      detailKey: 0,
      hideHeader: true,
    };
  },

  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.show_filter=false;
      this.id = this.$route.params.id;
      this.apiRead({
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },function(response) {
          var ship_date = response.model.t_aip_usage_date.split("/");
          var ship_date1 = ship_date[2]+"-"+ship_date[0]+"-"+ship_date[1];
          
          response.model.t_aip_usage_date = ship_date1;
          me.$refs.header.setValues(response.model);
          
          if(response.model.t_aip_return_h_status!="IN PROCESS"){
            me.$refs.BtnHideByStatus.hidden=true;
          }else{
            me.$refs.BtnHideByStatus.hidden=false;
          }

          let hasil = response.model;
          me.$refs.header.getFields("m_depo_id").setValue(hasil.m_depo_id);
          me.$refs.header.getFields("m_depo_id").load();
          me.$refs.header.getFields("t_aip_usage_date").setValue(ship_date1);
          me.item_usage_for_aip_detail = response.model.detail;//gantilah
          me.detailKey++;
        },
        function(error) {
          console.log(error);
        }
      );
    }else{
      console.log("create", me.$refs.header);
    }
  },

  mounted() {
     let me = this;
     if (this.$route.params.id == undefined) {
      // console.log('mounted',me);
      let cek_user = this.$store.state.user;
      me.$refs.header.getFields("m_company_id").setValue(cek_user.m_company_id);
      me.$refs.header.getFields("m_depo_id").setValue(cek_user.m_depo_id);
      me.$refs.header.setValues({ 
        m_company_id_id : cek_user.m_company_id, 
        m_company_id    : cek_user.m_company_id, 
        m_depo_id_id    : cek_user.m_depo_id,
        m_depo_id       : cek_user.m_depo_id,
      });
      // me.$refs.header.setValues({ m_depo_id : cek_user.m_depo_id});
     }
     this.created_at = new Date();
  },

  methods: {
    overridePar(element, oldParams){
        try {
            window.coba=this; 
            let vHeader = this.$refs.header?.getValues();
            let vDetail = this.$refs.detail?.getValues();
            let m_company_id = vHeader.m_company_id;             
            let m_depo_id= vHeader.m_depo_id;
            let m_warehouse_id= vHeader.m_warehouse_id;
            
            let t_aip_usage_ref_type = vDetail.t_aip_usage_ref_type;
            Object.assign(oldParams, 
            {
              m_company_id   : `${m_company_id}`, 
              m_item_type    : `${t_aip_usage_ref_type}`,
              m_depo_id      : `${m_depo_id}`,
              m_warehouse_id : `${m_warehouse_id}`,
            });
          // console.log(values);
        } catch (error) {
          console.log(error)
          }
        return oldParams;
    },

    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "Item Usage For AIP" });
      }
    },

    beforeSubmit(){ //gantilah isinya
      if(this.item_usage_for_aip_detail.length==0){
        vm.$alertify.alertWithTitle('Warning','Silahkan isi Detail minimal 1 baris')
        return false;
      }
      return true;
    },

    item_usage_for_aip_detail_on_change(data) {
      console.log(data);
    },

    onSelect(data) {
      this.item_usage_for_aip_detail = this.item_usage_for_aip_detail.concat(data);
    },

    // beforeSubmit() {
    //gantilah isinya
    // let is_primary = false;
    // for (let index in this.transaction_detail) {
    //   is_primary = this.transaction_detail[index].is_primary;
    //   if (is_primary) {
    //     return true;
    //   }
    // }
    // if (!is_primary) {
    //   vm.$alertify.alertWithTitle(
    //     "Warning!",
    //     "Maaf, Silahkan pilih salah satu Primary Responsibility"
    //   );
    //   return false;
    //  }
    // },

    submit() {
      let me = this;
      if (!this.$refs["header"].getValid()) {
        return;
      }

      let val = this.values;
      let values = me.$refs["header"].getValues();
      let tanggal = values["t_aip_usage_date"].split("-"); 
      let t_aip_usage_date = tanggal[1]+"/"+tanggal[2]+"/"+tanggal[0];
      let CreateDate = new Date();
      let processedData = {};
      if(me.id == null){
        processedData = {
          "m_company_id"    : values["m_company_id"],
          "m_division_id"   : values["m_division_id"],
          "m_depo_id"       : values["m_depo_id"],
          "t_aip_usage_date": t_aip_usage_date,
          "t_aip_id"        : values["t_aip_id"] == undefined ? me.values.t_aip_id : values["t_aip_id"],
          "t_aip_usage_h_note"   : values["t_aip_usage_h_note"] == undefined ? me.values.t_aip_usage_h_note : values["t_aip_usage_h_note"],
          "t_aip_usage_h_status" : values["t_aip_usage_h_status"],
          "m_warehouse_id"  : values["m_warehouse_id"] == undefined ? false : values["m_warehouse_id"],
          "created_at"      : CreateDate,
        };

      }else{
        processedData = {
          "m_company_id"    : values["m_company_id"],
          "m_division_id"   : values["m_division_id"],
          "m_depo_id"       : values["m_depo_id"],
          "t_aip_usage_date": t_aip_usage_date,
          "t_aip_id"        : values["t_aip_id"] == undefined ? me.values.t_aip_id : values["t_aip_id"],
          "t_aip_usage_h_note"   : values["t_aip_usage_h_note"] == undefined ? me.values.t_aip_usage_h_note : values["t_aip_usage_h_note"],
          "t_aip_usage_h_status" : values["t_aip_usage_h_status"],
          "m_warehouse_id"  : values["m_warehouse_id"] == undefined ? false : values["m_warehouse_id"],
          "created_at"      : null,
        };
      }
      let processedDetailData=[];
      if(this.item_usage_for_aip_detail.length > 0){
        this.item_usage_for_aip_detail.map((dataDetail,index)=>{
          let cek = index + 1;
            processedDetailData.push({
              "t_aip_usage_ref_type": dataDetail["t_aip_usage_ref_type"],
              "t_aip_usage_ref_id"  : dataDetail["t_aip_usage_ref_id"],
              "t_aip_usage_qty"     : dataDetail["t_aip_usage_qty"],
              "t_aip_usage_unit_id" : dataDetail["t_aip_usage_unit_id"],
              "t_aip_usage_d_note"  : dataDetail["t_aip_usage_d_note"], 
            });
        })
      }else{
        this.$alertify.alertWithTitle("Warning!","Maaf, Isi Detail Dulu");
        return false;
      }
          // =========================================END
      processedData["detail"] = processedDetailData; //PENGGABUNGAN HEADER DAN DETAIL
      //console.log(processedData);
      //values["status"] = "ACTIVE" ? true : false;
      //console.log("CROOTT2", values);
      if (me.id === null) {
        me.apiCreate({
            model: me.apiEndpoint,
            data: processedData,
          },function(response) {
            me.$parent.setCreating(false);
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiUpdate({
            model: me.apiEndpoint,
            id   : me.id,
            data : processedData,
          },function(response) {
            me.$router.push({ 
              name:"Item Usage For AIP"
            });
          },function(error) {
            console.log(error);
          }
        )
      }
    },
  },
};
</script>
<style></style>