<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
        >
          <CIcon name="cil-check-circle" /> Clear
        </CButton>
        <!-- <CButton style="margin-right:5px" type="reset" size="sm" color="danger" @click="reset">
          <CIcon name="cil-ban"/> Reset</CButton> -->
      </CCol>
    </CRow>
  </div>
</template>
<script>
import rawData from "./data.json";
import DecoderPdf from "@/elements/DecoderPdf";
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },
  data() {
    return {
      title: "Master Business Unit", //gantilah
      apiEndpoint: "/setup/businessunit", //gantilah
      routeEndpoint: "/setup/master_business_unit", //gantilah
      values: {
        //gantilah
        active_flag: "ACTIVE",
      },
      // isDetailUpdate: false,
      id: null,
      rowSpaces:[
        {
          id: "m_company_email",
          position: "before",
          total:1
        }
      ],
      properties: {
        m_parent_id:{
          displayField: `m_company_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_parent_id: row.id, m_parent: row.m_company_name };
          },
          api: {
            autoLoad: false,
            model: "/setup/businessunit/_getparent",
            parameters: {
              pageSize: 1000,
            },
            root: "model",
          },
        },
        m_company_city_id:{
          displayField: `m_general_desc`,
          valueField:"id",
          reduce: (row) => {
            return { m_company_city_id: row.id, m_company_city: row.m_general_desc };
          },
          api:{
              autoLoad: false,
              model       : "/setup/general",
              parameters  : {
                  filterField: "m_general_group",
                  filterText: "CITY",
                  pageSize: 10000
              },
              root:"model"
          }
        },
        active_flag: {
          options: ["ACTIVE","INACTIVE"],
        },
        m_company_price_type: {
          //options: ["INCLUDE","EXCLUDE","NONTAX"],
          //checkmany:true,
          options: [
            {
              label:"EXCLUDE", 
              value:"EXCLUDE"
            }, 
            {
              label:"INCLUDE", 
              value:"INCLUDE"
            }, 
            {
              label:"NONTAX", 
              value:"NONTAX"
            }
          ],
        },
        m_supp:{
          reduce:(row)=>{ return { 
              m_supp_id:row.m_supp_id, m_supp:row.m_supp_name//#penting-01  
            }; 
          },
          valueField:"m_supp_id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:false,
            model:'/Setup/BusinessUnit/_GetSupplier',
            parameters:{
              paginate:25,
              filterField:'m_supp_code,m_supp_name,city_desc,province_name,payment_type,m_supp_tax'
            }
          },
          fields:[
              { key:'no',_style:"text-align:center;width:5%", width:5, filter:false,sorter:false},
              { key:'m_supp_code',label:'Code',_style:"text-align:center;width:20%", width:20, filter:true,sorter:true}, 
              { key:'m_supp_name',label:'Name',_style:"text-align:center;width:20%", width:20, filter:true,sorter:true}, 
              { key:'city_desc',label:'City',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { key:'province_name',label:'Province',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { key:'payment_type',label:'Payment Type',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { label: "Tax Type", key:'m_supp_tax',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ]
        },
        m_cust:{
          reduce:(row)=>{ return { 
              m_cust_id:row.m_cust_id, m_cust:row.m_cust_name//#penting-01  
            }; 
          },
          valueField:"m_cust_id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:false,
            model:'/Setup/BusinessUnit/_GetCustomer',
            parameters:{
              paginate:25,
              filterField:'m_cust_code,m_cust_name,city,payment_type,m_cust_taxable,criteria'
            }
          },
          fields:[
              { key:'no',_style:"text-align:center;width:5%", width:5, filter:false,sorter:false},
              { key:'m_cust_code',label:'Code',_style:"text-align:center;width:14%", width:14, filter:true,sorter:true}, 
              { key:'m_cust_name',label:'Name',_style:"text-align:center;width:23%", width:23, filter:true,sorter:true}, 
              { key:'city',label:'City',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true},
              { key:'payment_type',label:'Payment Type',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { label: "Tax Type", key:'m_cust_taxable',_style:"text-align:center;width:10%", width:10, filter:true,sorter:true}, 
              { key:"criteria",_style:"text-align:center;width:10%", width:10, filter:true,sorter:true},
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ]
        },
      },
      key: 0,
      detailKey: 0,
      hideHeader: true,
    };
  },
  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.apiRead(
        {
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },
        function(response) {
          //console.log("m_parent_id", response.model.m_parent_id);
          if(response.model.m_parent_id == 0){
            response.model.m_parent = "NONE";
            me.$refs.header.$refs.m_parent_id[0].setValue(0);
            me.$refs.header.setValues({ m_parent_id : 0, m_parent: "NONE" });
          }
          response.model.m_cust = response.model.m_cust_name; 
          response.model.m_supp = response.model.m_supp_name; 
          response.model.m_company_tax = response.model.m_company_tax_value; 
          response.model.active_flag = response.model.m_company_active_flag; 
          me.$refs.header.setValues(response.model);
          // console.log(response.model);
          console.log(me.$refs.header);
        },
        function(error) {
          console.log(error);
        }
      );
    }else{
      // let cek_user = this.$store.state.user;
      //   if(cek_user!=="undefined" && (cek_user.m_company_code.toLowerCase()).includes("btm")){
      //     me.$refs.header.setValues({ m_company_price_type : "NONTAX"});
      //   }else{
      //     console.log(me.$refs.header.apiOperationUrl);
      //     me.$refs.header.setValues({ m_company_price_type : "EXCLUDE"});
      //   }
      //console.log("cek_user", cek_user);
      console.log("create", me.$refs.header);
    }
  },
  mounted() {
     let me = this;
     if (this.$route.params.id == undefined) {
      console.log('mounted',me);
      let cek_user = this.$store.state.user;
        if(cek_user!=="undefined" && (cek_user.m_company_code.toLowerCase()).includes("btm")){
          me.$refs.header.setValues({ m_company_price_type : "NONTAX"});
        }else{
          console.log(me.$refs.header.apiOperationUrl);
          me.$refs.header.setValues({ m_company_price_type : "EXCLUDE"});
        }
     }
  },
  methods: {
    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "Business Unit" });
      }
    },
    transaction_detail_on_change(data) {
      console.log(data);
    },
    onSelect(data) {
      //this.transaction_detail = this.transaction_detail.concat(data);
    },
    // beforeSubmit() {
    //   //gantilah isinya
    //   // let is_primary = false;
    //   // for (let index in this.transaction_detail) {
    //   //   is_primary = this.transaction_detail[index].is_primary;
    //   //   if (is_primary) {
    //   //     return true;
    //   //   }
    //   // }
    //   // if (!is_primary) {
    //   //   vm.$alertify.alertWithTitle(
    //   //     "Warning!",
    //   //     "Maaf, Silahkan pilih salah satu Primary Responsibility"
    //   //   );
    //   //   return false;
    //   // }
    // },
    submit() {
      let me = this;
      if (!this.$refs["header"].getValid()) {
        return;
      }
      let val = this.values;
      let values = me.$refs["header"].getValues();
      //console.log("CROTTT", values);
      //values["status"] = "ACTIVE" ? true : false;
      //console.log("CROOTT2", values);
      values["m_supp_id"] = val.m_supp_id; //gantilah
      values["m_cust_id"] = val.m_cust_id; //gantilah
      if (me.id === null) {
        me.apiCreate(
          {
            model: me.apiEndpoint,
            data: values,
          },
          function(response) {
            me.$parent.setCreating(false);
            //me.$router.push({ name: "Business Unit" });
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiUpdate(
          {
            model: me.apiEndpoint,
            id: me.id,
            data: values,
          },
          function(response) {
            me.$router.push({ name: "Business Unit" });
          },
          function(error) {
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
<style></style>