<template>
<div>
    <CCard>
    <CCardBody>
        <Datatable  
          ref='landing'
          :striped="false"
          :border="false" :hover="false"
          :api="{
            model:'backend_approval_detail_outstanding',
            parameters:{
              paginate:25
            },
            transform:function(dt){
              return dt;
            },
            transformArray:function(arrayData){
              let newArray = [];
              let names = [];
              arrayData.forEach( (dt,idx)=>{
                    dt['level'] = dt.level+'/'+dt.level_max;
                    dt['rule'] = dt.rule_name;
                    if( !names.includes(dt.transaction_name) ){
                        names.push(dt.transaction_name);
                        newArray.push({
                            transaction_name:dt.transaction_name,
                            id:idx,
                            _toggled:false,
                            children:[]
                        });
                        newArray[newArray.length-1].children.push(dt);
                    }else{
                        let ketemu = newArray.findIndex(row=>row.transaction_name==dt.transaction_name);    
                        newArray[ketemu].children.push(dt);
                    }
              })
              return newArray;
            },
          }"
          :fields="fields"
          :paginate="25"
          >      
        <template v-for="(fieldData,fieldIndex) in fields"
            v-slot:[fieldData.key]="{item,index}"
        >
            <td :style="getWidth(fieldData.key,fields)+';border:none;'" :key="fieldIndex" :class="'text-left'">
                <CButton
                    color="link"
                    style="text-align:left;padding:0px;"
                    square
                    size="sm"
                    v-if="fieldData.key=='transaction_name'"
                    @click="toggleDetails(item, index)"
                >
                    <CBadge color="success">{{item[fieldData.key]}} [{{ item.children.length }}]</CBadge>
                </CButton>
            </td>
        </template>
        
        <template #details="{item}">
            <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration" style="width:100%;">
                <tr v-for="(detail,idx) in item.children" :key="idx" style="width:100%;display: inline-table;">                    
                    <td v-for="(field,idx) in fields" :key="idx" :style="getWidth(field.key,fields)+';padding:0px !important;'">
                        <router-link class="p-0" v-if="field.key=='transaction_no'" to='/templates/approval1/1'>{{ detail[field.key] }}</router-link>
                        <span class="p-0" v-else>{{ detail[field.key] }}</span>
                    </td>
                </tr>
            </CCollapse>
        </template>

        </DataTable>
    </CCardBody>
    </CCard>
</div>
</template>

<script>
const items = [
    { transaction_name: 'Purchase Order', children:[
            { transaction_name: 'Purchase Order', rule: '2012/02/01', transaction_no: 'Staff', rule_type: 'Banned', transaction_date:"2020-12-12",level:"2/6"},
            { transaction_name: 'Purchase Order', rule: '2012/02/01', transaction_no: 'Admin', rule_type: 'Inactive', transaction_date:"2020-12-12",level:"2/6"},
        ], _toggled:true},
    { transaction_name: 'LKM', children:[
            { transaction_name: 'LKM', rule: '2012/02/01', transaction_no: 'Staff', rule_type: 'Banned', transaction_date:"2020-12-12",level:"2/6"},
            { transaction_name: 'LKM', rule: '2012/02/01', transaction_no: 'Admin', rule_type: 'Inactive', transaction_date:"2020-12-12",level:"2/6"},
        ], _toggled:true},
    { transaction_name: 'BPB', children:[
            { transaction_name: 'BPB', rule: '2012/02/01', transaction_no: 'Staff', rule_type: 'Banned', transaction_date:"2020-12-12",level:"2/6"},
            { transaction_name: 'BPB', rule: '2012/02/01', transaction_no: 'Admin', rule_type: 'Inactive', transaction_date:"2020-12-12",level:"2/6"},
        ], _toggled:true},
    { transaction_name: 'Estimated Landed Cost', children:[
            { transaction_name: 'LC', rule: '2012/02/01', transaction_no: 'Staff', rule_type: 'Banned', transaction_date:"2020-12-12",level:"2/6"},
            { transaction_name: 'LC', rule: '2012/02/01', transaction_no: 'Admin', rule_type: 'Inactive', transaction_date:"2020-12-12",level:"2/6"},
        ], _toggled:true}
]

const fields = [
  { key: 'transaction_name', _style:'width:30%',width:30 },
  { key: 'rule', _style:'width:15%',width:15 },
  { key: 'transaction_no', label:'Identifier',   _style:'width:25%',width:25 },
  { key: 'transaction_date', label:'Date', _style:'width:10%',width:10 },
  { key: 'level', _style:'width:10%',width:10 },
  { key: 'rule_type', _style:'width:15%',width:15 },
]

export default {
  name: 'AdvancedTables',
  data () {
    return {
      items: items.map((item, id) => { return {...item, id}}),
      fields,
      details: [],
      collapseDuration: 0
    }
  },
  methods: {
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    toggleDetails (item) {
      item._toggled=!item._toggled;
      this.collapseDuration = 300
      this.$nextTick(() => { this.collapseDuration = 0})
    }
  }
}
</script>

<style>

</style>