<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
        >
          <CIcon name="cil-check-circle" /> Clear
        </CButton>
      </CCol>
    </CRow>
  </div>
</template>
<script>
import rawData from "./data.json";
import DecoderPdf from "@/elements/DecoderPdf";
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },
  data() {
    return {
      title: "Fixed Asset/Asset Category", //gantilah
      apiEndpoint: "/FixedAsset/AssetCategory", //gantilah
      routeEndpoint: "/FixedAsset/AssetCategory", //gantilah
      values: {
        //gantilah
        active_flag: "ACTIVE",
        shipment_id: 0,
      },
      values2:{},
      isDetailUpdate: false,
      shipment_detail: [],
      id: null,
      created_at: null,
      rowSpaces:[
        {
          id: "depr_account_id",
          position: "after",
          total:1
        },
      ],
      valuesFlying:{},
      properties: {
        asset_account_id:{
          displayField: `m_account_desc`,
          valueField:"id",
          reduce: (row) => {
            return { asset_account_id: row.id, asset_account: row.m_account_desc };
          },
          api: {
            model: "/accounting/account",
            parameters: {
                pageSize: 1000,
                // filterField: "o_type_group",
                // filterText: "CUSTOMER",
              // companyID: 35
            },
            root: "model",
          },
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              let me = element.$parent.$parent;
              me.$refs.header.setValues({
                do_no_id: null,
                t_do_h_id: null,
                do_no: null,
                customer_id: null,
                customer: null,
              })
              me.values.customer_type_id = value.customer_type_id;
              me.values.customer_type = value.customer_type;
              me.shipment_detail = [];
              let formHeader = element.$parent.$parent.$refs['header'];
              formHeader.getFields('sales').setValue(null);
              
            }
          }
        },
        accum_account_id:{
          displayField: `m_account_desc`,
          valueField:"id",
          reduce: (row) => {
            return { accum_account_id: row.id, accum_account: row.m_account_desc };
          },
          api: {
            model: "/accounting/account",
            parameters: {
                pageSize: 1000,
            },
            root: "model",
          },
        },
        depr_account_id:{
          displayField: `m_account_desc`,
          valueField:"id",
          reduce: (row) => {
            return { depr_account_id: row.id, depr_account: row.m_account_desc };
          },
          api: {
            model: "/accounting/account",
            parameters: {
                pageSize: 1000,
            },
            root: "model",
          },
        },
        active_flag: {
          width:"65%",
          options: ["ACTIVE","INACTIVE"],
        }
      },
      key: 0,
      key2: 0,
      detailKey: 0,
      indexEditdetail: 0,
      hideHeader: true,
    };
  },
  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.apiRead(
        {
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },
        function(response) {
        },
        function(error) {
          console.log(error);
        }
      );
    } else {
    }
  },
  mounted() {
     let me = this;
     this.created_at = this.mixin1().getCreatedAt();
  },
  methods: {
    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "Asset Category" });
      }
    },
    submit() {
      let me = this;
      if (!this.$refs["header"].getValid()) {
        return;
      }
      let val = this.values;
      let values = me.$refs["header"].getValues();
      let processedData = {};
      if (me.id == null) {
        processedData = {
              "m_asset_type_code": values["m_asset_type_code"],
              "m_asset_type_name": values["m_asset_type_name"],
              "asset_account_id": values["asset_account_id"],
              "depr_account_id": values["depr_account_id"],
              "accum_account_id": values["accum_account_id"],
              "active_flag": values["active_flag"],
              "m_asset_type_note": values["m_asset_type_note"] == undefined ? null : values["m_asset_type_note"],
              "created_at": me.id == this.created_at,
          };
      } else {
        processedData = {
              "m_asset_type_code": values["m_asset_type_code"],
              "m_asset_type_name": values["m_asset_type_name"],
              "asset_account_id": values["asset_account_id"],
              "depr_account_id": values["depr_account_id"],
              "accum_account_id": values["accum_account_id"],
              "active_flag": values["active_flag"],
              "m_asset_type_note": values["m_asset_type_note"] == undefined ? null : values["m_asset_type_note"],
          };
      }
      if (me.id === null) {
        me.apiCreate(
          {
            model: me.apiEndpoint,
            data: processedData,
          },
          function(response) {
            me.$parent.setCreating(false);
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiUpdate(
          {
            model: me.apiEndpoint,
            id: me.id,
            data: processedData,
          },
          function(response) {
            me.$router.push({ name: "Asset Category" });
          },
          function(error) {
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
<style></style>