<template>
  <div>
    <CRow>
      <CCol>
        <transition name="fade">
          <Formulir v-if="isCreating" />
          <Datatable
            v-else
            ref="landing"
            :api="{
              model: apiEndpoint,
              parameters: {
                paginate: 25,
                page: 1,
                order_by: 'id desc'
            },
              transform: function(dt) {
                dt['asset_account'] = dt['asset_account_code'] + ' - ' + dt['asset_account_name'];
                dt['depr_account'] = dt['depr_account_code'] + ' - ' + dt['depr_account_name'];
                dt['accum_account'] = dt['accum_account_code'] + ' - ' + dt['accum_account_name'];
                return dt;
              },
            }"
            :fields="fields"
            :paginate="25"
          >
            <template #header>
              <CIcon name="cil-grid" /> {{ title }}
              <div class="card-header-actions">
                <CCol>
                  <CRow>
                    <CButton
                      color="success"
                      variant="outline"
                      size="sm"
                      style="margin-right:5px"
                      @click="isCreating = true"
                    >
                      &nbsp;Create&nbsp;&nbsp;<CIcon size="sm" name="cil-playlist-add"/>
                    </CButton>
                    <CButton color="warning" variant="outline" size="sm">
                      &nbsp;Export&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-arrow-thick-to-bottom"
                      />
                    </CButton>
                  </CRow>
                </CCol>
              </div>
            </template>
            <template
              v-for="(fieldData, fieldIndex) in fields"
              v-slot:[fieldData.key]="{ item }"
            >
              <td
                :style="getWidth(fieldData.key, fields)"
                :key="fieldIndex"
                :class="fieldData._classes"
              >
                <p
                  class="text-center"
                  style="margin:0px"
                  v-if="fieldData.key == 'active_flag'"
                >
                  <CBadge
                    :color="
                      item[fieldData.key] == 'ACTIVE' ? 'primary' : 'danger'
                    "
                  >
                    {{ item[fieldData.key] }}
                  </CBadge>
                </p>
                
                <span v-else>{{ item[fieldData.key] }}</span>
              </td>
            </template>
            <template #action="{item}">
              <td :style="getWidth('action', fields)">
                <p class="text-center" style="margin:0px">
                  <CButton
                    color="success"
                    :hidden="false"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :to="$route.path + '/' + item.id"
                  >
                    <CIcon name="cil-pencil" size="sm" />
                  </CButton>
                  <CButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :hidden="false"
                    @click="
                      apiDelete(
                        {
                          model: apiEndpoint,
                          id: item.id,
                        },
                        function(dt) {
                          $refs.landing.load();
                        }
                      )"
                  >
                    <CIcon name="cil-trash" size="sm" />
                  </CButton>
                </p>
              </td>
            </template>
          </Datatable>
        </transition>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import Formulir from "./Form";
export default {
  components: { Formulir },
  data() {
    return {
      title: "Asset Category", //gantilah
      apiEndpoint: "/FixedAsset/AssetCategory", //gantilah
      isCreating: false,
      fields: [
        {
          key: "no",
          _style: "text-align:center;width:5%",
          width: 5,
          filter: false,
          sorter: false,
        },
        {
          key: "m_asset_type_code",
          label: "Code",
          _style: "text-align:left;width:5%",
          width: 5,
          filter: true,
          sorter: true,
        },
        {
          key: "m_asset_type_name",
          label: "Name",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "asset_account",
          label: "Asset COA",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
          alias: "asset_account_code,asset_account_name",
        },
        {
          key: "depr_account",
          label: "Depreciation COA",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
          alias: "depr_account_code,depr_account_name",
        },
        {
          key: "accum_account",
          label: "Accum. Depr. COA",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
          alias: "accum_account_code,accum_account_name",
        },
        {
          key: "m_asset_type_note",
          label: "Note",
          _style: "text-align:left;width:10%",
          width: 10,
          filter: true,
          sorter: true,
        },
        {
          key: "active_flag",
          label: "Status",
          _style: "text-align:left;width:5%",
          width: 5,
          filter: true,
          sorter: true,
        },
        {
          key: "action",
          _classes: "text-center",
          _style: "text-align:center;width:10%",
          width: 10,
        },
      ],
    };
  },
  activated() {
    this.$refs.landing.load();
  },
  created() {
  },
  methods: {
  },
};
</script>