<template>
    <CRow form class="form-group" v-if="!hidden_">
      <CCol tag="label" sm="3" class="col-form-label" v-if="label_!==''">
        {{label_}}
      </CCol>
      <CCol sm="9" class="form-inline">
        <template v-if="!checkone_">
          <CInputCheckbox
            style="margin-right:4px;"
            v-for="(option, optionIndex) in options_"
            :key="optionIndex"
            :label="option['label']"
            :value="option['value']"
            :custom="true"
            :name="name"
            :state="!( ( value_.length==0) && required_)"
            :required="required_"
            :checked.sync="option.checked"
            @update:checked="change"
          />
        </template>
        <!-- <b-form-checkbox-group
            v-model="value_"
            :options="options_"
            :name="name"
            value-field="value"
            text-field="label"
            :disabled="readonly_"
            v-b-tooltip.hover.bottomright 
            :title="required_?'Required':'Optional'"
            @input="change"
            :state="!( ( value_.length==0) && required_)"
            v-if="!checkone_"
          >
            <b-form-invalid-feedback :state="!( ( value_.length==0) && required_)">{{textInvalid}}</b-form-invalid-feedback>
            <b-form-valid-feedback :state="!( ( value_.length==0) && required_)">{{textValid}}</b-form-valid-feedback>
          </b-form-checkbox-group> -->
          
          <CInputCheckbox
            :name="name"
            v-else
            :required="required_"
            :value="value_"
            :custom="true"
            :label="options_[0].label"
            :unchecked-value="false"
            v-b-tooltip.hover.bottomright 
            :disabled="readonly_"
            :title="required_?'Required':'Optional'"
            switch
            :checked.sync="value_"
            @update:checked="change"
            class="text-center"
          >
          </CInputCheckbox>
      </CCol>
    </CRow>
</template>
<script>
export default {
  name: 'Checkboxfield',
  props: {
    checkone:{
      type:Boolean,
      default:false,
    },
    required: {
        type:Boolean,
        required:false
    },
    name: {
        type:String,
        required:false
    },
    value: {
        default(){ return this.checkone?false:['Option1'];}
    },
    label: {
        type:String,
        default:'Checkbox'
    },
    options: {
        type:Array,
        default(){
            return[
              { value: 'Option1', label: 'Custom label'},
              { value: 'Option2', label: 'Custom label2'}
            ];
        }
    },
    listener:null,
    readonly:false,
    hidden:false
  },
  data () {
    return {
      checkone_:false,
      textValid : "",
      textInvalid: "Choose one",
      isValid:true,
      value_:[],
      required_:false,
      readonly_:false,
      hidden_:false,
      label_:"",
      name_:"",
      options_:[],
      placeholder_:"",
      triggerChange:true
    }
  },
  created(){    
    this.value_=this.value;
    this.checkone_=this.checkone;
    this.required_=this.required;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    let options = this.options;
    if(!this.checkone_){
      options.forEach( (dt,i)=>{
        options[i]['checked'] = (this.value_).includes( dt.value );
      })
    }else{
      this.value = this.value_
    }
    this.options_=this.options;
    this.readonly_=this.readonly;
    this.setReadOnly(this.readonly_);
    this.onchangeOriginal({type:"created"});
  },
  methods: {
    isCheckOne(){
      return this.checkone_;
    },
    getChecked(val){
      return (this.value_).find(dt=>{return dt.value==val})?true:false;
    },
    change(event){
      if(this.triggerChange){
        this.onchangeOriginal("change");
      }
      this.triggerChange=true;
    },
    getValue(){
      if(!this.checkone){
        let terpilih = [];
        this.options_.forEach((dt)=>{
          if(dt.checked){
            terpilih.push(dt['value'])
          }
        })
        return terpilih;
      }
      return this.value_;
    },
    setValue(val,triggerChange=true){
      let values;
      this.triggerChange=triggerChange;
      if(this.checkone_){
        this.value_=val;
        return;
      }
      values = [];
      this.options_.forEach( (dt,i)=>{        
        this.options_[i]['checked'] = val.includes( dt.value)
      });
      this.value_=values;
      // this.$forceUpdate()
      if(triggerChange){
        this.onchangeOriginal({type:"change"});
      }
      this.triggerChange=true;
      return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if( ['change','keyup'].includes(type)){            
            this.$emit('update:value',this.getValue());
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.getValue(),evt)
            }else if(this.listener !== undefined){
                this.listener(this,type,this.getValue(),evt);
            }
        }
    }
  }
}
</script>