<template>
    <CCard>
    <CCardHeader v-if="this.$slots.header" style='padding:5px 7px 5px 5px'>
      <slot name="header">
      </slot>
    </CCardHeader>
    <CCardBody>
      <QDataTable
        :hover="hover"
        :striped="striped"
        border
        :small="false"
        :fixed="fixed"
        :items="items_"
        :fields="fields"
        :items-per-page="paginate_"
        :dark="dark"
        :pagination="false"
        class="myDatatableMulti"
        cleaner
        sorter
        :loading="loading"
        :column-filter="columnFilter"
        :table-filter="tableFilter"
        :items-per-page-select="itemsPerPage"
        :tableFilterValue.sync="tableFilterValue"
        @update:table-filter-value="filtering"
        @pagination-change="paginationChange"
        @page-change="pageChange"
        
      > 

<!-- ====================TBODY -->
        <!-- <template v-for="slot in Object.keys($scopedSlots)" :slot="slot" slot-scope="scope" >
          <slot :name="slot" v-bind="scope"/>
        </template> -->
        <template #no='{index}'>
          <td class="text-center" style="text-align:center;width:5%">
            <span>{{ paginate_*(pageActive-1)+ (index+1) }}</span>
          </td>
        </template>
        
        <template  #choose-header style="text-align:center;width:5%" class="text-center">
            <b-form-checkbox @input="checkAll" v-model="terpilihAll" />
        </template>
        <template #choose='{index}'>
          <td style="text-align:center;width:5%" class="text-center">
            <span>
              <p class="text-center" style="margin:0px">
                  <b-form-checkbox
                      class="text-center"
                      @input="checkRow"
                      v-model="items_[index]._terpilih"
                  >
                  </b-form-checkbox>
              </p>
            </span>
          </td>
        </template>
<!-- ====================TBODY -->
        <template #cleaner={isFiltered}>
            <CButton :style="(!isFiltered?'display:none;':'display:block;')+'color:red'" size="sm" shape="pill" @click="cleanFilter">
              <CIcon name="cil-filter-x" size="sm"/>
            </CButton>
        </template>
        <template v-slot:under-table>
            <CRow style="padding-left:1rem">
                <CCol md="6">
                <CPagination
                    :pages="total_pages"
                    size="sm"
                    :dots="false"
                    :active-page="pageActive"
                    @update:activePage="pageChange"
                    >
                    <template v-slot:first-button>First</template>
                    <template v-slot:last-button>Last</template>
                    <template v-slot:previous-button>Prev</template>
                    <template v-slot:next-button>Next</template>
                </CPagination>
                </CCol>
                <CCol md="6">
                    <CButton style="margin-left:5px;float:right;" size="sm" color="success" :disabled="terpilih.length==0" @click="addToList">
                        <CIcon name="cil-check-circle" size="sm"/> Add [{{terpilih.length}}]
                    </CButton>
                    <CButton style="margin-left:5px;float:right;" size="sm" color="danger" :disabled="terpilih.length==0" @click="clearAll">
                    <CIcon name="cil-ban" size="sm"/> Clear</CButton>
                </CCol>
            </CRow>
        </template>
      </QDataTable>
    </CCardBody>
  </CCard>
</template>
<script>
export default {
  name: 'DatatableMulti',
  data(){
    return {  
      
      terpilihAll:false,
      terpilih:[],  
      loading:false,  
      pageActive:1,
      tableFilterValue:"",
      tableFilter:{ external: true, placeholder:"Search", label:"Search",lazy:true},
      itemsPerPage:{ external: true, values: [25,50,100], label:"Max"},
      items_:[],
      total_pages:1
    }
  },
  props: {
    data:{
      type: Array,
      default(){return [];}
    },
    columnFilter:{
      type: Boolean,
      default: false
    },
    pagination:true,
    api:{
      type: Object
    },
    isPopupOne:{
      type: Boolean,
      default: false
    },
    fields: {
      type: Array,
      required:true,
      default () {
        return []
      }
    },
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default () { return true}
    },
    striped: {
      type: Boolean,
      default () { return true}
    },
    border: {
      type: Boolean,
      default () { return true}
    },
    small: {
      type: Boolean,
      default () { return true}
    },
    fixed: {
      type: Boolean,
      default () { return true}
    },
    dark: {
      type: Boolean,
      default () { return false}
    },
    overrideParams:undefined
  },
  mounted(){
  },
  activated(){
  },
  created(){
    // console.log('siap')
    this.paginate_=this.api.parameters.paginate===undefined?25:this.api.parameters.paginate;
    this.load();
  },
  methods: {
    addToList(){
      this.$emit('onSelect',this.terpilih)
      this.$parent.hide()//closeTablePopup();
    },
    clearAll(){
      this.items_ = this.items_.map(dt=>{
        dt._terpilih=false;
        return dt;
      });
      this.terpilihAll=false;
    },
    checkAll(val){
      this.items_ = this.items_.map(dt=>{
        dt._terpilih=val;
        return dt;
      });
        if(val){
          this.terpilih=this.items_;
        }
        this.terpilihAll=val;
    },
    checkRow(val){
      this.terpilih = this.items_.filter(dt=>dt._terpilih===true);
    },
    refresh(){
      this.load();
    },
    cleanFilter(){
      this.tableFilterValue=null;
      this.load()
    },
    getQueryString(params) {
      return Object
      .keys(params)
      .map(k => {
          if (Array.isArray(params[k])) {
              return params[k]
                .map(val => `${encodeURIComponent(k)}[]=${encodeURIComponent(val)}`)
                .join('&')
          }
          return `${encodeURIComponent(k)}=${encodeURIComponent(params[k])}`
      })
      .join('&')
    },
    load(callback=function(data){}){
      let me = this;
      me.loading=true;
      let originalParams = JSON.parse(JSON.stringify(me.api.parameters));
      let defaultParams = {}
      // {
      //   search:this.tableFilterValue==""||this.tableFilterValue===null?null:this.tableFilterValue,
      //   page:this.pageActive
      // };
      if(this.tableFilterValue){
         defaultParams[me.apiParameters.filter_text] = this.tableFilterValue
         let filterField = '';
         for (let index = 0; index < this.fields_shown.length; index++) {
           if(this.fields_shown[index].key != "no" && this.fields_shown[index].key != "action"){
             if(filterField == ''){
               filterField += this.fields_shown[index].key;
             }else{
               filterField += ","+this.fields_shown[index].key;
             }
           }
         }
         defaultParams[me.apiParameters.filter_fields] = filterField;
      }
      defaultParams[me.apiParameters.page] = this.pageActive
      defaultParams[me.apiParameters.paginate] = this.paginate_
      Object.assign(originalParams,defaultParams);
      let newParams = {};
      
      if(me.api.overrideParams!==undefined){
        newParams = me.api.overrideParams(me, originalParams);
      }
      if(me.overrideParams!==undefined){
        newParams = me.overrideParams(me, originalParams);
      }
      if(typeof(newParams)=='boolean' && !newParams){
        return false;
      }
      Object.assign(originalParams, newParams);
      this.apiRequest({
        model: me.api.model+"?"+me.getQueryString(originalParams),
        data:{}
      },function(response){
          let data = response;
          me.loading=false;      
          let func = me.api.transform;
          let arrayData = data[me.rootData];
          
          if(typeof(func)=='function'){            
              arrayData=arrayData.map(function(row){
                return func(row);
              });
          }
          if(me.api['unique']!==undefined){
            arrayData = (arrayData).filter((dt,i)=>{
              return !( me.data.find(exist=>{
                return dt[me.api.unique] == exist[me.api.unique];
              }) )
            })
          }
          me.items_ = arrayData;
          me.total_pages=data.last_page;
          setTimeout(function(){            
            let scrollHeight = document.getElementsByClassName('myDatatableMulti')[0].getElementsByClassName('table-responsive')[0]
                              .getElementsByClassName('table')[0].tBodies[0].scrollHeight;
            let clientHeight = document.getElementsByClassName('myDatatableMulti')[0].getElementsByClassName('table-responsive')[0]
                              .getElementsByClassName('table')[0].tBodies[0].clientHeight;
            if(scrollHeight-clientHeight>5){
              document.getElementsByClassName('myDatatableMulti')[0].getElementsByClassName('table-responsive')[0]
                              .getElementsByClassName('table')[0].tHead.style.width="calc( 100% - 1.1rem )"
            }else{
              document.getElementsByClassName('myDatatableMulti')[0].getElementsByClassName('table-responsive')[0]
                              .getElementsByClassName('table')[0].tHead.style.width="calc( 100%)"
            }
          },0)
          me.loading=false;
      },function(failed){
        me.loading=false;
      })
      return true;
    },
    chosenOne(item){
        this.$parent.$parent.chosen(item);
    },
    filtering(val,e){
      this.load({
        search  : val
      })
    },
    pageChange(val){
      this.pageActive=val;
      this.load({
        page  : val
      })
    },
    paginationChange(val){
      this.paginate_=val;
      this.load();
    }
  }
}
</script>