<template>
  <CCard>
    <CCardHeader v-if="this.$slots.header" style="padding:5px 7px 5px 5px">
      <slot name="header"> </slot>
    </CCardHeader>
    <CCardBody>
      <QDataTable
        :hover="hover"
        :striped="striped"
        :border="border"
        :small="false"
        :fixed="fixed"
        :items="items_"
        :fields="fields_shown"
        :items-per-page="paginate_"
        :dark="dark"
        :pagination="false"
        class="myDatatableDepan"
        cleaner
        sorter
        clickable-rows
        :loading="loading"
        :column-filter="columnFilter"
        :table-filter="tableFilter"
        :items-per-page-select="itemsPerPage"
        :tableFilterValue.sync="tableFilterValue"
        @update:table-filter-value="filtering"
        @pagination-change="paginationChange"
        @page-change="pageChange"
        :key="key"
        ref="fdatatable"
      >
        <!-- ====================TBODY -->
        <template
          v-for="slot in Object.keys($scopedSlots)"
          :slot="slot"
          slot-scope="scope"
        >
          <slot :name="slot" v-bind="scope" />
        </template>
        <template #no="{index}">
          <td class="text-center" style="text-align:center;width:5%">
            <span>{{ paginate_ * (pageActive - 1) + (index + 1) }}</span>
          </td>
        </template>

        <!-- ====================TBODY -->
        <template #cleaner="{isFiltered}">
          <CButton
            :style="
              (!isFiltered ? 'display:none;' : 'display:block;') + 'color:red'
            "
            size="sm"
            shape="pill"
            @click="cleanFilter"
          >
            <CIcon name="cil-filter-x" size="sm" />
          </CButton>
        </template>
        <template v-slot:under-table>
          <CRow style="padding-left:1rem">
            <CCol md="6">
              <CPagination
                :pages="total_pages"
                size="sm"
                :dots="false"
                :active-page="pageActive"
                @update:activePage="pageChange"
              >
                <template v-slot:first-button>First</template>
                <template v-slot:last-button>Last</template>
                <template v-slot:previous-button>Prev</template>
                <template v-slot:next-button>Next</template>
              </CPagination>
            </CCol>
            <CCol md="6">
              <CButton
                style="margin-left:5px;float:right;"
                size="sm"
                shape="pill"
                color="success"
                @click="refresh"
              >
                <CIcon name="cil-loop-circular" size="sm" /> Refresh</CButton
              >
                <CButton style="margin-left:5px;float:right;" size="sm" shape="pill" color="secondary" @click="showColumn">
                    <CIcon name="cil-settings" size="sm"/></CButton>
            </CCol>
          </CRow>
          <CModal
                title="List of Columns"
                :no-close-on-backdrop="true"
                size="sm"
                color="dark"
                :show.sync="listTablePopupShow"
                class="datatableMultiModal"
            >     
                  <template v-slot:footer style="display:none;padding:0px;">
                    <div v-show="2==1"></div>
                  </template>
                  <CCardBody style="padding:0px;">
                    <ul class="ul-column">
                      <li v-for="(item,index) in fields_" :key="index">
                        <span>{{item.label===undefined?item.key:item.label}}</span>
                        <label class="c-switch c-switch-sm c-switch-3d c-switch-dark" style="margin-bottom:-6px;float:right;margin-right:16px;">
                          <input 
                              type="checkbox"
                              class="c-switch-input"
                              v-model="fields_[index].show_"
                              :checked="item.show_"
                              @change="checkedColumn($event,item,index)" />
                          <span class="c-switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </li>
                    </ul>
                  </CCardBody>
                  </CModal>
        </template>
      </QDataTable>
    </CCardBody>
  </CCard>
</template>
<script>
export default {
  name: "Datatable",
  data() {
    return {
      key:0,
      listTablePopupShow:false,
      paginate_: true,
      loading: false,
      pageActive: 1,
      tableFilterValue: "",
      tableFilter: {
        external: true,
        placeholder: "Search",
        label: "Search",
        lazy: true,
      },
      itemsPerPage: { external: true, values: [25, 50, 100], label: "Max" },
      items_: [],
      total_pages: 1,
      fields_:[],
      fields_shown:[]
    };
  },
  props: {
    pagination: true,
    api: {
      type: Object,
    },
    isPopupOne: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default() {
        return [];
      },
    },
    fields: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    caption: {
      type: String,
      default: "Table",
    },
    hover: {
      type: Boolean,
      default() {
        return true;
      },
    },
    striped: {
      type: Boolean,
      default() {
        return true;
      },
    },
    border: {
      type: Boolean,
      default() {
        return true;
      },
    },
    small: {
      type: Boolean,
      default() {
        return true;
      },
    },
    fixed: {
      type: Boolean,
      default() {
        return true;
      },
    },
    dark: {
      type: Boolean,
      default() {
        return false;
      },
    },
    columnFilter: {
      type: Boolean,
      default() {
        return false;
      },
    },    
  },
  mounted() {
    document
      .getElementsByClassName("myDatatableDepan")[0]
      .getElementsByClassName("table-responsive")[0]
      .getElementsByClassName("table")[0].tBodies[0].style.height =
      window.innerHeight - (48 / 100) * window.innerHeight + "px";
    if (this.api.autoLoad !== undefined && this.api.autoLoad === false) {
      return;
    } else {
      this.load();
    }
  },
  created() {
    this.fields_=this.fields.map(dt=>{
      dt['show_'] =true;
      return dt;
    });
    this.fields_shown=this.fields_;
    this.paginate_ =
      this.api.parameters.paginate === undefined
        ? 25
        : this.api.parameters.paginate;
    if (this.api.autoLoad !== undefined && this.api.autoLoad === false) {
      return;
    }
  },
  methods: {
    checkedColumn(e,item,index){
      this.fields_shown=(this.fields_).filter( dt=> dt.show_ );
    },
    showColumn(){
        this.listTablePopupShow=true;
    },
    refresh() {
      this.load();
    },
    cleanFilter() {
      this.tableFilterValue = null;
      this.load();
    },
    load(callback = function(data) {}) {
      let me = this;
      me.items_=[];
      me.loading = true;
      let originalParams = JSON.parse(JSON.stringify(me.api.parameters));
      let defaultParams = {}
      //  {
      //   search:
      //     this.tableFilterValue == "" || this.tableFilterValue === null
      //       ? null
      //       : this.tableFilterValue,
      //   page: this.pageActive,
      //   paginate: this.paginate_,
      // };
      if(this.tableFilterValue){
         defaultParams[me.apiParameters.filter_text] = this.tableFilterValue
         let filterField = '';
         for (let index = 0; index < this.fields_shown.length; index++) {
           if(this.fields_shown[index].key != "no" && this.fields_shown[index].key != "action"){
             if(this.fields_shown[index].alias == undefined || this.fields_shown[index].alias == null){
               if(filterField == ''){
                 filterField += this.fields_shown[index].key;
               }else{
                 filterField += ","+this.fields_shown[index].key;
               }
             }else{
               if(filterField == ''){
                 filterField += this.fields_shown[index].alias;
               }else{
                 filterField += ","+this.fields_shown[index].alias;
               }
             }
           }
         }
         defaultParams[me.apiParameters.filter_fields] = filterField;
      }
      defaultParams[me.apiParameters.page] = this.pageActive
      defaultParams[me.apiParameters.paginate] = this.paginate_
      
      Object.assign(originalParams, defaultParams);
      this.apiRequest(
        {
          model: me.api.model + "?" + me.getQueryString(originalParams),
          data: {},
          loading: false,
        },
        function(response) {
          let data = response;
          me.loading = false;
          let func = me.api.transform;
          let transformArray = me.api.transformArray;
          let arrayData = data[me.rootData];
          me.total_pages = data[me.apiParameters.page_end];
          if (typeof func == "function") {
            arrayData = arrayData.map(function(row) {
              return func(row);
            });
          }
          if (typeof transformArray == "function") {
            arrayData = transformArray(arrayData);
          }
          me.items_ = arrayData;
          me.loading = false;
          setTimeout(function() {
            let scrollHeight = document
              .getElementsByClassName("myDatatableDepan")[0]
              .getElementsByClassName("table-responsive")[0]
              .getElementsByClassName("table")[0].tBodies[0].scrollHeight;
            let clientHeight = document
              .getElementsByClassName("myDatatableDepan")[0]
              .getElementsByClassName("table-responsive")[0]
              .getElementsByClassName("table")[0].tBodies[0].clientHeight;
            if (scrollHeight - clientHeight > 5) {
              document
                .getElementsByClassName("myDatatableDepan")[0]
                .getElementsByClassName("table-responsive")[0]
                .getElementsByClassName("table")[0].tHead.style.width =
                "calc( 100%)";
            } else {
              document
                .getElementsByClassName("myDatatableDepan")[0]
                .getElementsByClassName("table-responsive")[0]
                .getElementsByClassName("table")[0].tHead.style.width =
                "calc( 100% )";
            }
            document
              .getElementsByClassName("myDatatableDepan")[0]
              .getElementsByClassName("table-responsive")[0]
              .getElementsByClassName("table")[0].tBodies[0].style.height =
              window.innerHeight - (45 / 100) * window.innerHeight + "px";
          }, 0);
        },
        function(failed) {
          me.loading = false;
        }
      );
    },
    chosenOne(item) {
      this.$parent.$parent.chosen(item);
    },
    filtering(val, e) {
      this.load({
        search: val,
      });
    },
    pageChange(val) {
      this.pageActive = val;
      this.load({
        page: val,
      });
    },
    paginationChange(val) {
      this.paginate_ = val;
      this.load();
    },
  },
};
</script>
