<template>
    <CDataTable
        :hover="true"
        :striped="true"
        :border="true"
        small
      >

      </CDataTable>
</template>
<script>
export default {
  name: 'DatatableDetail',
  data(){
    return {
    }
  },
  props: {
    pagination:true,
    isPopupOne:{
      type: Boolean,
      default: false
    },
    items: {
        type: Array,
        default(){
            return [
                { _terpilih:false,abc:"coba",id:1,username: 'Samppa Nori', registered: '2012/01/01', role: 'Member', status: 'Active'},
                { _terpilih:false,abc:"coba",id:2,username: 'Estavan Lykos', registered: '2012/02/01', role: 'Staff', status: 'Banned'},
                { _terpilih:false,abc:"coba",id:3,username: 'Chetan Mohamed', registered: '2012/02/01', role: 'Admin', status: 'Inactive'},
                { _terpilih:false,abc:"coba",id:4,username: 'Derick Maximinus', registered: '2012/03/01', role: 'Member', status: 'Pending'},
                { _terpilih:false,abc:"coba",id:5,username: 'Friderik Dávid', registered: '2012/01/21', role: 'Staff', status: 'Active'},
                { _terpilih:false,abc:"coba",id:6,username: 'Yiorgos Avraamu', registered: '2012/01/01', role: 'Member', status: 'Active'},
                { _terpilih:false,abc:"coba",id:7,username: 'Avram Tarasios', registered: '2012/02/01', role: 'Staff', status: 'Banned', 
                    // _classes: 'table-success'
                    },
                { _terpilih:false,abc:"coba",id:8,username: 'Quintin Ed', registered: '2012/02/01', role: 'Admin', status: 'Inactive'},
                { _terpilih:false,abc:"coba",id:1,username: 'Samppa Nori', registered: '2012/01/01', role: 'Member', status: 'Active'},
             ]
        }
    },
    fields: {
      type: Array,
      default () {
        return [
          { key:'no',_style:"text-align:center;width:5.1%", width:5},
          { key:'username',_style:"text-align:center;width:25.1%", width:25}, 
          { key:'abc',_style:"text-align:center;width:15.1%", width:15}, 
          { key:'registered',_style:"text-align:center;width:15.1%", width:15}, 
          { key:'role',_style:"text-align:center;width:15.1%", width:15}, 
          { key:'status',_style:"text-align:center;width:15.1%", width:15},
          { key:"choose",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
        ]
      }
    },
  },
  methods: {

  }
}
</script>