<template>
<div>
    <slot name="filter"></slot>
    <CCard>
    <CCardHeader style='padding:5px 7px 5px 5px' :class="btn_class">
        <slot name="btn-1"></slot>
        <slot name="btn-2"></slot>
        <slot name="btn-3"></slot>
        <CButton v-if="$slots.form&&!disabled" color="primary" variant="outline" size="sm" style="margin-right:5px" @click="showForm">
            &nbsp;Add to List&nbsp;&nbsp;<CIcon name="cil-playlist-add"/>
        </CButton>
        <CButton v-if="$slots.multiselect&&!disabled" color="primary" variant="outline" size="sm" style="margin-right:5px" @click="loadMulti">
            &nbsp;Add to List&nbsp;&nbsp;<CIcon name="cil-playlist-add"/>
        </CButton>
        <CButton color="danger" variant="outline" size="sm" style="margin-right:5px" @click="clearDetail" v-if="!disabled">
            &nbsp;Clear All&nbsp;&nbsp;<CIcon name="cil-list-low-priority" size="sm"/>
        </CButton>
    </CCardHeader>
    <CCardBody style="padding:0px">
      <slot name="table"></slot>
    </CCardBody>
  </CCard>    

    <CModal
        :title="title"
        :close-on-backdrop="false"
        size="lg"
        color="success"
        borderColor="success"
        :show.sync="showDetail"
      >
        <template v-slot:footer style="display:none;padding:0px;">
          <div v-show="2==1"></div></template>
        <CCardBody style="padding:0px;" ref='formDetail'>
          <slot name="form">
          </slot>
          <slot name="footer">
          </slot>
        </CCardBody>
    </CModal> 

    <CModal
        class="datatableMultiModal"
        title="Pick From List"
        :close-on-backdrop="false"
        size="xl"
        color="success"
        borderColor="success"
        :show.sync="showDetailDatatable"
    >
    
    <slot name="multiselect" v-if=showDetailDatatable></slot>
    <template #footer><div v-show="2==1"></div></template>
    <!-- <template #header><div><span></span>
      </div></template> -->
    </CModal>  
</div>
</template>
<script>
export default {
  name: 'Detail',
  data(){
    return {
      terpilih:[],
      pageActive:1,
      showDetail:false,
      showDetailDatatable:false
    }
  },
  mounted(){
    // this.terpilih=this.datatableData;
  },
  props: {
    btn_class:{
      type:String,
      default:'text-right'
    },
    formopennew:{
      type: Function,
      default:function(){}
    },
    title:"",
    unique:{
      type:String,
      default:null
    },
    items:{
      type:Array,
      default(){
        return [];
      }
    },
    pagination:true,
    itemsPerPage:{ external: true, values: [4,7,10] },
    tableFilter:true,
    isPopupOne:{
      type: Boolean,
      default: false
    },
    disabled:{
      type: Boolean,
      default: false
    },
    items: {
        type: Array,
        default(){
            return [
                {id:8,username: 'Quintinawef Ed', registered: '2012/02/01', role: 'Admin', status: 'Inactive',sortable:false},
            ]
        }
    },
  },
  methods: {
    showForm(){
      this.formopennew();
      this.showDetail=true;
    },
    loadMulti(){
      this.showDetailDatatable=true;
    },
    onSelect(data){
      this.terpilih=this.terpilih.concat(data)
      this.showDetailDatatable=false;
      this.$emit('update:datatableData',data);
    },
    reload(callback=function(dt){}){
      this.$refs.table_popup.load();
    },
    openFormPopup(){
      this.showDetail=true
    },
    closeFormPopup(){
      this.showDetail=false
    },
    closeTablePopup(){
      this.showDetailDatatable=false
    },
    listener(el,type,val,evt){

    },
    clearDetail(){
      this.$alertify.confirmWithTitle(
        'Warning!',
        'Clear All Rows in Detail?',
        () => this.$emit('update:items', []),
        () => this.$alertify.error('Clear Canceled')
      );
    },
    chosenOne(item){
        this.$parent.$parent.chosen(item);
    },
    filtering(val,e){
      window.console.log(val)
    },
    pageChange(val){
      this.pageActive=val;
      window.console.log(val)
    },
    paginationChange(val){
      window.console.log(val)
    },
    setDatatableApi(dt){
      Object.assign(this.datatableApi,dt);
      this.$emit('update:datatableApi',this.datatableApi)
      this.$refs.table_popup.$forceUpdate();
    }
  }
}
</script>
<style scoped>
.table th, .table td {
    padding: 0.5rem !important;
    font-size:small !important;
    /* vertical-align: top;
    border-top: 1px solid #dee2e6; */
}
.datatableMultiModal>.modal>.modal-dialog>.modal-content>.modal-footer{
  display:none
}

.myTableMulti>.card-body>div>.table-responsive>.table tbody{
    height: 120px;
  }
.myTableMulti>.card-body>div>.table-responsive>.table thead, .myTableMulti>.card-body>div>.table-responsive>.table tbody tr, .myTableMulti>.card-body>div>.table-responsive>.table tfoot {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
.myTableMulti>.card-body>div>.table-responsive>.table th:last-child {
  padding-right: 0px !important;
}
.myTableMulti>.card-body>div>.table-responsive{
  overflow-x:hidden;
}
  
</style>
