<template>
    <CInput
        :horizontal="
            label_==''||label_===null?
            { label: 'col-sm-0', input: 'col-sm-12'}:
            { label: 'col-sm-3', input: 'col-sm-9'}
        "
        autocomplete="off"
        :valid-feedback="textValid"
        :invalid-feedback="textInvalid"
        :is-valid="(value_===null||value_=='')?!required_:isValid"
        :label="label_"
        :name="name_"
        :readonly="readonly_"
        :placeholder="placeholder_"
        v-model="value_"
        v-if="!hidden_"
        @change="onchangeOriginal"
        @blur="onchangeOriginal"
        @focus="onchangeOriginal"
        @keyup="keyup"
        @keydown="onchangeOriginal"
        v-b-tooltip.hover.bottomright 
        :title="required_?'Required':'Optional'"
    />
</template>
<script>
export default {
  name: 'Emailfield',
  props: {
    name: {
        type:String,
        required:false
    },
    value: {
        type:String,
        default:null
    },
    label: {
        type:String,
        default:'Emailfield'
    },
    placeholder: {
        type:String,
        default:'Email@domain.com'
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        textValid : "",
        textInvalid: "",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        placeholder_:"",
    }
  },
  created(){
    this.value_=this.value;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.keyup({type:"change"});
  },
  methods: {
    keyup(event){
        this.isValid= (/^[^\s@]+@[^\s@]+\.[^\s@]+$/).test(this.value_)
        if(!this.isValid){
            this.textInvalid=(this.$data._value!==null && this.$data._value!=='')?"Invalid domain name or Url address":'';
        }
        this.onchangeOriginal(event);
    },
    getValue(){
        return this.value_;
    },
    setValue(val=''){
        this.value_=val;
        this.$forceUpdate();
        this.keyup({type:"keyup"})
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.value_,evt)
            }
        }
    }
  }
}
</script>