<template>
  <div  :style="`width:${formWidth}`">
    <CRow>
      <CCol md="12">
        <CCard>
          <CCardHeader v-if="this.$slots.header" style='padding:10px'>
            <slot name="header">
            </slot>
          </CCardHeader>
          <CCardBody>
            <CForm :style="`padding:0 2% 0 2%;width:${fieldWidth}`">
              <slot name="body"></slot>
              <CRow v-for="(config, index) in decodedForm" :key="index">
                    <CCol v-for="(col, indexItems) in config.items" :key="indexItems" :style="`width:${fieldWidth};margin-right:12px;`">
                      <component :is="render(col.component)" 
                          v-bind="col"
                          :ref="col.name"
                      >
                          <CCol v-for="(colSandingan, indexSandingan) in col.items" :key="indexSandingan"
                            :tag="colSandingan.component=='Labelfield'?'label':'CCol'"
                            :class="colSandingan.component=='Labelfield'?'col-form-label col-sm-3':''"
                            :style="colSandingan.component!='Labelfield'?`padding-left:0rem;`:'padding-left:0.9375rem;margin-right:0.313rem'"
                          >
                          <!-- col.component -->
                          {{colSandingan.component=='Labelfield'?colSandingan.label:''}}
                            <component :is="render(colSandingan.component)" 
                                v-bind="colSandingan"
                                :ref="colSandingan.name"
                            >                            
                            </component>
                        </CCol>
                      </component>
                    </CCol>
              </CRow>
            </CForm>
            <!-- <Datatable :pagination="false" :table-filter="false"/> -->
          </CCardBody>
          <CCardFooter v-if="this.$slots.footer" class="text-center">
            <slot name="footer">
            </slot>
          </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import Decoder from '@/elements/Decoder'
export default {
  name: 'Form',
  props:{
    props:{
      type:Object,
      default(){return {}}
    },
    values:{
      type:Object,
      default(){return {}}
    },
    rawData:{
      type:Object,
      required:false
    },
    rowSpaces:{
      type:Array,
      default(){return [];}
    },
    cols:{
      default:2
    },
    index:{
      default:0
    },
    formWidth:{
      default:"100%"
    },
    fieldWidth:{
      default:"100%",
    },
    readonly:{
      type:Boolean,
      default:false
    }
  },
  created(){
    if(!this.rawData){return;}
    this.inline = false;
    let a = new Decoder(this.rawData);
    a.setIndexJSON(this.index);
    a.setCols(this.cols);
    a.setRowSpaces(this.rowSpaces);
    a.setProperties(this.props);
    this.decodedForm=a.get();
  },
  mounted(){
    if(this.readonly){
      this.setReadOnly(true)
    }
    // this.$emit('update:values',this.getValues())
    return;
    for(let ref in this.$refs){
      if( this.$refs[ref][0]['name']!==undefined && (Object.keys(this.props)).includes(ref) ){
        for(let key in this.props[ref]){
          this.$refs[ref][0][key+"_"] = this.props[ref][key];
          if(key=='api'){
            this.$refs[ref][0].load();
          }
        }
      }
    }
    this.setValues(this.values,false);
  },
  data () {
    return {
      inline:true,
      decodedForm:[],
      show: true,
      updateId:null
    }
  },
  methods: {
    render(xtype){
      if(['qlbarisfield'].includes(xtype)){
        xtype= 'CRow'
      }else if(['containerfield','container'].includes(xtype)){
        xtype= 'CRow'
      }else if(['Labelfield'].includes(xtype)){
        xtype= 'span'
      }else if(['separators','separator_line','separator_label'].includes(xtype)){
        xtype= 'Space'
      }
      return xtype;
    },
    getUpdateId(){
      return this.updateId;
    },
    setUpdateId(val){
      return this.updateId=val;
    },
    getFields(fieldName=null){
      if(fieldName===null){
        return this.$refs;
      }
      for(let ref in this.$refs){
        if( this.$refs[ref][0]['name']!==undefined && this.$refs[ref][0]['name']==fieldName ){
          return this.$refs[ref][0];
          break;
        }
      }
      return null;
    },
    getValid(){
      let isValid=true;
      for(let ref in this.$refs){
        if( this.$refs[ref][0]['name']!==undefined ){
          if(!this.$refs[ref][0].getValid()){
            // this.$alertify.error(`${ this.firstUpperCase((ref).replace(/_/g,"_"))} is Not Valid!`);
            this.$alertify.error(`${ this.$refs[ref][0].label_ } is Not Valid!`);
            isValid=false;
          };
        }
      }
      return isValid;
    },
    getValues(){
      let values={};
      for(let ref in this.$refs){
        if( this.$refs[ref][0]['name']!==undefined ){
          let val = this.$refs[ref][0].getValue();
          if( typeof(val)=="object" && !Array.isArray(val) ){
            Object.assign(values,val)
          }else{
            values[ this.$refs[ref][0]['name'] ]=val;
          }
        }
      }
      return values;
    },
    setValues(values,listenChange=true){
      for(let ref in this.$refs){
        if( this.$refs[ref][0]['name']!==undefined && values[this.$refs[ref][0]['name']]!==undefined ){
          if(this.$refs[ref][0].name=='Selectfield'){
            this.$refs[ref][0].setValue(values,listenChange);
          }else{
            this.$refs[ref][0].setValue(values[ this.$refs[ref][0]['name'] ],listenChange);
          }
        }
      }      
      let data = JSON.parse(JSON.stringify(this.values))
      Object.assign(data,values);
      this.$emit('update:values',data)
      return true;
    },
    reset(){
        for(let ref in this.$refs){
          if( this.$refs[ref][0]['name']!==undefined ){
            this.$refs[ref][0].setValue(null);            
          }
        }
        this.setUpdateId(null);
        return true;
    },
    setReadOnly(val=true,fields=null){
      for(let ref in this.$refs){
        if( this.$refs[ref][0]['name']!==undefined  ){
          if(fields!==null ){
              if(fields.includes( this.$refs[ref][0]['name'] )){
                this.$refs[ref][0].setReadOnly(val);
              }
          }else{
              this.$refs[ref][0].setReadOnly(val);
          }
        }
      }
      return true;
    },
    listener(element,type,value,event){
      if(['change','keyup'].includes(type) ){
        let data = JSON.parse(JSON.stringify(this.values))
        
        if(typeof(value)=='object' && !Array.isArray(value) ){
          Object.assign(data,value)
        }else{
          data[element.name] = value;
        }
        this.$emit('update:values',data)
      }
      if(this.props[element.name]!==undefined){
        let func = this.props[element.name].listener;
        if(typeof(func)=='function'){
          return func(element,type,value,event);
        }
      }
      
    },
  }
}
</script>
<style>
.modal-header{
  padding: 0.2rem 0.2rem 0.2rem 1rem;
}
.modal-conftent{
  
  max-height: 600px;
}
.form-group {
    margin-bottom: 0.28rem !important;
}
/* .form-control {
    font-size: unset !important;
} */
.form-control.is-valid{
  background-image:none;
}
html:not([dir="rtl"]) .was-validated .form-control:valid, html:not([dir="rtl"]) .form-control.is-valid {
    padding-right: calc(0em + 0.5rem);
}
</style>