<template>
  <div>
    <CRow>
      <CCol md="12">
        <CCard>
          <CCardHeader v-if="this.$slots.header">
            <slot name="header">
            </slot>
          </CCardHeader>
          <CCardBody v-if="hideHeader">
            <CForm style="padding:0 2% 0 2%">
              
              <CRow>
                <CCol style="50%; margin-right:10px">                  
                  <Textfield name="text" :required="true" ref="Mytext" label="User Text" :listener="listener" />
                </CCol>
                <CCol style="50%; margin-right:10px">                  
                    <Datefield name="date" ref="Mydate" label="User Date" value='2020-12-11' />
                </CCol>
              </CRow>
      
              <CRow>
                <CCol style="50%; margin-right:10px">                  
                    <Popupfield  name="popup" ref="Mypopup" />
                </CCol>
                <CCol style="50%; margin-right:10px">      
                    <Radiofield name="radio" ref="Myradio" :required="true" />
                </CCol>
              </CRow>

              <CRow>
                <CCol style="50%; margin-right:10px">                  
                  <CRow form class="form-group">
                    <CCol tag="label" sm="3" class="col-form-label">
                      Switch checkboxes
                    </CCol>
                    <CCol sm="9">
                      <CSwitch
                        class="mr-1"
                        color="primary"
                        :checked="true"
                      />
                      <CSwitch
                        class="mr-1"
                        color="success"
                        :checked="true"
                        variant="outline"
                      />
                      <CSwitch
                        class="mr-1"
                        color="warning"
                        :checked="true"
                        variant="opposite"
                      />
                      <CSwitch
                        class="mr-1"
                        color="danger"
                        :checked="true"
                        shape="pill"
                      />
                      <CSwitch
                        class="mr-1"
                        color="info"
                        :checked="true"
                        shape="pill"
                        variant="outline"
                      />
                      <CSwitch
                        class="mr-1"
                        color="dark"
                        :checked="true"
                        shape="pill"
                        variant="opposite"
                      />
                    </CCol>
                  </CRow>
                </CCol>
                <CCol style="50%; margin-right:10px">                  
                  <Checkboxfield name="checkbox" ref="Mycheckbox" :required="true" />
                </CCol>
              </CRow>

              <CRow>
                <CCol style="50%; margin-right:10px">                  
                    <CRow form class="form-group">
                      <CCol sm="3">
                        Tes
                      </CCol>
                      <CCol>
                        <v-select :options="['Canada', 'United States']"></v-select>
                      </CCol>
                    </CRow>
                </CCol>
                <CCol style="50%; margin-right:10px">   
                    <Selectfield  
                      valueField='id' 
                      displayField='text'
                      :autoSelect="true"
                      :options="[{id:'ACTIVE',text:'ACTIVE'},
                                 {id:'INACTIVE',text:'INACTIVE'}]"
                      :apfi="{
                        headers:{
                          'Content-Type': 'application/json'
                        },
                        url : 'https://backend.dejozz.com/laradev2/public/public-resources/mini/users',
                        root: 'data',
                        parameters:{
                          paginate:999
                        },
                        transform:function(dt){
                          dt['text']=dt['nama']; 
                          return dt;
                        },
                        
                      }"
                      name="select" ref="Myselect" :listener="listener" :required="true"/>
                </CCol>
              </CRow>

              <CRow>
                <CCol style="50%; margin-right:10px">                  
                    <Uploadfield  name="upload" ref="Myupload" :required="false" />
                </CCol>
                <CCol style="50%; margin-right:10px"> 
                    <CRow form>
                      <CCol tag="label" class="col-form-label col-sm-3">
                        Hanya Label Saja
                      </CCol>
                      <CCol>
                        <CRow form sm="12">
                          <CCol md="7">
                            <Numberfield
                              :value="3.1212"
                              :decimals="2"
                              :readonly="false"
                              name="number" 
                              :required="true"
                              ref="Mynumber"
                              label=""
                            />
                          </CCol>
                          <CCol>
                            <Selectfield  
                              label=""
                              valueField='id' 
                              displayField='text'
                              :autoSelect="true"
                              :options="[{id:'ACTIVE',text:'ACTIVE'},
                                        {id:'INACTIVE',text:'INACTIVE'}]"
                              name="select2" ref="Myselect" :listener="listener" :required="true"/>
                          </CCol>
                        </CRow>
                      </CCol>
                    </CRow>
                </CCol>
              </CRow>
      
              <CRow>
                <CCol style="50%; margin-right:10px">                  
                      <Timefield  name="time" ref="Mytime" :required="true" />
                </CCol>
                <CCol style="50%; margin-right:10px">   
                    <Ratingfield  name="rating" ref="Myrating" />
                </CCol>
              </CRow>


              <CRow>
                <CCol style="50%; margin-right:10px">                  
                      <Tagfield  name="tag" ref="Mytag" />
                </CCol>
                <CCol style="50%; margin-right:10px">   
                    <Spinnerfield  name="spinner" ref="Myspinner" />
                </CCol>
              </CRow>


              <CRow>
                <CCol style="50%; margin-right:10px">                  
                    <Passwordfield  label="label2" name="password" ref="Mypassword" />
                </CCol>
                <CCol style="50%; margin-right:10px">   
                    <Textnumberfield  :required="true" name="textnumber" value="12-1" ref="Mytextnumber" :allow="['-']" />
                </CCol>
              </CRow>


              <CRow>
                <CCol style="50%; margin-right:10px">                  
                    <Domainfield value="www.google.com" :required="true" name="domain" ref="Mydomain" />
                </CCol>
                <CCol style="50%; margin-right:10px">  
                    <Textareafield name="myemail" ref="Myemail" :required="true"/>
                </CCol>
              </CRow>

            </CForm>
            <!-- <Datatable :pagination="false" :table-filter="false"/> -->
          </CCardBody>
          <CCardFooter v-if="this.$slots.footer" class="text-center">
            <slot name="footer">
            </slot>
          </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
export default {
  name: 'Form',
  props:['title'],
  data () {
    return {
      hideHeader:true,
      angka:1,
      datatablePopupShow:false,
      selected: [], // Must be an array reference!
      show: true,
      horizontal: { label:'col-3', input:'col-9' },
      options: ['Option 1', 'Option 2', 'Option 3'],
      selectOptions: [
        'Option 1', 'Option 2', 'Option 3',
        { 
          value: 'some value', 
          label: 'Selected option'
        }
      ],
      selectedOption: 'some value',

      formCollapsed: true,
      checkboxNames: ['Checkboxes', 'Inline Checkboxes',
                      'Checkboxes - custom', 'Inline Checkboxes - custom'],
      radioNames: ['Radios', 'Inline Radios',
                    'Radios - custom', 'Inline Radios - custom']
    }
  },
  methods: {
    select2cari(search,loading){
      window.console.log(search,loading)
    },
    submit(){
      window['aku']=this;
    },
    listener(element,type,value,event){
      if(['change','keyup'].includes(type) ){
        console.log(element.name,type,value,event)
      }
    },
    getField(fieldName){
      for(let ref in this.$refs){
        if( this.$refs[ref]['name']!==undefined && this.$refs[ref]['name']==fieldName ){
          return this.$refs[ref];
          break;
        }
      }
      return null;
    }
  }
}
</script>
<style>
</style>