<template>
    <CRow form class="form-group" v-if="!hidden_">
        <CCol sm="3" class="col-form-label" v-if="label_!==''">
        {{label_}}
        </CCol>
        <CCol>
          <v-select
            autocomplete="off"        
            @search="select2cari" 
            :options="options_"       
            v-model="value_"
            :disabled="readonly_"
            :label="displayField"
            :reduce="nama => nama[valueField]" 
            :class="getValid()?'select-form-control valid':'select-form-control invalid'"
            @input="change"
        ></v-select>
            <b-form-invalid-feedback :state="getValid()">{{textInvalid}}</b-form-invalid-feedback>
            <b-form-valid-feedback :state="!getValid()">{{textValid}}</b-form-valid-feedback>
        </CCol>
    </CRow>
</template>
<script>
export default {
  name: 'Selectfield',
  props: {
    displayField: {
        type:String,
        required:true
    },
    valueField: {
        type:String,
        required:true
    },
    name: {
        type:String,
        required:true
    },
    value:  {
        default:null
    },
    label: {
        type:String,
        default:'Label'
    },
    options: {
        type:Array,
        default(){
            return [];
        }
    },
    placeholder: {
        type:String,
        default:''
    },
    api: {
        type:Object
    },
    autoSelect: {
        type:Boolean,
        default:true
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        textValid : "",
        textInvalid: "Required",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        options_:[],
        placeholder_:"",
    }
  },
  created(){ 
    let me = this;   
    this.value_=this.value;
    this.required_=this.required;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.options_=this.options;
    this.readonly_=this.readonly;
    this.setReadOnly(this.readonly_);
    this.onchangeOriginal({type:"created"});
    me.load(function(dt){
        if(me.autoSelect && dt.length>0){
            me.setValue(me.value_===null?dt[0][me.valueField]:me.value_);
        }
    });
  },
  methods: {
    getQueryString(params) {
        return Object
        .keys(params)
        .map(k => {
            if (Array.isArray(params[k])) {
                return params[k]
                    .map(val => `${encodeURIComponent(k)}[]=${encodeURIComponent(val)}`)
                    .join('&')
            }

            return `${encodeURIComponent(k)}=${encodeURIComponent(params[k])}`
        })
        .join('&')
    },
    load(callback=function(dt){}){
      if(!this.api){callback(this.options_); return;}
      let me = this;
      fetch(me.api.url+"?"+this.getQueryString(me.api.parameters), {
          method: 'GET', 
          mode: 'cors',
          cache: 'no-cache',
          credentials: 'same-origin', 
          headers: me.api.headers,
          redirect: 'follow',
          referrerPolicy: 'no-referrer'
      })
      .then(response => 
          response.json() )
      .then(data => {
        
        let arrayData = data[me.api.root].map(function(row){
            let func = me.api.transform;
            if(typeof(func)=='function'){
                return func(row);
            }
            return data;
        });
        me.setOptions(arrayData);
        callback(me.options_);
      })
      .catch((error) => {
        me.options_=[];
      })
    },
    select2cari(search,loading){
     this.onchangeOriginal({type:"search"});
      if(!this.api){return}
      this.api.data['filter']=search;
      this.load();
    },
    getOptions(){
        return this.options_;
    },
    setOptions(arrayData){
        this.options_=arrayData;
        this.value_=null;
        this.$forceUpdate();
        return true;
    },
    change(a){
      this.onchangeOriginal({type:"change"});
    },
    getValue(){
        return this.value_;
    },
    getValueFull(){
        return this.options_.find(dt=>{return dt[this.valueField]==this.value_});
    },
    setValue(val=''){
        this.value_=val;
        this.$forceUpdate();
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.value_,evt)
            }
        }
    }
  }
}
</script>
<style>
.select-form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.vs__dropdown-toggle {
    padding: 0 0 6px !important;
    max-height: 38px !important;
}
.valid>.vs__dropdown-toggle {
    border: solid #28a745 1px !important;
}
.invalid>.vs__dropdown-toggle {
    border: solid #dc3545 1px !important;
}
.select-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.select-valid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
}
</style>