<template>
    <CInput
        :horizontal="
            label_==''||label_===null?
            { label: 'col-sm-0', input: 'col-sm-12'}:
            { label: 'col-sm-3', input: 'col-sm-9'}
        "
        autocomplete="off"
        class="numberfield"
        :valid-feedback="textValid"
        :invalid-feedback="textInvalid"
        :is-valid="(value_===null||value_=='')?!required_:isValid"
        :label="label_"
        :name="name_"
        :readonly="readonly_"
        :placeholder="placeholder_"
        v-model="value_"
        v-if="!hidden_"
        @change="onchangeOriginal"
        @focus="onchangeOriginal"
        @keydown="keyDownNumber"
        @keyup="keyUpNumber"
        @blur="onBlur"
        v-b-tooltip.hover.bottomright 
        :title="required_?'Required':'Optional'"
        style="text-align:right;"
    />
</template>
<script>
export default {
  name: 'Numberfield',
  props: {
    inline: {
        type:Boolean,
        default:false
    },
    decimals: {
        type:Number,
        default:3
    },
    name: {
        type:String,
        required:false
    },
    value:  {
        // type:Number,
        default:null
    },
    label: {
        type:String,
        default:'Label'
    },
    placeholder: {
        type:String,
        default:''
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        textValid : "",
        textInvalid: "",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        placeholder_:"",
    }
  },
  created(){
    this.value_=this.value;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.onchangeOriginal({type:"created"});
    this.onBlur(null)
  },
  methods: {
    keyDownNumber(event){
      let key = event.key;
      if(key=="."){
        if( (this.value_)===null || ((this.value_).toString()).length==0 || ((this.value_).toString()).includes(".") ){
            event.preventDefault();
            return false;
        }
      }
      if(key=="-"){
        if( (this.value_).includes("-") ){
            event.preventDefault();
            return false;
        }
      }
      if( !(/^[0-9.-]{1,}$/).test(key)
        && !["ArrowLeft","ArrowRight","Backspace","Delete","Tab"].includes(key)
        && !(event.ctrlKey===true && ["v","c","x","a"].includes(key)) ){
        event.preventDefault();
        return false;
      }
    },
    keyUpNumber(event){
      let me = this;
      if(me.value_=="-"){return;}
      if(me.value_!==null && me.value_!=""&& me.value_!="."){
        let rawValue =me.value_;
        try{ rawValue = rawValue.toString() }catch(e){}
        var val,decimal;
        if( (rawValue).includes(".") ){
            val = ( (rawValue).split(".")[0] ).replace(/,/g,"");
            decimal = ((rawValue).split(".")[1]).length==0?"":(rawValue).split(".")[1];
        }else{
            val = (rawValue).replace(/,/g,"");
            decimal="00";
        }
        let formattedVal = parseFloat(val).toLocaleString('en');
        me.value_=formattedVal+((rawValue).includes(".")?`.${decimal}`:"");
      }
      this.onchangeOriginal({type:"keyup"});
    },
    onBlur(event){
      let me = this;
      if(me.value_===null || me.value_==""){me.value_=0;return;}
      if(me.value_!==null && me.value_!=""&& me.value_!="."){
        let rawValue = (me.value_).toString();
        var val,decimal;
        if( (rawValue).includes(".") ){
            val = ( (rawValue).split(".")[0] ).replace(/,/g,"");
            decimal = ((rawValue).split(".")[1]).length==0?"00000":(rawValue).split(".")[1];
            decimal=decimal.slice(0,me.decimals);
        }else{
            val = (rawValue).replace(/,/g,"");
            decimal="00";
        }
        let formattedVal = parseFloat(val).toLocaleString('en');
        me.value_=formattedVal+((rawValue).includes(".")?`.${decimal}`:"");
      }
      this.onchangeOriginal({type:"blur"});
    },
    getValue(){
      try{
        return parseFloat( (this.value_).replace(/,/g,"") );
      }catch(e){
        return 0;
      }
    },
    setValue(val=''){
        this.value_=val;
        this.$forceUpdate();
        this.onBlur(null)
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        // if( ['change','keyup'].includes(type)){            
        //   this.$emit('update:value',this.getValue());
        // }
        // console.log(type,this.getValue())
        if(['keyup','change'].includes(type) ){
          try{
            this.$emit('update:value',this.getValue());
          }catch(e){}
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.getValue(),evt)
            }else if(this.listener !== undefined){
                this.listener(this,type,this.getValue(),evt);
            }
        }
    }
  }
}
</script>
<style>
  .numberfield>div>input{
    text-align: right;
  }
  .numberfield>input{
    text-align: right;
  }
  .numberfield>label{
    text-align: left !important;
  }
</style>