<template>
  <div>
    <CInput
      v-model="value_"
      @blur="onBlurNumber"
      @keydown="keyDownNumber"
      @keyup="keyUpNumber"
      @input="inputNumber"
      :readonly="readonly_"
      :decimal="decimals"
      class="numberfield"
    />
    <CInput hidden readonly :decimals="decimals" label="" :value="valueNormal" />
  </div>
</template>
<script>
export default {
  watch: {
    value: function(newval, oldval) {
      this.value_ = this.formatNumber(newval,2);
      this.valueNormal = newval;
    },
  },
  name: "Numberfield2",
  props: {
    inline: {
      type: Boolean,
      default: false,
    },
    decimals: {
      type: Number,
      default: 3,
    },
    name: {
      type: Boolean,
      required: false,
    },
    value: {
      default: 0,
    },
    label: {
      type: String,
      default: "Label",
    },
    placeholder: {
      type: String,
      default: "",
    },
    listener: null,
    readonly: false,
    required: false,
    hidden: false,
  },
  data() {
    return {
      valueNormal: 0,
      value_: null,
      readonly_:false
    };
  },
  created() {
    this.value_=this.formatNumber(this.value,2);
    this.valueNormal = this.value;
    this.required_ = this.required;
    this.placeholder_ = this.placeholder;
    this.readonly_=this.readonly;
  },
  methods: {
    getValue(){
      try{
        const val = parseFloat( (this.value_).replace(/,/g,"") );
        return isNaN(val)?null:val
      }catch(e){
        return 0;
      }
    },
    inputNumber() {
      this.$emit("update:value", this.getValue());
      this.valueNormal = this.getValue();
    },
    keyDownNumber(event){
      let me = this;
      if(me.value_==null||me.value==''||me.value_=="-"){return;}
      if(me.value_!==null && me.value_!=""&& me.value_!="."){
        let rawValue =me.value_;
        try{ rawValue = rawValue.toString() }catch(e){}
        var val,decimal;
        if( (rawValue).includes(".") ){
            val = ( (rawValue).split(".")[0] ).replace(/,/g,"");
            decimal = ((rawValue).split(".")[1]).length==0?"":(rawValue).split(".")[1];
        }else{
            val = (rawValue).replace(/,/g,"");
            decimal="00";
        }
        let formattedVal = parseFloat(val).toLocaleString('en');
        me.value_=formattedVal+((rawValue).includes(".")?`.${decimal}`:"");
      }
    },
    keyUpNumber(event) {
      let me = this;
      if(me.value_==null||me.value==''||me.value_=="-"){return;}
      if(me.value_!==null && me.value_!=""&& me.value_!="."){
        let rawValue =me.value_;
        try{ rawValue = rawValue.toString() }catch(e){}
        var val,decimal;
        if( (rawValue).includes(".") ){
            val = ( (rawValue).split(".")[0] ).replace(/,/g,"");
            decimal = ((rawValue).split(".")[1]).length==0?"":(rawValue).split(".")[1];
        }else{
            val = (rawValue).replace(/,/g,"");
            decimal="00";
        }
        let formattedVal = parseFloat(val).toLocaleString('en');
        me.value_=formattedVal+((rawValue).includes(".")?`.${decimal}`:"");
      }
    },
    onBlurNumber(event) {
      let me = this;
      if(me.value_===null || me.value_==""){me.value_=0;return;}
      if(me.value_!==null && me.value_!=""&& me.value_!="."){
        let rawValue = (me.value_).toString();
        var val,decimal;
        if( (rawValue).includes(".") ){
            val = ( (rawValue).split(".")[0] ).replace(/,/g,"");
            decimal = ((rawValue).split(".")[1]).length==0?"00000":(rawValue).split(".")[1];
            decimal=decimal.slice(0,me.decimals);
        }else{
            val = (rawValue).replace(/,/g,"");
            decimal="00";
        }
        let formattedVal = parseFloat(val).toLocaleString('en');
        me.value_=formattedVal+((rawValue).includes(".")?`.${decimal}`:"");
      }
    },
    setReadOnly(val=true){
        this.readonly_=val;
        return true;
    },
  },
};
</script>
