<template>
    <CInput
        :horizontal="
            label_==''||label_===null?
            { label: 'col-sm-0', input: 'col-sm-12'}:
            { label: 'col-sm-3', input: 'col-sm-9'}
        "
        autocomplete="off"
        :type="isPassword?'password':'text'"
        :valid-feedback="textValid"
        :invalid-feedback="textInvalid"
        :is-valid="(value_===null||value_=='')?!required_:isValid"
        :label="label_"
        :name="name_"
        :readonly="readonly_"
        :placeholder="placeholder_"
        v-model="value_"
        v-if="!hidden_"
        @change="onchangeOriginal"
        @focus="onchangeOriginal"
        @keydown="keyDown"
        @keyup="onchangeOriginal"
        v-b-tooltip.hover.bottomright 
        :title="required_?'Required':'Optional'"
    >
        <template #append-content>
            <CButton color="success"  class="custom-border"          
                v-c-tooltip="{
                    content: 'Lihat',
                    active: false,
                    placement: 'bottom-start'
                }"
                @click="showPassword(!isPassword)"
            >
            <CIcon :name="isPassword?'cil-lock-unlocked':'cil-lock-locked'"/>
            </CButton>
        </template>
    </CInput>
</template>
<script>
export default {
  name: 'Passwordfield',
  props: {
    name: {
        type:String,
        required:false
    },
    value:  {
        type:String,
        default:null
    },
    label: {
        type:String,
        default:'Label'
    },
    placeholder: {
        type:String,
        default:''
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        isPassword:true,
        textValid : "",
        textInvalid: "",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        placeholder_:"",
    }
  },
  created(){
    this.value_=this.value;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.onchangeOriginal({type:"created"});
  },
  methods: {
    showPassword(val=true){
        this.isPassword=val;
    },
    keyDown(event){
      let key = event.key; 
      if(key==" "){
        event.preventDefault();
        return false;
      }
      return this.onchangeOriginal(event);
    },
    getValue(){
        return this.value_;
    },
    setValue(val=''){
        this.value_=val;
        this.$forceUpdate()
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if( ['change','keyup'].includes(type)){            
            this.$emit('update:value',this.getValue());
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                let hasil = this.$parent.listener(this,type,this.value_,evt);
                if(type=='keydown' && typeof(hasil)=='boolean'){
                    if(!hasil){
                        evt.preventDefault();
                        return hasil;
                    }
                }
            }
        }
    }
  }
}
</script>
<style>
.input-group-text{
    padding:0px;
}
.custom-border{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
</style>