<template>
    <div :style="`padding-left:${kanan?5:0}px;`">
        <CInput
                :readonly="readonlyText_"
                :horizontal="
                    label_==''||label_===null?
                    { label: 'col-sm-0', input: 'col-sm-12'}:
                    { label: 'col-sm-3', input: 'col-sm-9'}
                "
                autocomplete="off"
                :valid-feedback="textValid"
                :invalid-feedback="textInvalid"
                :is-valid="(valueText_===null||valueText_==='')?!required_:isValid"
                :label="label_"
                :name="name_"
                :placeholder="placeholder_"
                :value="valueText_"
                v-if="!hidden_"
                v-b-tooltip.hover.bottomright 
                :title="required_?'Required':'Optional'"
            >
            <template #append>
                <CButton color="success" size="sm" style=""
                @click="show"
                :disabled="readonly_"
                >
                <CIcon name="cil-media-eject"/>
                </CButton>
                <CButton color="danger" size="sm" style="border-top-right-radius:0.25rem;
    border-bottom-right-radius:0.25rem;"
                @click="clear"
                :disabled="readonly_"
                >
                <CIcon name="cil-delete"/>
                </CButton>
            </template>
        </CInput>
        
        <CModal
            title="Popup List"
            :no-close-on-backdrop="true"
            size="xl"
            color="success"
            :show.sync="datatablePopupShow"
            borderColor="success"
            class="datatableMultiModal"
        >
        <template v-slot:footer style="display:none;padding:0px;">
          <div v-show="2==1"></div></template>
        <CCardBody style="padding:0px;" id="popup-table">
            <Datatable ref='table' :fields="fields_" :paginate="true" :api="api_" isPopupOne >
                <template v-for="(fieldData,fieldIndex) in fields"
                    v-slot:[fieldData.key]="{item}"
                    >
                    <td :class="fieldData._classes" :style="getWidth(fieldData.key)" :key="fieldIndex">
                    <b-img thumbnail fluid :src="item.foto!==null?(item.foto).replace(/\\\//g, '/'):''" alt="Image 2"
                    v-if="fieldData.key=='foto'"></b-img>
                    <span v-else-if="fieldData.key=='action'">
                        <p class="text-center" style="margin:0px">
                        <CButton color="success" variant="outline" size="sm" title="Choose" 
                            style="margin-right:2px;padding-top:0px;padding-bottom:0px" @click="chosen(item)">
                            <CIcon name="cil-chevron-double-down" size="sm"/>
                        </CButton>
                        </p>
                    </span>
                    <span v-else >{{ fieldData.renderer!==undefined?fieldData.renderer(item[fieldData.key]):(item[fieldData.key]||'')}}</span>
                    </td>
                </template>
            </Datatable>
        </CCardBody>
        </CModal>
    </div>
</template>
<script>
export default {
  name: 'Popupfield',
  props: {
    reduce:{
        type:Function
    },
    fields: {
        type:Array,
        required:true
    },
    api: {
        type:Object,
        required:true
    },
    name: {
        type:String,
        required:false
    },
    valueField: {
        type:String,
        default:'id'
    },
    value: {
        type:String,
        default:null
    },
    label: {
        type:String,
        default:'Label'
    },
    placeholder: {
        type:String,
        default:''
    },
    overrideParams:undefined,
    kanan:false,
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        datatablePopupShow:false,
        value_:null,
        textValid : "",
        textInvalid: "",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        valueText_:null,
        label_:"",
        name_:"",
        fields_:[],
        placeholder_:"",
        readonlyText_:true,
        api_:undefined
    }
  },
  created(){
    this.fields_=this.fields;
    this.value_=this.value;
    this.valueText_=typeof(this.value_)=='object'&& this.value_!==null?this.value_[this.valueField]:this.value_;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.api_=this.api;
    this.onchangeOriginal({type:"created"});
  },
  methods: {
    show(){
        if(this.overrideParams!==undefined){
            let api = JSON.parse(JSON.stringify(this.api));
            let params = api['parameters']??{};

            const newParams = this.overrideParams(this,params);
            if(typeof(newParams)=='boolean' && !newParams){
                return false;
            }
            Object.assign(params,newParams);
            this.api_['parameters']=params;
            // this.$refs.table.$forceUpdate();
        }
        this.datatablePopupShow=true;
        this.$refs.table.load();
    },    
    reducer(choosen){
        if( typeof(this.reduce)=='function' ){
            return this.reduce(choosen)
        }
        return choosen[this.valueField];
    },
    chosen(item){
        this.value_=this.reducer(item);
        this.valueText_=typeof(this.value_)=='object'&& this.value_!==null?this.value_[this.name]:this.value_;
        this.datatablePopupShow=false;
        this.onchangeOriginal({type:"change"});
    },
    clear(){
        this.value_=this.reducer({});
        this.valueText_=null;
        this.onchangeOriginal(Object.assign({type:"change"},this.value_));
    },
    getValue(){
        return this.value_;
    },
    getValues(){
        return this.value_;
    },
    setValue(val){
        this.value_=val;
        this.valueText_=typeof(this.value_)=='object'&& this.value_!==null?this.value_[this.valueField]:this.value_;
        this.onchangeOriginal({type:"change"});
        return;
        let opt = this.getOptions();
        if(typeof(val)=='object'){
            this.value_=val;
        }else{
            if(opt.length==0){
                this.valueCandidate=val;
            }else{
                let terpilih = opt.find(dt=>dt[this.valueField]==val)
                if(terpilih!==undefined){
                    this.value_=terpilih;
                }else{
                    this.value_=val;
                }
            }
        }
        // this.$forceUpdate();
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.valueText_===null||this.valueText_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setReadOnlyText(val){
        this.readonlyText_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if( ['change','keyup'].includes(type)){            
            this.$emit('update:value',this.getValue());
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.getValue(),evt)
            }else if(this.listener !== undefined){
                this.listener(this,type,this.getValue(),evt);
            }
        }
    }
  }
}
</script>

<style scoped>
[component~="Popupfield"]{
    /* margin-left:1px !important; */
}
.table th, .table td {
    padding: 0.2rem !important;
    font-size:small !important;
}
.datatableMultiModal>.modal>.modal-dialog>.modal-content>.modal-footer{
  display:none
}
.datatableMultiModal > .myDatatableDepan > .table-responsive >.table{
    width:100% !important;
    display: block;
}
</style>