<template>
  <CCard class="card-custom">
    <CCardBody>
      <CRow class="mb-4" >

        <CCol>
        <CRow sm="4" v-for="(item,idx) in layout.headerLeft" :key="idx">
          <CCol sm="4">
            <b>{{item.label}}</b>
          </CCol>
          <CCol sm="8">
            : {{ data[item.dataIndex] }}
          </CCol>
        </CRow>
        </CCol>

        <CCol v-if="usingCenter_">
        <CRow sm="4" v-for="(item,idx) in layout.headerCenter" :key="idx">
          <CCol sm="4">
            <b>{{item.label}}</b>
          </CCol>
          <CCol sm="8">
            : {{ data[item.dataIndex] }}
          </CCol>
        </CRow>
        </CCol>
        
        <CCol>
        <CRow sm="4" v-for="(item,idx) in layout.headerRight" :key="idx">
          <CCol sm="4">
            <b>{{item.label}}</b>
          </CCol>
          <CCol sm="8">
            : {{ data[item.dataIndex] }}
          </CCol>
        </CRow>
        </CCol>

      </CRow>
      <div class="table-responsive-sm" v-for="(dt,idx) in layout.details" :key="idx">
        <h6>
          {{dt.title}}
        </h6>
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th v-for="(col,jdx) in dt.columns" :key="jdx" class="center">
                {{col.text}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(apiData,j) in data[dt.root]" :key="j">
              <td v-for="(col,jdx) in dt.columns" :key="jdx" :class="col.align">
                <template v-if="!col.html"> {{ apiData[col.dataIndex]}} </template>
                <p v-else v-html="col.html(apiData)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      
    </CCardBody>
  </CCard>
</template>
<script>
export default {
  name: "Preview",
  data() {
    return {
      usingCenter_ : true, 
    };
  },
  props: {
    data        : Object,
    layout      : Object, 
    usingCenter : {
      type:Boolean,
      default:true
    },
  },
  mounted() {
    // window.console.log(this.layout,this.data)
  },
  created() {
    this.usingCenter_ = this.usingCenter;
  },
  methods: {
    refresh(data){
      // console.log(data)
    }
  },
};
</script>
<style>

</style>
<template>
  <CCard class="card-custom">
    <CCardBody>
      <CRow class="mb-4" >

        <CCol>
        <CRow sm="4" v-for="(item,idx) in layout.headerLeft" :key="idx">
          <CCol sm="4">
            <b>{{item.label}}</b>
          </CCol>
          <CCol sm="8">
            : {{ data[item.dataIndex] }}
          </CCol>
        </CRow>
        </CCol>

        <CCol v-if="usingCenter_">
        <CRow sm="4" v-for="(item,idx) in layout.headerCenter" :key="idx">
          <CCol sm="4">
            <b>{{item.label}}</b>
          </CCol>
          <CCol sm="8">
            : {{ data[item.dataIndex] }}
          </CCol>
        </CRow>
        </CCol>
        
        <CCol>
        <CRow sm="4" v-for="(item,idx) in layout.headerRight" :key="idx">
          <CCol sm="4">
            <b>{{item.label}}</b>
          </CCol>
          <CCol sm="8">
            : {{ data[item.dataIndex] }}
          </CCol>
        </CRow>
        </CCol>

      </CRow>
      <div class="table-responsive-sm" v-for="(dt,idx) in layout.details" :key="idx">
        <h6>
          {{dt.title}}
        </h6>
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th v-for="(col,jdx) in dt.columns" :key="jdx" class="center">
                {{col.text}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(apiData,j) in data[dt.root]" :key="j">
              <td v-for="(col,jdx) in dt.columns" :key="jdx" :class="col.align">
                <template v-if="!col.html"> {{ apiData[col.dataIndex]}} </template>
                <p v-else v-html="col.html(apiData)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      
    </CCardBody>
  </CCard>
</template>
<script>
export default {
  name: "Preview",
  data() {
    return {
      usingCenter_ : true, 
    };
  },
  props: {
    data        : Object,
    layout      : Object, 
    usingCenter : {
      type:Boolean,
      default:true
    },
  },
  mounted() {
    // window.console.log(this.layout,this.data)
  },
  created() {
    this.usingCenter_ = this.usingCenter;
  },
  methods: {
    refresh(data){
      // console.log(data)
    }
  },
};
</script>

