<template>
    <CRow form class="form-group" style="margin-top: 1rem;" v-if="!hidden_">
      <CCol sm="3" tag="label" class="col-form-label" v-if="label_!==''">
        {{label_}}
      </CCol>
      <CCol>
      <b-form-radio-group 
          v-model="value_" 
          :options="options_" 
          :state="!( (value_===null||value_=='') && required_)" 
          :name="name_"
          value-field="value"
          text-field="label"
          :disabled="readonly_"
          @input="change"
          v-b-tooltip.hover.bottomright 
          :title="required_?'Required':'Optional'"
        >
        <b-form-invalid-feedback :state="!( (value_===null||value_=='') && required_)">{{textInvalid}}</b-form-invalid-feedback>
        <b-form-valid-feedback :state="!( (value_===null||value_=='') && required_)">{{textValid}}</b-form-valid-feedback>
      </b-form-radio-group>
    </CCol>
      </CRow>
</template>
<script>
export default {
  name: 'Radiofield',
  props: {
    required: {
        type:Boolean,
        required:false
    },
    name: {
        type:String,
        required:false
    },
    value:{
        type:String,
        default:null
    },
    label: {
        type:String,
        default:'Radiofield'
    },
    options: {
        type:Array,
        default(){
            return[
              { value: 'option1', label: 'Custom label'},
              { value: 'option2', label: 'Custom label2'}
            ];
        }
    },
    listener:null,
    readonly:false,
    hidden:false
  },
  data () {
    return {
      textValid : "",
      textInvalid: "Choose one",
      isValid:true,
      value_:null,
      required_:false,
      readonly_:false,
      hidden_:false,
      label_:"",
      name_:"",
      options_:[],
      placeholder_:"",
    }
  },
  created(){
    this.value_=this.value;
    this.required_=this.required;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.options_=this.options;
    this.readonly_=this.readonly;
    this.setReadOnly(this.readonly_);
    this.onchangeOriginal({type:"created"});
  },
  methods: {
    change(event){
      this.onchangeOriginal(event);
    },
    getValue(){
        return this.value_;
    },
    setValue(val=''){
        if(this.options_.find(dt=>{return dt.value==val})){
          this.value_=val;
          this.$forceUpdate()
          this.onchangeOriginal({type:"change"});
          return true;
        }
        return false;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        this.options_ = this.options_.map(dt=>{
          Object.assign(dt,{
            props:{
              disabled:this.readonly_,
              style:"margin-top:3px"
            }
          });
          return dt;
        });
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if(type=='change'){            
            this.$emit('update:value',this.getValue());
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.value_,evt)
            }
        }
    }
  }
}
</script>