<template>
    <CRow form class="form-group">
        <CCol md="3" class="col-form-label">
        {{label}}
        </CCol>
        <CCol >
            <b-form-rating v-model="$data._value" variant="success" ></b-form-rating>
        </CCol>
    </CRow>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'Ratingfield',
  props: {
    value: {
        type:Number,
        default:0
    },
    label: {
        type:String,
        default:'Ratingfield'
    },
    readonly:false
  },
  mounted(){
    this.$data._value=this.value;
  },
  data () {
    return {
        data: '08:40',
    }
  },
  methods: {
  }
}
</script>