<template>
    <CRow form class="form-group" v-if="!hidden_">
        <CCol sm="3" class="col-form-label" v-if="label_!==''&&label_!==null">
            {{label_}}
        </CCol>
        <CCol>
          <v-select
            v-if="!inline"
            autocomplete="off"        
            @search="select2cari" 
            :options="options_"       
            v-model="value_"
            :name="name_"
            :disabled="readonly_"
            :label="displayField_"
            :reduce="reducer" 
            :class="getValid()?'select-form-control valid':'select-form-control invalid'"
            :appendToBody="true"
            @input="change"
        ></v-select>
        <v-select
            v-if="inline"
            autocomplete="off"
            @search="select2cari" 
            :options="options_"       
            v-model="value_"
            :disabled="readonly_"
            :label="displayField_"
            :reduce="reducer" 
            :class="getValid()?'select-form-control valid':'select-form-control invalid'"
            :appendToBody="true"
            @input="changeInline"
        ></v-select>
            <b-form-invalid-feedback :state="getValid()">{{textInvalid}}</b-form-invalid-feedback>
            <b-form-valid-feedback :state="!getValid()">{{textValid}}</b-form-valid-feedback>
        </CCol>
    </CRow>
</template>
<script>
import { type } from 'os';
export default {
  name: 'Selectfield',
  props: {
    reduce:{
        type:Function
    },
    displayField: {
        type:String,
        required:false
    },
    valueField: {
        type:String,
        required:false
    },
    name: {
        type:String,
        required:false
    },
    value:  {
        default:null
    },
    label: {
        type:String,
        default:'Label'
    },
    options: {
        type:Array,
        default(){
            return [];
        }
    },
    placeholder: {
        type:String,
        default:''
    },
    api: {
        type:Object
    },
    autoSelect: {
        type:Boolean,
        default:false
    },
    listener:null,
    overrideParams:undefined,
    readonly:false,
    required:false,
    hidden:false,
    inline:false
  },
  data () {
    return {
        api_:{},
        textValid : "",
        textInvalid: "Required",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        displayField_:"",
        autoSelect_:true,
        valueField_:"",
        options_:[],
        placeholder_:"",
        search:null,
        valueCandidate:null
    }
  },
  created(){ 
    let me = this;   
    this.value_=this.value;
    this.required_=this.required;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.options_=this.options;
    this.readonly_=this.readonly;    
    this.displayField_=this.displayField,
    this.valueField_=this.valueField,
    this.autoSelect_=this.autoSelect;
    this.api_=this.api;
    this.setReadOnly(this.readonly_);
    this.onchangeOriginal({type:"created"});
    me.setValue(this.value);
    // console.log(me.api_['model'])
    // if(me.api_!==undefined){
        me.load(function(dt){
            if(me.autoSelect_ && dt.length>0){
                me.setValue(me.inline?me.value_:me.reducer(dt[0]));
            }
        });

    // }
  },
  methods: {
    reducer(choosen){
        if( typeof(this.reduce)=='function' ){
            return this.reduce(choosen)
        }
        return choosen[this.valueField_]??choosen;
    },
    load(callback=function(dt){}){
      if(!this.api_){callback(this.options_); return;}
      let me = this;
      let url = "";
      if(me.api_.url!==undefined){
        url = me.api_.url;
      }else if(me.api_.model!==undefined){
          url = me.apiOperationUrl + me.api_.model;
      }
      let params = me.api_.parameters?me.api_.parameters:{};
      params['search'] = me.search;
      if(me.overrideParams!==undefined){
          Object.assign(params,me.overrideParams(me,params));
      }
      if(me.api_.overrideParams!==undefined){
          Object.assign(params,me.api_.overrideParams(me,params));
      }
      url = url+"?"+ new URLSearchParams(params);
      fetch(url, {
          method: 'GET', 
          mode: 'cors',
          cache: 'no-cache',
          credentials: 'same-origin', 
          headers: me.$store.state.apiHeader,
          redirect: 'follow',
          referrerPolicy: 'no-referrer'
      })
      .then(response => 
          response.json() )
      .then(data => {
        let fixedData = me.api_.root?data[me.api_.root]:data;
        let arrayData = fixedData.map(function(row){
            let func = me.api_.transform;
            if(typeof(func)=='function'){
                return func(row);
            }
            return row;
        });
        me.setOptions(arrayData);
        if(me.getValueCandidate()){
            let terpilih = arrayData.find(dt=>dt[this.valueField]==me.getValueCandidate()||dt[this.displayField]==me.getValueCandidate());
            if(terpilih!==undefined){
                me.value_=me.reducer(terpilih);
            }else{
                let rowdata = {};
                rowdata[me.displayField_]=me.valueCandidate;
                arrayData.push(rowdata)
                me.setOptions(arrayData);
                me.value_=me.reducer(rowdata);
            }
            this.onchangeOriginal({type:"change_auto"});
            me.valueCandidate=undefined;
        }else if(me.getValue()!==null){
            me.setValue(me.value_)
        }
        callback(me.options_);
      })
      .catch((error) => {
        me.options_=[];
      })
    },
    getValueCandidate(){
        return this.valueCandidate;
    },
    select2cari(search,loading){
        if(search.length===0 || !this.getApi() || !(this.getApi().url || this.getApi().model) ){
            this.search = null;
            return
        };
        this.onchangeOriginal({type:"search"});
        this.search = search;
        this.load();
    },    
    setApi(val={}){
        this.api_=val;
        this.load();
        return true;
    },
    getApi(){
        return this.api_;
    },
    getOptions(){
        return this.options_;
    },
    setOptions(arrayData){
        this.options_=arrayData;
        this.value_=null;
        this.$forceUpdate();
        return true;
    },
    change(a){
      this.onchangeOriginal({type:"change"});
    },
    getValue(){        
        let val = this.value_;
        if(val===null){
            val = {};
            val[this.valueField]=null;
            val[this.displayField]=null;
            val = this.reducer(val)
        }
        return val;
    },
    getValueFull(){
        return this.options_.find(dt=>{return dt[this.valueField]==this.value_});
    },
    setValue(val){
        if(this.getOptions().length==0){
            this.valueCandidate=val;
            // this.load(function(dt){
                // this.setValue(val);
            // });
        }else{
            this.value_=val;
        }
        // this.onchangeOriginal({type:"change"});
        return;
        if(typeof(val)=='object'){
            this.value_=val;
        }else{
            if(opt.length==0){
                this.valueCandidate=val;
            }else{
                let terpilih = opt.find(dt=>dt[this.valueField]==val)
                if(terpilih!==undefined){
                    this.value_=terpilih;
                }else{
                    this.value_=val;
                }
            }
        }
        // this.$forceUpdate();
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if(type=='change'){
            let value = this.getValue();
            if(typeof(value)=="object"){
            let nullable = true;
                for(let k in value){
                    if(value[k]!==null){
                        nullable = false;
                        break;
                    }
                }                
                this.$emit('update:value',nullable?null:value);
            }else{                
                this.$emit('update:value',value);
            }
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                let val = this.value_;
                if(val===null){
                    val = {};
                    val[this.valueField]=null;
                    val[this.displayField]=null;
                    val = this.reducer(val)
                }
                this.$parent.listener(this,type,val,evt);
            }else if(this.listener !== undefined){
                let val = this.value_;
                if(val===null){
                    val = {};
                    val[this.valueField]=null;
                    val[this.displayField]=null;
                    val = this.reducer(val)
                }
                this.listener(this,type,val,evt);
            }
        }
    },
    changeInline(){
        this.onchangeOriginal({type:"change"});
    },
  }
}
</script>
<style>
.select-form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.vs__dropdown-toggle {
    padding: 0 0 6px !important;
    max-height: 38px !important;
}
.valid>.vs__dropdown-toggle {
    border: solid #28a745 1px !important;
}
.invalid>.vs__dropdown-toggle {
    border: solid #dc3545 1px !important;
}
.select-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.select-valid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
}
</style>