<template>
    <CRow v-if="label=='rowspaces'" />
    <CRow v-else>
      <CCol class="col-form-label" style="margin:5px 0 2px 0;" v-if="label!==''">
        <div style="text-decoration: underline;font-size:18px;font-weight:normal;" v-html="label"></div>
      </CCol>
    </CRow>
</template>
<script>
export default {
  name: 'Space',
  props: {
    label: {
        type:String,
        default:''
    },
    label: {
        type:String,
        default:'Space'
    },
    readonly:false
  },
  data () {
    return {
    }
  },
  mounted(){
  },
  methods: {
  }
}
</script>