<template>
    <CRow form class="form-group">
        <CCol md="3" class="col-form-label">
        {{label}}
        </CCol>
        <CCol >
            <b-form-spinbutton v-model="data" min="1" max="100"></b-form-spinbutton>
        </CCol>
    </CRow>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'Spinnerfield',
  props: {
    value: {
        type:Number,
        default:0
    },
    label: {
        type:String,
        default:'Spinnerfield'
    },
    readonly:false
  },
  data () {
    return {
        data: 2,
    }
  },
  methods: {
  }
}
</script>