<template>
    <CRow form class="form-group">
        <CCol sm="3" class="col-form-label">
        {{label}}
        </CCol>
        <CCol >
            <b-form-tags v-model="data"></b-form-tags>
        </CCol>
    </CRow>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'Tagfield',
  props: {
    value: {
        type:Number,
        default:0
    },
    label: {
        type:String,
        default:'Tagfield'
    },
    readonly:false
  },
  data () {
    return {
        data: [],
    }
  },
  methods: {
  }
}
</script>