<template>
    <CInput
        :horizontal="
            label_==''||label_===null?
            { label: 'col-sm-0', input: 'col-sm-12'}:
            { label: 'col-sm-3', input: 'col-sm-9'}
        "
        autocomplete="off"
        :valid-feedback="textValid"
        :invalid-feedback="textInvalid"
        :is-valid="(value_===null||value_=='')?!required_:isValid"
        :label="label_"
        :name="name_"
        :readonly="readonly_"
        :placeholder="placeholder_"
        v-model="value_"
        v-if="!hidden_"
        @change="onchangeOriginal"
        @focus="onchangeOriginal"
        @keydown="keyDown"
        @keyup="keyUp"
        v-b-tooltip.hover.bottomright 
        :title="required_?'Required':'Optional'"
    />
</template>
<script>
export default {
  name: 'Textnumberfield',
  props: {
    allow: {
        type:Array,
        default(){
            return [];
        }
    },
    name: {
        type:String,
        required:false
    },
    value:  {
        type:String,
        default:null
    },
    label: {
        type:String,
        default:'Textnumber'
    },
    placeholder: {
        type:String,
        default:''
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        textValid : "",
        textInvalid: "",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        placeholder_:"",
    }
  },
  created(){
    this.value_=this.value;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.keyUp({type:"change"});
  },
  methods: {
    keyDown(event){
        (this.allow).push("Tab");
        let key = event.key;
        if( !(this.allow).includes(key)){
            if( !(/^[0-9]{1,}$/).test(key)
                && !["ArrowLeft","ArrowRight","Backspace","Delete"].includes(key)
                && !(event.ctrlKey===true && ["v","c","x","a"].includes(key)) ){
                event.preventDefault();
                return false;
            }
        }
    },
    keyUp(event){
        this.isValid=true;
        for(let i in (this.value_)){
            let key = this.value_[i];
            if( !(this.allow).includes(key)){
                this.isValid=(/^[0-9]{1,}$/).test(key) ;
            }
            if(!this.isValid){
                this.textInvalid=(this.value_==null || this.value_=='')?'':"Invalid Numeric Text";
                break;
            }
        }
        this.onchangeOriginal(event);
    },
    getValue(){
        return this.value_;
    },
    setValue(val=''){
        this.value_=val;
        this.$forceUpdate()
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if( ['change','keyup'].includes(type)){            
            this.$emit('update:value',this.getValue());
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.value_,evt)
            }
        }
    }
  }
}
</script>