<template>
    <CRow form class="form-group" v-if="!hidden_">
        <CCol sm="3" class="col-form-label" v-if="label_!==''">
          {{label_}}
        </CCol>
        <CCol >
            <b-form-timepicker 
              :state="getValid()"
              now-button
              hide-header
              no-close-button
              :name="name_"
              :label-now-button="'Now'"
              reset-button
              :readonly="readonly_"
              v-model="value_"
              @input="onchangeOriginal"
              :label-no-time-selected="required_?'Required':'Optional'"
              v-b-tooltip.hover.bottomright 
              :title="required_?'Required':'Optional'"
            >
            </b-form-timepicker>
            <b-form-invalid-feedback :state="getValid()">{{textInvalid}}</b-form-invalid-feedback>
            <b-form-valid-feedback :state="!getValid()">{{textValid}}</b-form-valid-feedback>
        </CCol>
    </CRow>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'Timefield',
  props: {
    value: {
        type:String,
        default:"00:00:00"
    },
    name: {
        type:String,
        required:false
    },
    label: {
        type:String,
        default:'Timefield'
    },
    placeholder: {
        type:String,
        default:'00:00:00'
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false
  },
  data () {
    return {
        textValid : "",
        textInvalid: "Required",
        isValid:true,
        value_:null,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        placeholder_:"",
    }
  },
  created(){
    this.value_=this.value;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.onchangeOriginal({type:"created"});
  },
  methods: {
    getValue(){
        return this.value_;
    },
    setValue(val=''){
        this.value_=val;
        this.$forceUpdate()
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.value_,evt)
            }
        }
    }
  }
}
</script>
<style scoped>
  .b-form-btn-label-control.dropdown.b-form-timepicker.form-control.d-flex.h-auto.align-items-stretch{
    max-height: 38px !important;
  }
</style>