<template>
    <CRow form class="form-group" v-if="!hidden_">
        <CCol sm="3" class="col-form-label" v-if="label_!==''">
            {{label_}}
        </CCol>
        <CCol>                        
        <!-- <input id="myInput" type="file" v-if="2==1" /> -->
            <CInputFile v-if="(value_===null||value_=='')&&loading_==0"
                horizontal
                autocomplete="off"
                custom
                style="margin-left:0px;width:133.5%"
                @change="change"
                :is-valid="(value_===null||value_=='')?!required_:isValid"
                :valid-feedback="textValid"
                :invalid-feedback="textInvalid"
                :disabled="readonly_"
                :placeholder="placeholder_"
                v-b-tooltip.hover.bottomright 
                :title="required_?'Required':'Optional'"
            />
            <CRow v-else>
                <CCol :style="(value_!==null||value_!='')&&loading_==100?'padding-right:0px;':''">
                    <CProgress :value="loading_" :max="100" style="height:2rem;" color="success" show-value :animated="loading_<100" show-percent>
                        <CProgressBar :value="loading_" color="gradient-default">                        
                        <span v-if="(value_!==null||value_!='')&&loading_==100"><strong>File OK</strong></span>         
                        <span v-else>Uploading: <strong>{{loading_}}%</strong></span>
                        </CProgressBar>
                    </CProgress>
                </CCol>
                <CCol class="text-right" style="margin-left:0;padding-left:0;max-width:fit-content" v-if="(value_!==null||value_!='')&&loading_==100">
                <CButton color="success" size="sm" style="margin-left:1px"
                    @click="openFile"
                    v-c-tooltip="{
                        content: 'Open File',
                        active: false,
                        placement: 'bottom-start'
                    }"
                >
                    <CIcon name="cil-zoom" />
                </CButton>
                <CButton color="danger" size="sm" style="margin-left:1px" :disabled="btnClearDisabled_" :v-if="!btnClearHidden_"
                    @click="clearing"
                    v-c-tooltip="{
                        content: 'Clear Content',
                        active: false,
                        placement: 'right'
                    }"
                >
                    <CIcon name="cil-delete"/>
                </CButton>
                </CCol>
            </CRow>
        </CCol>
    </CRow>
</template>
<script>
export default {
  name: 'Uploadfield',
  props: {
    url: {
        type:String,
        default:null
    },
    name: {
        type:String,
        required:false
    },
    model: {
        type:String
    },
    keyFile: {
        type:String,
        default:"file"
    },
    value:  {
        type:String,
        default:null
    },
    label: {
        type:String,
        default:'Label'
    },
    placeholder: {
        type:String,
        default:''
    },
    listener:null,
    readonly:false,
    required:false,
    hidden:false,
    btnClearDisabled:{
        type:Boolean,
        default:false
    },
    btnClearHidden:{
        type:Boolean,
        default:false
    }
  },
  data () {
    return {
        model_:"",
        loading_:0,
        value_:null,
        textValid : "",
        textInvalid: "",
        isValid:true,
        required_:false,
        readonly_:false,
        hidden_:false,
        label_:"",
        name_:"",
        placeholder_:"",
        url_:"",
        btnClearDisabled_:this.btnClearDisabled||null,
        btnClearHidden_:this.btnClearHidden
    }
  },
  created(){
    this.model_=this.model;
    this.value_=this.value==''?null:this.value;
    this.loading_=this.value_!==null&&this.value_!==''?100:0;
    this.required_=this.required;
    this.readonly_=this.readonly;
    this.hidden_=this.hidden;
    this.label_=this.label;
    this.name_=this.name;
    this.placeholder_=this.placeholder;
    this.url_=this.url;
    this.onchangeOriginal({type:"created"});
  },
  methods: {
    change(files,event){
        let me = this;
        var formData = new FormData();
        formData.append(this.keyFile, files[0] );
        this.loading_=0;
        this.apiCreateUpload({
            model:this.model_,
            data:formData
        },function(response){    
            me.url_=response;
            me.value_=response.replace(/\\\//g, "/").replace(/"/g,"");
            me.onchangeOriginal(event);
        },function(error){
            me.value_=null;
            me.$alertify.alertWithTitle('Warning!',error);
        },function(progress){
            if (progress.lengthComputable)
            {
                var percentComplete = (progress.loaded / progress.total);
                me.loading_=parseInt(percentComplete*100);
            }
        })
    },
    clearing(){
        this.value_=null;
        this.url_=null;
        this.loading_=0;
        this.onchangeOriginal({type:"change"});
    },
    openFile(){
        console.log(this.value_)
        window.open(this.value_, '_blank');
    },
    getValue(){
        return this.value_;
    },
    setUrl(val){
        this.url_=val;
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setValue(val=''){
        this.value_=val;
        if(val!=""||val!==null){
            this.loading_=100;
        }
        this.$forceUpdate()
        this.onchangeOriginal({type:"change"});
        return true;
    },
    setError(val=''){
        this.textInvalid=val;
        this.isValid=false;
        return true;
    },
    getError(){
        return this.textInvalid;
    },
    getValid(){
        return (this.value_===null||this.value_=='')?!this.required_:this.isValid;
    },
    setSuccess(val=''){
        this.textValid=val;
        this.isValid=true;
        return true;
    },
    setLabel(val){
        this.label_=val;
        return true;
    },
    setRequired(val){
        this.required_=val;
        return true;
    },
    setHidden(val){
        this.hidden_=val;
        return true;
    },
    setReadOnly(val){
        this.readonly_=val;
        return true;
    },
    setPlaceholder(val){
        this.placeholder_=val;
        return true;
    },
    onchangeOriginal(evt){
        let type='change';
        if(evt['type']!==undefined){
            type=evt.type;
        }
        if( ['change'].includes(type)){            
            this.$emit('update:value',this.getValue());
        }
        if(this.listener!==null){
            if(this.$parent.listener !== undefined){
                this.$parent.listener(this,type,this.getValue(),evt)
            }else{
                this.listener(this,type,this.getValue(),evt);
            }
        }
    }
  }
}
</script>