<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>
      <CCol md="12" style="margin-top:0px">
        <CCard>
          <CCardBody>
            <CTabs>
              <CTab active>
                <template slot="title">
                  <CIcon name="cil-calculator" /> Detail <!--gantilah jika perlu -->
                </template>
                <Detail
                  ref="detail1Panel"
                  :pagination="false"
                  :table-filter="false"
                  btn_class='text-center'
                  title=''
                  :key="detailKey"
                  :items.sync="user_role_detail"
                  @update:items="user_role_detail_on_change"
                >
                
                <!-- tabel add to list -->
                  <template #multiselect>
                    <DatatableMulti
                      :columnFilter="false"
                      :api="{
                        model: '/setup/role/_getrolechecklist',//gantilah isinya jika perlu 
                        autoLoad: true,
                        unique:'m_role_id',
                        parameters: {
                          paginate: 25,
                          filterField:'role_name,active_flag,_tercheck',
                        },
                        transform: function(row) { //gantilah isinya jika perlu 
                          row['m_role_id'] = row['id'];
                          delete row['id'];
                          return row
                        },
                        
                      }"
                      :fields="multiSelectFields"
                      :data="user_role_detail"
                      @onSelect="onSelect"
                    >
                    </DatatableMulti>
                  </template>
                <!-- tabel detail -->
                  <template #table>
                    <QDataTable
                      :key="detailKey"
                      :border="true"
                      :fields="multiSelectFieldsOnDetails"
                      :items.sync="user_role_detail"
                      :items-per-page="10"
                      :pagination="{
                        size: 'sm',
                        align: 'end',
                      }"
                      :responsive="true"
                      small
                    >
                    
                    
                    <template #no='{index}'>
                      <td class="text-center" style="text-align:center;width:5%">
                          <span>{{(index+1) }}</span>
                      </td>
                    </template>
                      <template #choose="{index}">
                        <td class="text-center">
                          <p class="text-center" style="margin:0px">
                            <CButton
                              color="danger"
                              variant="outline"
                              size="sm"
                              style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                              @click="user_role_detail = user_role_detail.filter( (dt,idx)=>idx!=index)"
                            >
                              <CIcon name="cil-trash" size="sm" />
                            </CButton>
                          </p>
                        </td>
                      </template>
                    </QDataTable>
                  </template>
                </Detail>
              </CTab>
            </CTabs>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
        >
          <CIcon name="cil-check-circle" /> Clear
        </CButton>
        <!-- <CButton style="margin-right:5px" type="reset" size="sm" color="danger" @click="reset">
          <CIcon name="cil-ban"/> Reset</CButton> -->
      </CCol>
    </CRow>
  </div>
</template>
<script>
import rawData from "./data.json";
import VueAlertify from 'vue-alertify';
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },
  data() {
    return {
      title: "Master User Role", //gantilah
      apiEndpoint: "/setup/User", //gantilah
      routeEndpoint: "/setup/master_user_role", //gantilah
      values: {
        //gantilah
        active_flag: "ACTIVE",
        user_id: null,
      },
      isDetailUpdate: false,
      user_role_detail: [],
      show_filter:true,
      id: null,
      rowSpaces:[
        
      ],
      properties: {
          user_id:{
            valueField: "id",
            displayField: "m_user_login",
            reduce: (row) => {
              return { user_id: row.id, user: row.m_user_login };
            },
            api: {
              autoLoad: false,
              model: "/setup/user",
              parameters: {
                pageSize: 10000,
              },
              overrideParams(element, oldParams){
              //console.log("coba");
              try {
                let me = element.$parent.$parent
                let nonUserRole = 0;
                if(me.id == null){
                  nonUserRole = 1;
                }else{ 
                  nonUserRole = 0;
                }
                Object.assign(oldParams, {
                  nonUserRole: `${nonUserRole}`
                })
              } catch (error) {console.log(error)}
              return oldParams;
              },
              root: "model",
            },
          }
      },
      multiSelectFieldsOnDetails: [
        { key:'no',_style:"text-align:center;width:10%", width:10, filter:false,sorter:false},
        { key:'role_name',label: 'Role Name',_classes  :"text-center",_style:"text-align:center;width:40%", width:40, filter:true,sorter:true},
        { key:'active_flag',label: 'Status',_classes  :"text-center",_style:"text-align:center;width:40%", width:40, filter:true,sorter:true},
        { key:"choose",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
      ],
      multiSelectFields: [
        { key:"no",
         _style:"text-align:center;width:10%", 
         width:10
        }, 
        {
          key: "role_name",
          label:'Role Name',
          _style:"text-align:center;width:40%",
          width:40 
        },
        { key:"active_flag",
          label:'Status',
          _style:"text-align:center;width:40%",
          width:40
        },
        { key:"choose",
          _style:"text-align:center;width:10%",
          width:10
        }, 
      ],
      key: 0,
      detailKey: 0,
      hideHeader: true,
    };
  },
  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.show_filter=false;
      this.id = this.$route.params.id;
      this.apiRead(
        {
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },
        function(response) {//console.log("m_parent_id", response.model.m_parent_id);
          me.$refs.header.getFields("user_id").setReadOnly(true);
          response.model.user_id =  response.model.m_user_id;
          response.model.user =  response.model.m_user_login;
          me.$refs.header.setValues(response.model);
          // me.$refs.header.getFields().user_id[0].setValue({
          //   user_id : response.model.id
          // });
          me.user_role_detail = response.model.detail;//gantilah
          me.detailKey++;
          // console.log(response.model);
          console.log(me.$refs.header);
        },
        function(error) {
          console.log(error);
        }
      );
    }else{
      // let cek_user = this.$store.state.user;
      //   if(cek_user!=="undefined" && (cek_user.m_company_code.toLowerCase()).includes("btm")){
      //     me.$refs.header.setValues({ m_company_price_type : "NONTAX"});
      //   }else{
      //     console.log(me.$refs.header.apiOperationUrl);
      //     me.$refs.header.setValues({ m_company_price_type : "EXCLUDE"});
      //   }
      //console.log("cek_user", cek_user);
      console.log("create", me.$refs.header);
    }
  },
  mounted() {
     let me = this;
     //me.$refs.header.getFields("user_id").load();
  },
  methods: {
    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "User Role" });
      }
    },
    beforeSubmit(){ //gantilah isinya
      if(this.user_role_detail.length==0){
        vm.$alertify.alertWithTitle('Warning','Silahkan isi Detail minimal 1 baris')
        return false;
      }
      return true;
    },
    user_role_detail_on_change(data) {
      console.log(data);
    },
    onSelect(data) {
      this.user_role_detail = this.user_role_detail.concat(
        data
      );
    },
    // beforeSubmit() {
    //   //gantilah isinya
    //   // let is_primary = false;
    //   // for (let index in this.transaction_detail) {
    //   //   is_primary = this.transaction_detail[index].is_primary;
    //   //   if (is_primary) {
    //   //     return true;
    //   //   }
    //   // }
    //   // if (!is_primary) {
    //   //   vm.$alertify.alertWithTitle(
    //   //     "Warning!",
    //   //     "Maaf, Silahkan pilih salah satu Primary Responsibility"
    //   //   );
    //   //   return false;
    //   // }
    // },
    submit() {
      let me = this;
      if(!this.$refs['header'].getValid() || !this.beforeSubmit()){
        return;
      }
      let val = this.values;
      let  processedDetailData = [];
      for (let index = 0; index <  this.user_role_detail.length; index++) {
         processedDetailData.push({
              "m_user_d_isspecial": false,
              "m_role_id": this.user_role_detail[index]['m_role_id'],
              "m_user_d_type": "FG",
          });
      }
      let values = {
          "postloop": processedDetailData
      }
      //console.log("CROTTT", values);
      //values["status"] = "ACTIVE" ? true : false;
      //console.log("CROOTT2", values);
      if (me.id === null) {
        me.apiCreate(
          {
            model: me.apiEndpoint+"detail/postloop/"+this.values.user_id,
            data: values,
          },
          function(response) {
            me.$parent.setCreating(false);
            //me.$router.push({ name: "Business Unit" });
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiCreate(
          {
            model: me.apiEndpoint+"detail/postloop/"+this.values.user_id,
            data: values,
          },
          function(response) {
            me.$router.push({ name: "User Role" });
            //me.$router.push({ name: "Business Unit" });
          },
          function(error) {
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
<style></style>