<template>
  <div>
    <CRow>
      <CCol>
        <transition name="fade">
          <Formulir v-if="isCreating" />
          <Datatable
            v-else
            ref="landing"
            :api="{
              model: apiEndpoint,
              parameters: {
                paginate: 25,
                countDetail: 1,
                filterField:'m_user_login,employee_name',

              },
              transform: function(dt) {
                dt['text'] = dt['nama'];
                return dt;
              },
            }"
            :fields="fields"
            :paginate="25"
          >
            <template #header>
              <CIcon name="cil-grid" /> {{ title }}
              <div class="card-header-actions">
                <CCol>
                  <CRow>
                    <CButton
                      color="success"
                      variant="outline"
                      size="sm"
                      style="margin-right:5px"
                      @click="isCreating = true"
                    >
                      &nbsp;Create&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-playlist-add"
                      />
                    </CButton>
                    <!-- <CButton color="secondary" variant="outline">
                        &nbsp;Print&nbsp;&nbsp;<CIcon name="cil-print"/>
                    </CButton> -->
                    <CButton color="warning" variant="outline" size="sm">
                      &nbsp;Export&nbsp;&nbsp;<CIcon
                        size="sm"
                        name="cil-arrow-thick-to-bottom"
                      />
                    </CButton>
                  </CRow>
                </CCol>
              </div>
            </template>
            <template
              v-for="(fieldData, fieldIndex) in fields"
              v-slot:[fieldData.key]="{ item }"
            >
              <td
                :style="getWidth(fieldData.key, fields)"
                :key="fieldIndex"
                :class="fieldData._classes"
              >
                <p
                  class="text-center"
                  style="margin:0px"
                  v-if="fieldData.key == 'active_flag'"
                >
                  <CBadge
                    :color="
                      item[fieldData.key] == 'ACTIVE' ? 'primary' : 'danger'
                    "
                  >
                    {{ item[fieldData.key] }}
                  </CBadge>
                </p>
                <span v-else>{{ item[fieldData.key] }}</span>
              </td>
            </template>
            <template #action="{item}">
              <td :style="getWidth('action', fields)">
                <p class="text-center" style="margin:0px">
                  <CButton
                    color="success"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    :to="$route.path + '/' + item.id"
                  >
                    <CIcon name="cil-pencil" size="sm" />
                  </CButton>
                  <CButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    @click="
                      apiDelete(
                        {
                          model: 'setup/userdetail/_Role',
                          id: item.id,
                        },
                        function(dt) {
                          $refs.landing.load();
                        }
                      )"
                  >
                    <CIcon name="cil-trash" size="sm" />
                  </CButton>
                  <CButton
                    color="warning"
                    variant="outline"
                    size="sm"
                    style="margin-right:2px;padding-top:0px;padding-bottom:0px"
                    @click="action(item)"
                  >
                    <CIcon name="cil-search" size="sm" />
                  </CButton>
                </p>
              </td>
            </template>
          </Datatable>
        </transition>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import Formulir from "./Form";
import Preview from "./Preview";
export default {
  components: { Formulir },
  data() {
    return {
      title: "User Role", //gantilah
      apiEndpoint: "/setup/user", //gantilah
      isCreating: false,
      fields: [
        {
          key: "no",
          _style: "text-align:center;width:5%",
          width: 5,
          filter: false,
          sorter: false,
        },
        {
          key: "m_user_login",
          label: "User Login",
          _style: "text-align:center;width:45%",
          width: 45,
          filter: true,
          sorter: true,
        },
        {
          key: "employee_name",
          label: "Employee Name",
          _style: "text-align:left;width:40%",
          width: 40,
          filter: true,
          sorter: true,
        },
        {
          key: "action",
          _classes: "text-center",
          _style: "text-align:center;width:10%",
          width: 10,
        },
      ],
    };
  },
  activated() {
    this.$refs.landing.load();
  },
  methods: {
    action(item){
      let me = this;
      this.$modal.show(
          Preview,
          { row: item,parent:me },
          { height: 'auto',modal:true }
        )
    },
  },
};
</script>
