<template>
  <div>
    <CRow>
      <CCol>
        <transition name="fade">
          <Datatable
            ref="landing"
            :api="{
              model: apiEndpoint,
              parameters: {
                paginate: 100,
                userLoginID : row.id,
                filterField:'role_name,m_user_d_type'

              },
              transform: function(dt) {
                dt['text'] = dt['nama'];
                return dt;
              },
            }"
            :fields="fields"
            :paginate="25"
          >
          </Datatable>
        </transition>
      </CCol>
    </CRow>
  </div>
</template>

<script>
export default {
props:["row","parent"],
data() {
    return {
      title: "User Role", //gantilah
      apiEndpoint: "/setup/userdetail", //gantilah
      fields: [
        {
          key: "no",
          _style: "text-align:center;width:5%",
          width: 5,
          filter: false,
          sorter: false,
        },
        {
          key: "role_name",
          label: "Role Name",
          _style: "text-align:center;width:45%",
          width: 45,
          filter: true,
          sorter: true,
        },
        {
          key: "m_user_d_type",
          label: "User Type",
          _style: "text-align:left;width:40%",
          width: 40,
          filter: true,
          sorter: true,
        },
      ],
    };
  },
activated() {
  this.$refs.landing.load();
},
methods: {},
};
</script>
