<template>
  <div>
    <CRow>
      <CCol md="12">
        <Form
          ref="header"
          :rawData="formData"
          :index="0"
          :cols="2"
          :props.sync="properties"
          :formWidth="'100%'"
          :fieldWidth="'100%'"
          :key="key"
          :values.sync="values"
          :rowSpaces="rowSpaces"
        >
          <template #header>
            <CButton
              color="danger"
              variant="outline"
              size="sm"
              style="float:left"
              @click="back"
            >
              <CIcon name="cil-arrow-thick-from-right" size="sm" /> Cancel
            </CButton>
            <strong style="left: 50%; float:right;">{{ title }}</strong>
          </template>
        </Form>
      </CCol>
      <CCol class="text-center" style="margin-bottom:5px">
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="primary"
          @click="submit"
        >
          <CIcon name="cil-check-circle" /> Submit
        </CButton>
        <CButton
          style="margin-right:5px"
          type="submit"
          size="sm"
          color="danger"
          @click="$refs.header.reset()"
        >
          <CIcon name="cil-check-circle" /> Clear
        </CButton>
        <!-- <CButton style="margin-right:5px" type="reset" size="sm" color="danger" @click="reset">
          <CIcon name="cil-ban"/> Reset</CButton> -->
      </CCol>
    </CRow>
  </div>
</template>
<script>
import rawData from "./data.json";
import DecoderPdf from "@/elements/DecoderPdf";
export default {
  name: "Formulir",
  computed: {
    formData: function() {
      return rawData;
    },
  },
  data() {
    return {
      title: "Master User", //gantilah
      apiEndpoint: "/setup/user", //gantilah
      routeEndpoint: "/setup/master_user", //gantilah
      values: {
        //gantilah
        active_flag: "ACTIVE",
        m_user_type: "USER",
        m_user_level: "USER"
      },
      // isDetailUpdate: false,
      id: null,
      rowSpaces:[
        // {
        //   id: "m_warehouse_phone",
        //   position: "after",
        //   total:1
        // }
      ],
      properties: {
        m_company_id:{
          displayField: `m_company_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_company_id: row.id, m_company: row.m_company_name };
          },
          api: {
            autoLoad: false,
            model: "/setup/businessunit",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
            },
            root: "model",
          },
          // listener(element, type, value, event){
          //   // console.log()
          //   if(["change"].includes(type)){
          //     console.log(element.$parent.$parent)
          //     let me = element.$parent.$parent;
          //     me.$refs.header.setValues({
          //       m_depo_id:null,
          //       m_depo:null
          //     })
          //     me.values.m_company_id = value.m_company_id;
          //     me.values.m_company = value.m_company;
          //     me.$refs.header.getFields("m_depo_id").load()
          //   }
          // }
        },
        m_depo_id:{
          displayField: `m_depo_name`,
          valueField:"id",
          reduce: (row) => {
            return { m_depo_id: row.id, m_depo: row.m_depo_name };
          },
          api: {
            model: "/setup/depo",
            parameters: {
              pageSize: 1000,
              activeFlag: "ACTIVE",
              // companyID: 35
            },
            root: "model",
            // overrideParams(element, oldParams){
            //   //console.log("coba");
            //   try {
            //     let me = element.$parent.$parent
            //     let values = me.$refs.header?.getValues();
            //     let cek_user = me.$store.state.user;
            //     let companyID = 0;
            //     if(me.id == null){
            //       if(values == null || values == undefined){
            //         companyID = cek_user.m_company_id;
            //       }else{
            //         companyID = values.m_company_id;
            //       }
            //     }else{ 
            //       companyID = me.values.m_company_id
            //       // if(values == null || values == undefined){
            //       // }else{
            //       //   companyID = values.m_company_id;
            //       // }
            //     }
            //     Object.assign(oldParams, {
            //       companyID: `${companyID}`
            //     })
            //   } catch (error) {console.log(error)}
            //   return oldParams;
            // },
            
          },
        },
        active_flag: {
          options: ["ACTIVE","INACTIVE"],
        },
        m_user_level: {
          options: ["USER","DEPO","BU","ALL"],
        },
        m_user_type: {
          options: ["USER","ADMIN"],
        },
        m_user_issales:{
          checkone:true,
          options:[{label:"SALES",value:true}]
        },
        m_user_istemp:{
          checkone:true,
          options:[{label:"SALES PAMERAN",value:true}]
        },
        m_user_isspv:{
          checkone:true,
          options:[{label:"",value:true}]
        },
        m_employee:{
          reduce:(row)=>{ return {
              m_employee_id :row.id,
              m_employee    :row.m_employee_name,
              m_company_id  :row.m_company_id,
              m_company     :row.company_name,
              m_depo_id     :row.m_depo_id,
              m_depo        :row.depo_name,
            };
          },
          valueField:"id",//hampir g penting kalah dengan #penting-01
          api:{
            autoLoad:true,
            model:'/Setup/Employee',
            parameters:{
              paginate: 50,
            }
          },
          fields:[
              { key:'no',_style:"text-align:center;width:5%", width:5, filter:false,sorter:false},
              { key:'m_employee_code',label: "NIK",_style:"text-align:center;width:15%", width:15, filter:true,sorter:true},
              { key:'company_code',label: "BU Code",_style:"text-align:center;width:10%", width:10, filter:true,sorter:true},
              { key:'company_name',label: "BU Name",_style:"text-align:center;width:25%", width:25, filter:true,sorter:true},
              { key:'depo_name',label: "Depo",_style:"text-align:center;width:15%", width:15, filter:true,sorter:true},
              { key:'m_employee_name',label: "Employee Name",_style:"text-align:center;width:23%", width:23, filter:true,sorter:true},
              { key:"action",_classes  :"text-center",_style:"text-align:center;width:10%",width:10 }
          ],
          listener(element, type, value, event){
            // console.log()
            if(["change"].includes(type)){
              console.log(element)
              let formHeader = element.$parent.$parent.$refs.header;
              formHeader.$refs.m_depo_id[0].setValue({
                m_depo_id :value.m_depo_id,
                m_depo: value.m_depo
              });
              
              formHeader.$refs.m_company_id[0].setValue({
                m_company_id :value.m_company_id,
                m_company: value.m_company
              });
              console.log(formHeader);
              //   formHeader.setValues({
              //     m_company_id:this.$refs.header.getValues()["m_company_id"],
              //     m_company:this.$refs.header.getValues()["m_company"],
              //     m_depo_id:this.$refs.header.getValues()["m_depo_id"],
              //     m_depo:this.$refs.header.getValues()["m_depo"]
              // })
            }
          }
        },
      },
      key: 0,
      detailKey: 0,
      hideHeader: true,
    };
  },
  created() {
    let me = this;
    window.coba = this;
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.apiRead(
        {
          model: me.apiEndpoint,
          id: me.$route.params.id,
        },
        function(response) {
          console.log(me);
          me.$refs.header.setValues(response.model);
          // me.$refs.header.getFields("m_depo_id").load();
          // console.log(response.model);
          // console.log(me.$refs.header.getValues());
        },
        function(error) {
          console.log(error);
        }
      );
    }else{
      console.log("create", me);
    }
  },
  mounted() {
    //  let me = this;
    //  if (this.$route.params.id == undefined) {
    //   console.log('mounted',me);
    //   let cek_user = this.$store.state.user;
    //   me.$refs.header.setValues(
    //     { 
    //       m_company_id : cek_user.m_company_id, 
    //       m_depo_id : cek_user.m_depo_id
    //       }
    //   );
    //  }
  },
  methods: {
    back() {
      if (this.$parent.isCreating) {
        this.$parent.isCreating = false;
      } else {
        this.$destroy();
        this.$router.push({ name: "User" });
      }
    },
    transaction_detail_on_change(data) {
      console.log(data);
    },
    onSelect(data) {
      //this.transaction_detail = this.transaction_detail.concat(data);
    },
    // beforeSubmit() {
    //   //gantilah isinya
    //   // let is_primary = false;
    //   // for (let index in this.transaction_detail) {
    //   //   is_primary = this.transaction_detail[index].is_primary;
    //   //   if (is_primary) {
    //   //     return true;
    //   //   }
    //   // }
    //   // if (!is_primary) {
    //   //   vm.$alertify.alertWithTitle(
    //   //     "Warning!",
    //   //     "Maaf, Silahkan pilih salah satu Primary Responsibility"
    //   //   );
    //   //   return false;
    //   // }
    // },
    submit() {
      let me = this;
      if (!this.$refs["header"].getValid()) {
        return;
      }
      let val = this.values;
      let values = me.$refs["header"].getValues();
      //console.log("CROTTT", values);
      //values["status"] = "ACTIVE" ? true : false;
      //console.log("CROOTT2", values);
      if (me.id === null) {
        me.apiCreate(
          {
            model: me.apiEndpoint,
            data: values,
          },
          function(response) {
            me.$parent.setCreating(false);
            //me.$router.push({ name: "Warehouse" });
          },
          function(error) {
            console.log(error);
          }
        );
      } else {
        me.apiUpdate(
          {
            model: me.apiEndpoint,
            id: me.id,
            data: values,
          },
          function(response) {
            me.$router.push({ name: "User" });
          },
          function(error) {
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
<style></style>